<h1>Blocking</h1>

<div class="settings--section-head">
  Once you block someone, that person can no longer tag you, follow you, view your profile or see your feed posts.
</div>
<div class="container">
  <div class="notification-settings--headers row">
    <label for="example-email-input" class="col-xs-3 col-form-label">Block Users</label>
    <div class="col-xs-9 text-xs-right">
      <div class="form-inline">
        <input type="input" class="form-control" placeholder="Search user to block...">
        <button type="submit" class="btn btn-primary">Block</button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <ul class="blocked-user--list">
      <li>
        <div class="stream-item--title-block">
          <span class="avatar-block">
            <a class="author-avatar">
              <img src="https://kitsu-media.s3.amazonaws.com/users/avatars/2/medium.jpeg?1444332940">
            </a>
          </span>
          <div class="author-info">
            <a class="author-name">
              Josh
            </a>
          </div>
          <a href="#" class="unblock-cta">
            Unblock
          </a>
        </div>
      </li>
      <li>
        <div class="stream-item--title-block">
          <span class="avatar-block">
            <a class="author-avatar">
              <img src="https://kitsu-media.s3.amazonaws.com/users/avatars/2/medium.jpeg?1444332940">
            </a>
          </span>
          <div class="author-info">
            <a class="author-name">
              Josh
            </a>
          </div>
          <a href="#" class="unblock-cta">
            Unblock
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
