<h1>Notifications</h1>

<div class="settings--section-head">
  General site-wide notifications
</div>
<div class="container">
  <div class="row">
    <ul class="notification-settings--table">
      <li class="notification-settings--headers">
        <div class="settings-column col-xs-5"></div>
        <div class="settings-column checkbox-wrapper col-xs-2">
          Site
        </div>
        <div class="settings-column checkbox-wrapper col-xs-2">
          Email
        </div>
        <div class="settings-column checkbox-wrapper col-xs-2">
          Push
        </div>
      </li>
      <li class="notification-settings--item">
        <label class="settings-column col-xs-5">Post Likes</label>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
      </li>
      <li class="notification-settings--item">
        <label class="settings-column col-xs-5">Post Replies</label>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
      </li>
      <li class="notification-settings--item">
        <label class="settings-column col-xs-5">Mentions</label>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
      </li>
      <li class="notification-settings--item">
        <label class="settings-column col-xs-5">New Follows</label>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
        <div class="settings-column checkbox-wrapper col-xs-2">
          <div>
            <input type="checkbox">
            <label class="checkbox-label"></label>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
