<h1>Password</h1>

<div class="settings--section-head">
  Change your password or recover your current one
</div>
<div class="container">
  <div class="form-group row">
    <label for="example-text-input" class="col-xs-4 col-form-label">Current Password</label>
    <div class="col-xs-8">
      <input class="form-control" type="password">
      <small><a href="#">Forgot your password?</a></small>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-xs-4 col-form-label">New Password</label>
    <div class="col-xs-8">
      <input class="form-control" type="password">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-xs-4 col-form-label">Confirm Password</label>
    <div class="col-xs-8">
      <input class="form-control" type="password">
    </div>
  </div>
</div>
