<h1>Privacy</h1>

<div class="settings--section-head">
  Adjust others ability to view your content
</div>
<div class="container">
  <div class="form-group row">
    <label for="example-email-input" class="col-xs-4 col-form-label">Tagging</label>
    <div class="col-xs-8">
      <select class="form-control">
        <option value="all-tags" selected="">Allow anyone to tag me</option>
        <option value="follow-tags">Only allow people I follow to tag me</option>
        <option value="no-tags">Do not allow anyone to tag me</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-email-input" class="col-xs-4 col-form-label">Profile Privacy</label>
    <div class="col-xs-8">
      <label class="form-check-label">
       <input type="checkbox" class="form-check-input">
       Protect my Posts
     </label>
      <small>If selected, only those you approve will be able to view your future posts.</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-email-input" class="col-xs-4 col-form-label">Discoverability</label>
    <div class="col-xs-8">
      <label class="form-check-label">
       <input type="checkbox" class="form-check-input">
       Hide from Global Feed
     </label>
      <small>If selected, your posts will only be available to your followers and guests to your profile.</small>
    </div>
  </div>
</div>
