{{#if isEnabled}}
  <ins class="adsbygoogle" data-ad-slot={{slot}} data-ad-client={{client}} data-ad-format="auto"></ins>
{{else}}
  <div class="empty-container">
    <p>Ads suck, but that's how we keep the lights on. Please disable your adblocker.</p>
  </div>
{{/if}}
