{{#if isEnabled}}
  <ins class="adsbygoogle" data-ad-slot={{slot}} data-ad-client={{client}} data-ad-format="auto"></ins>
{{else}}
  <div class="empty-container">
    <p>HEY, THERES AN AD HERE! </p>
  </div>
{{/if}}