{{#if isOpened}}
  <div> {{! https://github.com/yapplabs/ember-wormhole/issues/66#issuecomment-263575168 }}
  {{#ember-tether
    class=tooltipClass
    target=target
    attachment=(or attachment "top right")
    targetAttachment=(or targetAttachment "bottom right")
    offset=(or offset "-30px 0px")
  }}
    <div class="search--drop">
      <p class="search--header">Search Results</p>
      <div style="overflow: auto">
        {{! media group }}
        {{search-results/group
          group="media"
          items=groups.media
          isLoading=mediaTask.isRunning
          onPagination=(perform nextPageTask "media")
          close=(action "close")}}
        {{! groups group }}
        {{search-results/group
          group="groups"
          items=groups.groups
          isLoading=groupsTask.isRunning
          moreLink=(href-to "groups.index" (query-params query=query))
          close=(action "close")}}
        {{! users group }}
        {{search-results/group
          group="users"
          items=groups.users
          isLoading=usersTask.isRunning
          onPagination=(perform nextPageTask "users")
          close=(action "close")}}
      </div>
    </div>
  {{/ember-tether}}
  </div>
{{/if}}
