/* stylelint-disable scale-unlimited/declaration-strict-value */

.tag {
  border-radius: 9999px;
  padding: 4px 10px;
  font-size: var(--font-xs);
  font-weight: var(--font-semi-bold);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: nowrap;
}

.red {
  background-color: #d95e40;
}

.orange {
  background-color: #f2992e;
}

.green {
  background-color: #56bc8a;
}

.blue {
  background-color: #529ecc;
}

.purple {
  background-color: #a77dc2;
}
