.input {
  height: 3.375rem;
  padding: 13px 22px;
  border: var(--input-border);
  border-radius: var(--radius-medium);
  background-color: var(--input-background);
  color: var(--input-text-color);
}

.input:invalid {
  border: var(--input-invalid-border);
}

.input::placeholder {
  color: var(--input-text-color);
  opacity: 0.5;
}
