<div class="favorite-categories">
  <h5>MY FAVORITE CATEGORIES</h5>
  <div class="categories-list">
    <div>Fantasy</div>
    <div>Comedy</div>
  </div>
</div>
<div class="categories">
  <h5>CATEGORIES</h5>
  {{explore/category-widget/categories-list categories=getDataTask.last.value}}
</div>
