<ul class="media--unit-grid row">
  {{#each units as |unit|}}
    <li class="col-lg-4 col-sm-6">
      <a href={{href-to (concat media.modelType ".show." (if (eq media.modelType "anime") "episodes" "chapters") ".show") unit}}>
        {{media/units/unit-thumbnail unit=unit libraryEntry=libraryEntry media=media}}
      </a>
    </li>
  {{/each}}
</ul>