<div class="footer-social">
  <a href="#" class="kitsu-social">
    {{svg-jar "l-github"}}
  </a>
  <a href="#" class="kitsu-social">
    {{svg-jar "l-twitter"}}
  </a>
  <a href="#" class="kitsu-social">
    {{svg-jar "l-facebook"}}
  </a>
</div>
<div class="footer-links">
  <a href="#" class="site-link">Contact</a>
  <a href="#" class="site-link">Jobs</a>
  <a href="#" class="site-link">Privacy</a>
  <a href="#" class="site-link">Terms</a>
  <a href="#" class="site-link">About</a>
</div>