<h6>{{t "users.activity.onboarding.welcome" user=session.account.name}}</h6>
<p>{{t "users.activity.onboarding.about" htmlSafe=true}}</p>
<strong>{{t "users.activity.onboarding.action" htmlSafe=true}}</strong>