// Vendor
// All the CSS files from external libraries and frameworks. Not from us, not
// our code, not our responsibility. Placed first for overrides
@import
  'bootstrap-flex', // CSS Framework used site-wide
  'vendor/noui',
  'vendor/hint', // lightweight css tooltips
  'ember-power-select/themes/bootstrap',
  'ember-power-select';

// Base
// Contains what we might call the boilerplate code for Kitsu. Things such as
// typographic rules, colors, resets, etc.
@import
  'base/_colors', // Colors used site-wide
  'base/_base', // General CSS styles
  'base/_shame', // Declarations, hacks and naughty code we're not proud of.
  'base/_typography', // how text appears on the site
  'base/_animate.scss'; // animation library

// Components
// While layout/ is macro (defining the global wireframe), components/ is more
// focused on widgets. It holds specific modules likes media, thumbnails, etc.
@import
  'components/_dropdowns', // rules for bootstraps default dropdowns
  'components/_avatars', // various user avatar rules
  'components/_buttons', // buttons used site-wide
  'components/_switch', // Toggle switch styles
  'components/_tabs'; // Tabs used on settings and edit profile

// Layout
// Contains everything that takes part in laying out Kitsu. Things such as the
// header, footer, forms, etc.
@import
  'layout/_z-index', // z-index scale
  'layout/_navbar', // Navigation Bars
  'layout/_cover-images', // Cover section found on user and media pages
  'layout/_modals', // various pop-up modal styles
  'layout/_linked-profiles', // profile connect view within edit profile modal
  'layout/_favorites', // Favorites and edit favorites fields
  'layout/_login-register-modal', // Onboarding, Login, Register, Forgot pass
  'layout/_feeds', // Activity feeds
  'layout/_sidebars'; // Siderbars for feeds


// Pages
// Page-specific styles, in a file named after the page.
@import
  'pages/_library', // User library page
  'pages/_media-browse'; // Browse anime, manga, etc.

// Utilities
// Gathers Sass tools and helpers used across the project. Global variables,
// functions, mixins and placeholders should be placed here.
@import
  'utilities/_mixins'; // CSS Mixins used site-wide
