<!-- Placeholder Template -->
<a href="#" {{action "changeComponent" "sign-up"}} data-test-selector="sign-up-email">
  Sign up with email
</a>

Have an account?
<a href="#" {{action "changeComponent" "sign-in"}} data-test-selector="sign-in-email">
  Login
</a>