{{! I've Started This }}
<button class="started-button button button--secondary" {{action onStatusChange "current"}}>
  {{t "library-entry.state.watching-this"}}
</button>

{{! I've Finished This }}
<button class="completed-button button button--secondary button--muted" {{action onStatusChange "completed"}}>
  {{t "library-entry.state.finished-this"}}
</button>