<div class="library-state-progress-wrapper">
  {{#unless hideText}}
    <span>{{t "library-entry.state.progress"}}</span>
  {{/unless}}
  <div class="entry-progress library-state-progress">
    {{one-way-number libraryEntry.progress
      min=0
      max=media.unitCount
      update=(action "updateProgress")
      placeholder="0"
    }}
    <span>
      <span class="sep">/</span>
      {{totalProgressText}}
    </span>
  </div>
</div>