<div class="tab-content">
  {{users/edit-profile/body/about-me id="about-me"
    class=(if (eq tab "about-me") "active")
    user=user
    addRecord=addRecord
    removeRecord=removeRecord}}

  {{users/edit-profile/body/profile-links id="profile-links"
    class=(if (eq tab "profile-links") "active")
    user=user
    addRecord=addRecord
    removeRecord=removeRecord}}

  {{users/edit-profile/body/favorites id="favorites"
    class=(if (eq tab "favorites") "active")
    user=user
    externalData=externalData
    addRecord=addRecord
    removeRecord=removeRecord}}
</div>