<section class="trending-banner">
  <div class="container">
    <div class="row">
      <div class="trending-banner--titles col-md-7">
        <div class="row">
          <div class="trending-banner--header col-sm-12">
            <h5 class="trending-row--title">Trending in your Network</h5>
          </div>

          <!-- trending post -->
          <div class="trending-poster col-md-3">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <ul class="participating-following">
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li class="stream-like-count" data-ember-action="" data-ember-action-3951="3951">
                <a>28</a>
              </li>
            </ul>
          </div>

          <!-- trending post -->
          <div class="trending-poster col-md-3">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <ul class="participating-following">
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li class="stream-like-count" data-ember-action="" data-ember-action-3951="3951">
                <a>28</a>
              </li>
            </ul>
          </div>

          <!-- trending post -->
          <div class="trending-poster col-md-3">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <ul class="participating-following">
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li class="stream-like-count" data-ember-action="" data-ember-action-3951="3951">
                <a>28</a>
              </li>
            </ul>
          </div>

          <!-- trending post -->
          <div class="trending-poster col-md-3">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <ul class="participating-following">
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li class="stream-like-count" data-ember-action="" data-ember-action-3951="3951">
                <a>28</a>
              </li>
            </ul>
          </div>

          <!-- trending post -->
          <div class="trending-poster col-md-3">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <ul class="participating-following">
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li class="stream-like-count" data-ember-action="" data-ember-action-3951="3951">
                <a>28</a>
              </li>
            </ul>
          </div>

          <!-- trending post -->
          <div class="trending-poster col-md-3">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <ul class="participating-following">
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li class="stream-like-count" data-ember-action="" data-ember-action-3951="3951">
                <a>28</a>
              </li>
            </ul>
          </div>

          <!-- trending post -->
          <div class="trending-poster col-md-3">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <ul class="participating-following">
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li class="stream-like-count" data-ember-action="" data-ember-action-3951="3951">
                <a>28</a>
              </li>
            </ul>
          </div>

          <!-- trending post -->
          <div class="trending-poster col-md-3">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <ul class="participating-following">
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li aria-label="Rentacletape" class="hint--top hint--bounce hint--rounded stream-like  ">
                <a href="/users/Rentacletape" class="like-avatar">
                  <img src="https://media.kitsu.io/users/avatars/99965/tiny.gif?1474208476">
                </a>
              </li>
              <li class="stream-like-count" data-ember-action="" data-ember-action-3951="3951">
                <a>28</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="trending-banner--activity col-md-5">
        <div class="trending-activity--header">
          <h5>Recent Activity</h5>
        </div>
        <!-- TODO: @vevix, show latest following feed. Only show most recent agg. story for media -->
        <ul class="following-activity">
          <li class="activity-item">
            <div class="media">
              <a href="#" class="media-poster">
                <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
              </a>
              <div class="media-body">
                <div class="agg-item ember-view">
                  <span class="agg-avatar">
                    <img src="https://media.kitsu.io/users/avatars/81817/tiny.gif?1459378850">
                  </span>
                  <span class="agg-action">
                    <a href="/users/Jelly_Belly">Jelly_Belly</a>
                    and <strong>12 others</strong>
                    watched episode 2
                  </span>
                </div>
                <h5 class="mt-0">Fullmetal Alchemist: Brotherhood</h5>
                <small>12 minutes ago</small>
              </div>
            </div>
          </li>

          <li class="activity-item">
            <div class="media">
              <a href="#" class="media-poster">
                <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
              </a>
              <div class="media-body">
                <div class="agg-item ember-view">
                  <span class="agg-avatar">
                    <img src="https://media.kitsu.io/users/avatars/81817/tiny.gif?1459378850">
                  </span>
                  <span class="agg-action">
                    <a href="/users/Jelly_Belly">Jelly_Belly</a>
                    and <strong>12 others</strong>
                    watched episode 2
                  </span>
                </div>
                <h5 class="mt-0">Fullmetal Alchemist: Brotherhood</h5>
                <small>12 minutes ago</small>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
