# unconventional js
jest.config.js
apollo.config.js
babel.config.js
postcss.config.js
vite.config.ts
.storybook/*
__mocks__/*

# compiled output
/dist/

# dependencies
/node_modules/

# misc
/coverage/
!.*
