# See http://help.github.com/ignore-files/ for more about ignoring files.

# client

dist
fastboot-dist
node_modules
bower_components
public/system/*
.coverage

# general

tmp/
*.log
.DS_Store
coverage
.zeus.sock
aws_env
.sass-cache
connect.lock
sftp-config.json
jsconfig.json
.vscode/
github_key
