# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/coverage

# dependencies
/node_modules
/bower_components

# misc
/.env*
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
.vscode/
TODO.md
CNAME
