<div class="media--unit-block">
  <div class="thumbnail-wrapper">
    {{lazy-image src=(image unit.thumbnail)}}
  </div>

  <div class="thumbnail-description">
    <h6>{{t "media.show.units.unit" type=unit.modelType}} {{unit.number}}</h6>
    <div class="info-emphasis thumb-caption">
      <span>{{unit.canonicalTitle}}</span>
    </div>
  </div>
</div>