.button {
  /*fall back presets */
  --selectedColor: var(--safe-grey);
  --hover-button-color: var(--button-lighten-safe-grey-100);
  --active-button-color: var(--button-lighten-safe-grey-200);

  gap: 8px;
  padding: 4px 16px;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-property: background-color, color, border-color, border-width;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out-sine;
  cursor: pointer;
}

.green {
  --selectedColor: var(--green);
  --hover-button-color: var(--button-lighten-green-100);
  --active-button-color: var(--button-lighten-green-200);

  --translucent-5: var(--button-translucent-green-5);
  --translucent-25: var(--button-translucent-green-25);
}

.red {
  --selectedColor: var(--red);
  --hover-button-color: var(--button-lighten-red-100);
  --active-button-color: var(--button-lighten-red-200);

  --translucent-5: var(--button-translucent-red-5);
  --translucent-25: var(--button-translucent-red-25);
}

.blue {
  --selectedColor: var(--blue);
  --hover-button-color: var(--button-lighten-blue-100);
  --active-button-color: var(--button-lighten-blue-200);

  --translucent-5: var(--button-translucent-blue-5);
  --translucent-25: var(--button-translucent-blue-25);
}

.yellow {
  --selectedColor: var(--yellow);
  --hover-button-color: var(--button-lighten-yellow-100);
  --active-button-color: var(--button-lighten-yellow-200);

  --translucent-5: var(--button-translucent-yellow-5);
  --translucent-25: var(--button-translucent-yellow-25);
}

.safe-purple {
  --selectedColor: var(--safe-purple);
  --hover-button-color: var(--button-lighten-safe-purple-100);
  --active-button-color: var(--button-lighten-safe-purple-200);

  --translucent-5: var(--button-translucent-safe-purple-5);
  --translucent-25: var(--button-translucent-safe-purple-25);
}

.safe-grey {
  --selectedColor: var(--safe-grey);
  --hover-button-color: var(--button-lighten-safe-grey-100);
  --active-button-color: var(--button-lighten-safe-grey-200);

  --translucent-5: var(--button-translucent-safe-grey-5);
  --translucent-25: var(--button-translucent-safe-grey-25);
}

.primary {
  color: white;
  background-color: var(--selectedColor);
  border: 1px solid transparent;
  &:hover {
    background-color: var(--hover-button-color);
    border: var(--button-primary-border);
  }
  &:active {
    background-color: var(--active-button-color);
    border: var(--button-primary-border);
  }
}

.outline {
  color: var(--button-outline-text-color);
  background-color: var(--default-outline-background);
  border: var(--button-outline-border);
  &:hover {
    color: var(--hover-button-color);
    background-color: transparent;
    border: 1px solid var(--hover-button-color);
  }
  &:active {
    color: var(--active-button-color);
    background-color: var(--translucent-5);
    border: 1px solid var(--active-button-color);
  }
}

.borderless {
  color: var(--selectedColor);
  background-color: transparent;
  border: var(--border);
  &:hover {
    color: var(--hover-button-color);
    background-color: transparent;
  }
  &:active {
    color: var(--active-button-color);
    background-color: var(--translucent-25);
  }
}

.screen {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  &:hover {
    color: black;
    background-color: white;
  }
  &:active {
    color: black;
    background-color: rgb(218, 218, 218);
  }
}

/*Dimensional Configs*/
.small {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: var(--font-sm);
  border-radius: var(--radius-medium);
}

.medium {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: var(--font-me);
  border-radius: var(--radius-medium);
}

.large {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: var(--font-la);
  border-radius: var(--radius-medium);
}

.padding-xs {
  padding-left: 8px;
  padding-right: 8px;
}
.padding-sm {
  padding-left: 16px;
  padding-right: 16px;
}
.padding-md {
  padding-left: 28px;
  padding-right: 28px;
}
.padding-lg {
  padding-left: 48px;
  padding-right: 48px;
}
.padding-xl {
  padding-left: 72px;
  padding-right: 72px;
}

.disabled {
  background: var(--button-disabled-background);
  color: var(--button-disabled-text-color);
  border: var(--button-disabled-border);
}
