.button {
  padding: 4px 16px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.primary {
  background: var(--button-primary-background);
  color: var(--button-primary-text-color);
  border: var(--button-primary-border);
}

.inverted {
  background: var(--button-inverted-background);
  color: var(--button-inverted-text-color);
  border: var(--button-inverted-border);
}

.outline {
  background: var(--button-outline-background);
  color: var(--button-outline-text-color);
  border: var(--button-outline-border);
}

.disabled {
  background: var(--button-disabled-background);
  color: var(--button-disabled-text-color);
  border: var(--button-disabled-border);
}
