// Base
* {
  font-family: 'Open Sans', sans-serif;
  &:focus {
    outline: 0;
  }
}

body {
  background-color: #F4F4F4;
}
a {
  color: #E74B3E;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Ember Action
[data-ember-action]:not(:disabled) {
  cursor: pointer;
}
