body {
  background-color: $background-color;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $background-color;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @if $theme == 'kitsu-dark' {
    background: darken(desaturate($body-link-color, 30), 10);  
    &:hover {
      background: darken(desaturate($body-link-color, 50), 20);
    }
  }
  @if $theme == 'kitsu-light' {
    background: lighten($body-link-color, 5);
    &:hover {
      background: darken(desaturate($body-link-color, 0), 5);
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.form-control, input, textarea, .ember-power-select-trigger {
  @if $theme == 'kitsu-dark' {
    color: $input-text-color;
    background: lighten($foreground-background-color, 3);
    border: darken($background-color, 3);
  }
}

.staging-pro-gate {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #332532;
  width: 100%;
  z-index: 999;
  text-align: center;
  padding-top: 55px;
  color: #e75e45;
  font-size: 20px;
  a {
    color: #fff;
    text-decoration: underline;
  }
  img {
    max-width: 300px;
    border-radius: 25px;
    margin-top: 15px;
  }
  .pro-secondary {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

section {
  width: 100%;
}

img {
  max-width: 100%;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.centered {
  margin: 0 auto;
}

// Ember Action
[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

.card {
  background: $foreground-background-color;
  color: $body-text-color;
  @if $theme == 'kitsu-light' {
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
  }
  @if $theme == 'kitsu-dark' {
    box-shadow: none;
    border: none;
  }
}

.secondary-text {
  color: $foreground-background-color;
}

.role-tag {
  background-color: #9b9b9b;
  font-size: 10px;
  font-weight: normal;
  border-radius: 3px;
  padding: 3px 6px 3px 6px;
  position: relative;
  top: -2px;
  text-transform: uppercase;
}

.cover-user-info {
  .role-tag {
    font-size: 13px;
    background-color: #f75239;
    padding: 4px 10px;
    top: -3px;
  }
}

.nav-simple {
  .active {
    color: #686868;
  }
  .nav-link {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
// @josh move to report css file
.user-reports {
  .card {
    display: inline-block;
    a {
      color: #333;
    }
  }
  .card-text {
    font-style: italic;
  }
  .card-header {
    padding: 15px;
    img {
      width: 25px;
      border-radius: 999em;
    }
    h6 {
      margin-bottom: 0;
      position: relative;
      top: 8px;
    }
  }
}

.is-sticky {
  position: sticky;
  top: 65px;
}

.filter-icon {
  position: absolute;
  top: 3px;
  left: 6px;
}

.toggle {
  display: inline-block;
  height: 30px;
  input {
    display: none;
  }

  label {
    -webkit-appearance: none;
    display: inline-block;
    height: 30px;
    width: 56px;
    border-radius: 50px;
    background: #cacaca;
    position: relative;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    margin-bottom: 0;

    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      height: 26px;
      width: 26px;
      background: white;
      border-radius: 50%;
      border-radius: 16px;
      z-index: 1;
      animation: uncheck 0.3s ease-out;
      -webkit-animation: uncheck 0.3s ease-out;
      -moz-animation: uncheck 0.3s ease-out;
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
    }

  }

  input:checked + label {
    background: #1abc9c;

    &:before {
      transform: translateX(26px);
      -webkit-transform: translateX(26px);
      -moz-transform: translateX(26px);
      animation: check 0.3s ease-out;
      -webkit-animation: check 0.3s ease-out;
      -moz-animation: check 0.3s ease-out;
      transform-origin: 100% 0;
      -webkit-transform-origin: 100% 0;
      -moz-transform-origin: 100% 0;
    }

  }

}

@keyframes uncheck {
  0% {
    transform: translateX(26px);
  }
  20% {
    transform: translateX(13px) scaleX(1.5);
  }
  40% {
    transform: translateX(0px) scaleX(0.75);
  }
  70% {
    transform: translateX(6px) scaleX(1);
  }
  100% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes uncheck {
  0% {
    -webkit-transform: translateX(26px);
  }
  20% {
    -webkit-transform: translateX(13px) scaleX(1.5);
  }
  40% {
    -webkit-transform: translateX(0px) scaleX(0.75);
  }
  70% {
    -webkit-transform: translateX(6px) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}

@-moz-keyframes uncheck {
  0% {
    -moz-transform: translateX(26px);
  }
  20% {
    -moz-transform: translateX(13px) scaleX(1.5);
  }
  40% {
    -moz-transform: translateX(0px) scaleX(0.75);
  }
  70% {
    -moz-transform: translateX(6px) scaleX(1);
  }
  100% {
    -moz-transform: translateX(0px);
  }
}

@keyframes check {
  0% {
    transform: translateX(2px);
  }
  20% {
    transform: translateX(13px) scaleX(1.5);
  }
  40% {
    transform: translateX(26px) scaleX(0.75);
  }
  70% {
    transform: translateX(20px) scaleX(1);
  }
  100% {
    transform: translateX(26px);
  }
}

@-webkit-keyframes check {
  0% {
    -webkit-transform: translateX(2px);
  }
  20% {
    -webkit-transform: translateX(13px) scaleX(1.5);
  }
  40% {
    -webkit-transform: translateX(26px) scaleX(0.75);
  }
  70% {
    -webkit-transform: translateX(20px) scaleX(1);
  }
  100% {
    -webkit-transform: translateX(26px);
  }
}

@-moz-keyframes check {
  0% {
    -moz-transform: translateX(2px);
  }
  20% {
    -moz-transform: translateX(13px) scaleX(1.5);
  }
  40% {
    -moz-transform: translateX(26px) scaleX(0.75);
  }
  70% {
    -moz-transform: translateX(20px) scaleX(1);
  }
  100% {
    -moz-transform: translateX(26px);
  }
}

.list-unstyled {
  margin: 0;
}
