body {
  background-color: $alabaster;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

img {
  max-width: 100%;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding {
  padding: 0;
}

// Ember Action
[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

.card {
  background: $white;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
}
