body {
  background-color: $alabaster;
}

.staging-pro-gate {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #332532;
  width: 100%;
  z-index: 999;
  text-align: center;
  padding-top: 55px;
  color: #e75e45;
  font-size: 20px;
  a {
    color: #fff;
    text-decoration: underline;
  }
  img {
    max-width: 300px;
    border-radius: 25px;
    margin-top: 15px;
  }
  .pro-secondary {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

section {
  width: 100%;
}

img {
  max-width: 100%;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding {
  padding: 0;
}

// Ember Action
[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

.card {
  background: $white;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
}

// temporary until adsense is enabled
.empty-container {
  display: none;
}

.role-tag {
  background-color: #9b9b9b;
  font-size: 10px;
  font-weight: normal;
  border-radius: 3px;
  padding: 3px 6px 3px 6px;
  position: relative;
  top: -2px;
}

.cover-user-info {
  .role-tag {
    font-size: 13px;
    background-color: #f75239;
    padding: 4px 10px;
    top: -3px;
  }
}
