* {
  transition:      all 0.2s ease;
}

body {
  background-color: $alabaster;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Ember Action
[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

.ember-view {
  height: 100%;
}
