// Colors used throughout Kitsu. Naming conventions taken
// from http://chir.ag/projects/name-that-color/

$white: #FFF; // White used primarily in navs
$magnesium: #B4B5B7;
$porcelain: #5D6063; // off-white primarily used for secondary content
$gray: #E0E3E7; // Gray color generally used for borders atop $alabaster
$cinnabar: #E0544E; // Reddish-orange primarily used for links
$buttercup: #ffb33b; // Orange primarily used for rating stars
$charcoal: #464646; // Light Black primarily used for body copy
$mountain: #918F99; // Light grey used for body copy
$alabaster: #232129; // White primarily used for background
$caribbean: #62B285; // Green primarily used for buttons
$nobel: #B4B4B4; // Grey color used for buttons
$eggshell: #EEE; // Soft grey color used for dividers and secondary borders
$voodoo: darken(#232129,3); // Used for the background area of secondary content like quick-update
$card-background: #312F3A; // card backgrounds

$input-text-color: #fff;

.light-kitsu {
  $white: #FFF; // White used primarily in navs
  $porcelain: #EBEDEF; // off-white primarily used for secondary content
  $gray: #E0E3E7; // Gray color generally used for borders atop $alabaster
  $cinnabar: #f75239; // Reddish-orange primarily used for links
  $buttercup: #ffb33b; // Orange primarily used for rating stars
  $charcoal: #464646; // Light Black primarily used for body copy
  $alabaster: #FAFAFA; // White primarily used for background
  $caribbean: #16a085; // Green primarily used for buttons
  $nobel: #B4B4B4; // Grey color used for buttons
  $eggshell: #EEE; // Soft grey color used for dividers and secondary borders
  $voodoo: #332532; // Used for the background area of secondary content like quick-update

  $input-text-color: #55595c;
}
