// Colors used throughout Kitsu. Naming conventions taken
// from http://chir.ag/projects/name-that-color/

$white: #FFF; // White used primarily in navs
$porcelain: #EBEDEF; // off-white primarily used for secondary content
$gray: #E0E3E7; // Gray color generally used for borders atop $alabaster
$cinnabar: #EA4C37; // Reddish-orange primarily used for links
$buttercup: #F39C12; // Orange primarily used for rating stars
$charcoal: #464646; // Light Black primarily used for body copy
$alabaster: #FAFAFA; // White primarily used for background
$caribbean: #16A085; // Green primarily used for buttons
$nobel: #B4B4B4; // Grey color used for buttons
$eggshell: #EEE; // Soft grey color used for dividers and secondary borders
$river-bed: #464C5A; // Used for the background area of secondary content like quick-update
