// Dark theme colors
$header-background-color: #352f3e;

$background-color: #2f2c38;
$secondary-background-color: #292631;
$tertiary-background-color: #2f2d38;
$foreground-background-color: #3b3946;

$primary-cta-color: #62B285;
$secondary-cta-color: #999999; //old 6d6d6d

$body-text-color: #918F99;
$body-secondary-text-color: darken($body-text-color, 5);

$body-link-color: #ff8282;
$input-text-color: #ededed; //old fff
$active-link-color: #dedede; //old 3b3946

$divider-color: darken($background-color,4);

$rating-star-color: #ffb33b;

$white: #FFF;
$red: #ff4136;
