// Dark theme colors
$header-background-color: #312631;

$background-color: #221b22;
$secondary-background-color: #161116;
$tertiary-background-color: #312631;
$foreground-background-color: #433443;

$search-background-color: #312631;
$search-header-background: #292029;
$search-group-header-background: #382d38;
$search-group-header-border-top: none;
$search-group-header-border-bottom: 1px solid #312731;
$search-results-hover-background: #3a2c3a;

$notification-background-color: #312631;
$notifications-header-color: #292029;
$notification-new-background-color: $foreground-background-color;
$notification-hover-color: #2b212b!important;

$primary-cta-color: #408b61;
$secondary-cta-color: #6e6e6e;

$body-text-color: #cfcfcf;
$body-secondary-text-color: darken($body-text-color, 1);
$body-tertiary-text-color: #e6e6e6;

$body-link-color: #ff8282;
$input-text-color: #ededed;
$active-link-color: #dedede;

$divider-color: darken($background-color, 5);

$rating-star-color: #ffb33b;

$notifications-button-color: #7d677c;

$library-all-background-color: darken($foreground-background-color, 8);
$library-all-background-color-inactive: darken(
  $library-all-background-color,
  7
);
$library-all-background-color-hover: lighten($library-all-background-color, 15);
$status-current-background-color: #2c3e50;
$status-current-background-color-inactive: darken(
  $status-current-background-color,
  7
);
$status-current-background-color-hover: lighten(
  saturate($status-current-background-color, 15),
  10
);
$status-completed-background-color: #27ae60;
$status-completed-background-color-inactive: #238e50;
$status-completed-background-color-hover: lighten(
  $status-completed-background-color,
  5
);
$status-hold-background-color: #e3910e;
$status-hold-background-color-inactive: #b06f09;
$status-hold-background-color-hover: lighten($status-hold-background-color, 5);
$status-dropped-background-color: #a12f31;
$status-dropped-background-color-inactive: #5e1b1d;
$status-dropped-background-color-hover: lighten(
  $status-dropped-background-color,
  5
);
$status-planned-background-color: #2980b9;
$status-planned-background-color-inactive: #1e5d87;
$status-planned-background-color-hover: lighten(
  $status-planned-background-color,
  5
);
$library-current-text-color: #ededed;
$library-all-text-color: #e9e0e9;
$status-current-text-color: #d8e5f0;
$status-completed-text-color: #d7f1da;
$status-hold-text-color: #f3ebd3;
$status-dropped-text-color: #f7d7d8;
$status-planned-text-color: #ccdfeb;

$white: #fff;
$red: #ff4136;
