// Dark theme colors
$header-background-color: #352f3e;

$background-color: #2f2c38;
$secondary-background-color: #292631;
$tertiary-background-color: #2f2d38;
$foreground-background-color: #3b3946;

$primary-cta-color: #62B285;
$secondary-cta-color: #999999;

$body-text-color: #918F99;
$body-secondary-text-color: darken($body-text-color, 5);
$body-tertiary-text-color: #e6e6e6;

$body-link-color: #ff8282;
$input-text-color: #ededed;
$active-link-color: #dedede;

$divider-color: darken($background-color,4);

$rating-star-color: #ffb33b;

$notifications-button-color: #7d677c;

$library-all-background-color: #402F3F;
$library-all-background-color-inactive: darken($library-all-background-color,7);
$library-all-background-color-hover: lighten($library-all-background-color,57);
$status-current-background-color: #2c3e50;
$status-current-background-color-inactive: darken($status-current-background-color,7);
$status-current-background-color-hover: lighten($status-current-background-color,57);
$status-completed-background-color: #27ae60;
$status-completed-background-color-inactive: #238e50;
$status-completed-background-color-hover: lighten($status-completed-background-color, 42);
$status-hold-background-color: #e3910e;
$status-hold-background-color-inactive: #b06f09;
$status-hold-background-color-hover: lighten($status-hold-background-color,35);
$status-dropped-background-color: #A12F31;
$status-dropped-background-color-inactive: #5e1b1d;
$status-dropped-background-color-hover: lighten($status-dropped-background-color,47);
$status-planned-background-color: #2980b9;
$status-planned-background-color-inactive: #1e5d87;
$status-planned-background-color-hover: lighten($status-planned-background-color,42);
$library-current-text-color: #ededed;
$library-all-text-color: #8e8b8e;
$status-current-text-color: #8d9398;
$status-completed-text-color: #93ae96;
$status-hold-text-color: #b0aa96;
$status-dropped-text-color: #a49091;
$status-planned-text-color: #929a9f;

$white: #FFF;
$red: #ff4136;
