// Light theme colors
$header-background-color: #402F3F;

$background-color: #FAFAFA;
$secondary-background-color: #332532;
$foreground-background-color: #FFF;

$primary-cta-color: #16a085;
$secondary-cta-color: #B4B4B4;

$body-text-color: #464646;
$body-secondary-text-color: #999;

$body-link-color: #f75239;
$input-text-color: #55595c;

$divider-color: #e5e5e5;

$rating-star-color: #ffb33b;

$white: #FFF;
