// Light theme colors
$header-background-color: #402F3F;

$background-color: #f7f7f7;
$secondary-background-color: #332532;
$tertiary-background-color: #fafafa;
$foreground-background-color: #FFF;

$input-background-color: #fff;
$input-focus-color: #fff;
$input-secondary-action-background-color: #eceeef;

$close-text-shadow: #fff;

$search-background-color: #fff;
$search-header-background: #efeef1;
$search-group-header-background: #faf9fa;
$search-group-header-border-top: 1px solid #eee;
$search-group-header-border-bottom: 1px solid #eee;
$search-results-hover-background: #faf9fa;

$notification-background-color: $background-color;
$notifications-header-color: #fff;
$notification-new-background-color: #fff;
$notification-hover-color: lighten(#e5e5e5, 4);

$primary-cta-color: #16a085;
$secondary-cta-color: #B4B4B4;

$body-text-color: #464646;
$body-secondary-text-color: #999;
$body-tertiary-text-color: #999;

$body-link-color: #f75239;
$input-text-color: #55595c;
$active-link-color: #FFF;

$divider-color: #e5e5e5;

$rating-star-color: #ffb33b;

$notifications-button-color: #7d677c;

$library-all-background-color: #402F3F;
$library-all-background-color-inactive: lighten($library-all-background-color,67);
$library-all-background-color-hover: lighten($library-all-background-color,57);
$status-current-background-color: #2c3e50;
$status-current-background-color-inactive: lighten($status-current-background-color,67);
$status-current-background-color-hover: lighten($status-current-background-color,57);
$status-completed-background-color: #27ae60;
$status-completed-background-color-inactive: lighten($status-completed-background-color, 52);
$status-completed-background-color-hover: lighten($status-completed-background-color, 42);
$status-hold-background-color: #f39c12;
$status-hold-background-color-inactive: lighten($status-hold-background-color,45);
$status-hold-background-color-hover: lighten($status-hold-background-color,35);
$status-dropped-background-color: #A12F31;
$status-dropped-background-color-inactive: lighten($status-dropped-background-color,57);
$status-dropped-background-color-hover: lighten($status-dropped-background-color,47);
$status-planned-background-color: #2980b9;
$status-planned-background-color-inactive: lighten($status-planned-background-color,52);
$status-planned-background-color-hover: lighten($status-planned-background-color,42);
$library-current-text-color: #FFF;
$library-all-text-color: #8e8b8e;
$status-current-text-color: #8d9398;
$status-completed-text-color: #798e7b;
$status-hold-text-color: #9e9989;
$status-dropped-text-color: #867677;
$status-planned-text-color: #8e959a;

$white: #FFF;
$red: #ff4136;
