// Nothing is truly infamous, but what is wicked; and therefore,
// shame can never disturb an innocent and virtuous mind.
// -- WILLIAM SHERLOCK, A Practical Discourse Concerning a Future Judgment

// Hello
// -- WOPIAN


// temporary padding for fixed header. Will need to be addressed when dealing with cover photos.
body {
  padding-top: 80px;
}

// Need a more elegant solution for vertically centering primary-nav content. Currently the height of the
// avatar causes the header to become too large (due to the top and bottom padding) and forces the
// left-hand links to misalign vertically.
.nav-link.avatar {
  width: 25px;
  height: 25px;
  .avatar-image {
    position: absolute;
    right: 0;
    top: 8px;
  }
}

// No idea why, but the library content width for some reason isn't getting set.
// A fix for this issue would be great.
.container {
  width: 100%;
}

// Somewhat improves visual quality of circle outlines in header
// For non-retina displays
.site-search__input,
.notifications {
  transform: rotate(0.01deg);
}

// Need to find the cause of horizontal scroll on mobile devices
@media (max-width: 554px) {
    .global-container {
      overflow-x: hidden;
    }
    // Allow scrolling on the reports page until the overflow hack is no longer needed
    .user-reports {
      overflow-x: auto;
    }
    .settings--header {
      margin-top: 0;
    }
    .feed-container {
      overflow-y: hidden;
    }
}

// Hide extra whitespace created by the overflow hack above
@media (min-width: 432px) and (max-width: 554px) {
  body {
    padding-top: 42px;
  }
}

@media (max-width: 431px) {
  body.settings-page {
    padding-top: 42px;
  }
}

@media (max-width: 431px) {
  // Hide Kitsu logo on extremely small devices to prevent wrapping to 2 lines
  .navbar button + .nav-item {
    max-width: 28px;
    overflow: hidden;
  }
}

@media (max-width: 320px) {
  // Prevent header wrapping to 2 lines on logged out iPhone 5/SE
  .site-search__input {
    width: 125px;
  }
}

// Height fix until we migrate away from deprecated ember-one-way-controls in expanding-textarea
.report-content-input {
  min-height: 6rem;
}
