// Nothing is truly infamous, but what is wicked; and therefore,
// shame can never disturb an innocent and virtuous mind.
// -- WILLIAM SHERLOCK, A Practical Discourse Concerning a Future Judgment


// temporary padding for fixed header. Will need to be addressed when dealing with cover photos.
body {
  padding-top: 80px;
}

// Need a more elegant solution for vertically centering primary-nav content. Currently the height of the
// avatar causes the header to become too large (due to the top and bottom padding) and forces the
// left-hand links to misalign vertically.
.nav-link.avatar {
  width: 32px;
  height: 32px;
  .avatar-image {
    position: absolute;
    right: 0;
    top: 4px;
  }
}

// Running into an issue where I'm unable to align the edge of the absolutely positioned
// .cover-user-info area to 'right: 0', this hacky solution instead sets the max-width
// to match that of the container. More elegant solution is needed.
.cover-user-info {
  @media (min-width: 544px) {
    max-width: 576px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 940px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

// No idea why, but the library content width for some reason isn't getting set.
// A fix for this issue would be great.
.container {
  width: 100%;
}


// Need to fix svg size to align all social footer icons. This is a temporary fix for that.
.kitsu-social {
  &:first-child {
    svg {
      position: relative;
      top: -2px;
    }
  }
}


// temporarily hide non-functioning features
// @vevix, feel free to uncomment when this is functioning.

.about-me-profiles {
  display: none;
}

// menu for connected profiles in edit modal
#edit-profile-modal {
  a.nav-item.nav-link:nth-child(2) {
    display: none;
  }
}

.media-browse {
  .noUi-connect {
    // Temporarily fix green clipping far-right of slider on media browse
    margin-right: 0.1px;
  }
}

// Somewhat improves visual quality of circle outlines in header
// For non-retina displays
.site-search__input,
.notifications {
  transform: rotate(0.01deg);
}
