{{! @josh just leave me some buttons to hook up to PayPal and Stripe }}

{{#bootstrap/bs-modal largeModal=true backdrop="static" keyboard="false" onClose=onClose as |modal|}}
  {{#modal.header}}
    <h4>
      {{#if (eq tier "pro")}}
        BUYING PRO
      {{else if (eq tier "patron")}}
        BUYING PATRON
      {{/if}}
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    <!-- Bootstrap modal body -->
  {{/modal.body}}
  {{#modal.footer}}
    <!-- Bootstrap modal footer -->
  {{/modal.footer}}
{{/bootstrap/bs-modal}}
