<div class="favorite-categories">
  <h5>MY FAVORITE CATEGORIES</h5>
  <div class="categories-list">
    <div>Fantasy</div>
    <div>Comedy</div>
  </div>
</div>
<div class="categories">
  <h5>CATEGORIES</h5>
  <div class="categories-list">
    {{#each getDataTask.last.value as |category|}}
      <div>
        <a href={{href-to "explore.category" category.slug}}>{{category.name}}</a>
      </div>
    {{/each}}
  </div>
</div>
