<div>
  <h6>{{t (concat "titles." more "." type) mediaType=mediaType type=(capitalize mediaType) category=(capitalize categoryName)}}</h6>
</div>
<div class="explore-grid">
  {{#each getDataTask.last.value as |media|}}
    <div class="explore-poster">
      {{#media-popover media=media}}
        <a href={{href-to (concat media.modelType ".show") media.slug}} class="media-poster">
          {{lazy-image src=(image media.posterImage "large")}}
        </a>
      {{/media-popover}}
    </div>
  {{/each}}
</div>
<div class="explore-section-more">
  <a href={{href-to more mediaType type}}>View more</a>
</div>
