<div>
  <h6>Explore Grid</h6>
</div>
<div class="explore-grid">
  {{#each getDataTask.last.value as |media|}}
    <div class="explore-poster">
      {{#media-popover media=media}}
        <a href={{href-to (concat media.modelType ".show") media.slug}} class="media-poster">
          {{lazy-image src=(image media.posterImage "large")}}
        </a>
      {{/media-popover}}
    </div>
  {{/each}}
</div>
