<div class="explore-search--wrapper">
  <span class="icon">{{svg-jar "search"}}</span>
  {{one-way-search query
    update=(action (mut query))
    class="explore-search-input"
    placeholder=(t "explore.search-placeholder")
  }}
</div>

{{search-results
  tooltipClass="explore-search-dropdown"
  target=".explore-search-input"
  attachment="top left"
  targetAttachment="bottom left"
  offset="0px 0px"
  query=query
  isOpened=(gt query.length 0)
}}

<div class="explore-search-info">
  {{t "explore.advanced-search" mediaType=mediaType htmlSafe=true}}
</div>
