<div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{selectedVideo.languageTitle}}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#each videos as |video|}}
      <a class="dropdown-item {{if (eq video selectedVideo) "active"}}" href="#" {{action onChange video}}>
        {{video.languageTitle}}
      </a>
    {{/each}}
  </div>
</div>
<span class="divider"></span>
