.headers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "chosenMedia reaction rating unlink";
  grid-area: headers;
}

.chosenMedia {
  grid-area: chosenMedia;
}

.reaction {
  grid-area: reaction;
}

.rating {
  grid-area: rating;
}

.unlink {
  grid-area: unlink;
}
