<div class="container">
  <div class="row leader-team">
    {{groups/tickets/ticket-list
      isPersonalTicket=true
      group=group
      filter=filter
      query=query
      updateQueryParam=(action "updateQueryParam")
      class="leader-chat leader-tickets"}}

    {{groups/leaders/leader-list
      group=group
      membership=membership
      isManaging=false
      class="leader-table-card card"
    }}
  </div>
</div>