{{#if (and shouldRender isPhone)}}
  <div class="alert alert-kitsu" role="alert">
    <button type="button" class="close" aria-label="Close" {{action "dismiss"}}>
      <span aria-hidden="true">&times;</span>
    </button>
    <p>Get a better experience using the official Kitsu mobile application.</p>
    {{#if isAndroid}}
      <a href="https://play.google.com/store/apps/details?id=com.everfox.animetrackerandroid">
        {{svg-jar "google-play"}}
      </a>
    {{else if isApple}}
      <a href="https://itunes.apple.com/us/app/kitsu-anime/id590452826">
        {{svg-jar "app-store"}}
      </a>
    {{/if}}
  </div>
{{/if}}