<label for="search" class="site-search__icon" {{action (action (mut isOpened) true)}}>
  <span class="icon">
    {{svg-jar "search"}}
  </span>
</label>

{{one-way-input query
  update=(action (mut query))
  id="search"
  class=inputClass
  placeholder=(t "application.nav-search")
  autocomplete="off"
}}

{{search-results
  tooltipClass="navbar-search-results"
  target=(concat "#" elementId)
  query=query
  isOpened=(and isOpened (gt query.length 2))
  onClose=(action "close")}}
