{{#if session.error}}
  {{#bootstrap/bs-modal keyboard='false' backdrop='static' onClose=(action "reload") as |modal|}}
    {{#modal.header}}
      <h4 class="modal-title">
        {{t "errors.serverError.title"}}
      </h4>
    {{/modal.header}}
    {{#modal.body}}
      {{t "errors.serverError.body"}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bootstrap/bs-button onClick=(action "reload") type="btn-primary"}}
        Reload
      {{/bootstrap/bs-button}}
    {{/modal.footer}}
  {{/bootstrap/bs-modal}}
{{/if}}
