<div class="container">
  <div class="row">
    {{! Group Filter }}
    {{groups/group-categories-list
      currentCategory=category
      onChange=(action (mut category))}}

    {{! Group Results }}
    {{groups/group-list
      sort=sort
      query=query
      groups=groups
      isLoading=model.taskInstance.isRunning
      categoryRoute="users.groups"
      onPagination=(route-action "onPagination")
      updateQueryParam=(action "updateQueryParam")
      class="group-result-list"}}
  </div>
</div>