<div class="container">
  {{! TODO: - @Josh - reviews on users page - `/users/Josh/reviews` }}
  <ul class="media-list">
    {{#each model as |review|}}
      <p>TODO - Placeholder</p>
    {{/each}}
  </ul>
</div>