<div class="container">
  {{! TODO: - @Josh - reviews on users page }}
  <ul class="media-list">
    {{#each model as |review|}}
      {{media-review
        tagName="li"
        review=review
      }}
    {{/each}}
  </ul>
</div>