<div class="container">
  {{#if model}}
    <ul class="media-list w-100">
      {{! TODO @Josh - Reviews on the users page `/users/Josh/reviews` }}
      {{#each model as |review|}}
        <div class="col-xs-11 centered">
          {{stream-feed/items/review review=review}}
        </div>
      {{/each}}
    </ul>

    <div class="text-xs-center w-100">
      {{paginated-resource/infinite
        model=model
        update=(route-action "updateNextPage")
        loadingSize="large"
      }}
    </div>
  {{else}}
    <div class="stream-error-wrapper col-sm-12">
      {{t "errors.contentEmpty"}}
    </div>
  {{/if}}
</div>