// TODO: @Josh -- Cleanup
.kitsu-ad {
  &.leaderboard {
    > ins, .empty-container {
      display: inline-block!important;
      width: 728px;
      height: 90px;
    }
  }

  &.rectangle {
    > ins, .empty-container {
      display: inline-block!important;
      width: 336px;
      height: 280px;
    }
  }
}
