.kitsu-ad {
  background: #eee;
  border-radius: 3px;
  text-align: center;
  ins {
    display: block;
  }

  &.rectangle {
    > ins, .empty-container {
      width: 336px;
      height: 280px;
    }
  }
}

.media--sidebar {
  .kitsu-ad {
    margin-bottom: 20px;
  }
}

.media-container {
  .kitsu-ad {
    margin-bottom: 10px;
  }
}

.feed-sidebar {
  .kitsu-ad {
    margin-top: 20px;
  }
}
