.kitsu-ad {
  background: rgba(0,0,0,.03);
  border-radius: 3px;
  text-align: center;
  width: 100%;
  display: none; /* remove when ads are restored, stops unneccessary margins between content */
  .empty-container {
    padding: 15px;
    p { margin: 0; }
  }
}

.media--sidebar {
  .kitsu-ad {
    margin-bottom: 20px;
  }
}

.media-container {
  .kitsu-ad {
    margin-bottom: 10px;
  }
}

.feed-sidebar {
  .kitsu-ad {
    margin-bottom: 20px;
  }
}

.feed-stream {
  .kitsu-ad {
    margin-bottom: 10px;
  }
}

.feed-container {
  >.kitsu-ad {
    margin-left: 15px;
    margin-bottom: 15px;
    @media (min-width: 650px) {
      margin-right: -10px;
    }
  }
}

.library-ad {
  margin-bottom: 20px;
}
