.kitsu-ad {
  background: rgba(0,0,0,.03);
  border-radius: 3px;
  text-align: center;
  width: 100%;
  ins {
    display: block;
  }
  .empty-container {
    padding: 15px;
    p { margin: 0; }
  }
}

.media--sidebar {
  .kitsu-ad {
    margin-bottom: 20px;
  }
}

.media-container {
  .kitsu-ad {
    margin-bottom: 10px;
  }
}

.feed-sidebar {
  .kitsu-ad {
    margin-bottom: 20px;
  }
}

.feed-stream {
  .kitsu-ad {
    margin-bottom: 10px;
  }
}

.feed-container {
  >.kitsu-ad {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.library-content {
  .kitsu-ad {
    margin-bottom: 20px;
  }
}
