.staging-alert {
  background-color: #ffe8e6;
  color: #c0392b;
  border: none;
  margin-top: -5px;
  font-size: 12px;
  text-align: center;
  line-height: 19px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 15px;
  width: 170px;
  border-radius: 5px;
}
