.avatar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.avatar-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 999em;
}

.avatar-image--small {
  width: 32px;
  height: 32px;
}

.avatar-image--medium {
  width: 75px;
  height: 75px;
}

.avatar-image--large {
  width: 100px;
  height: 100px;
}
