.avatar {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  border-radius: 999em;
}

.avatar-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 999em;
}

.avatar-image--icon {
  width: 32px;
  height: 32px;
}
