.user-blotter {
  @extend .card;
  position: fixed;
  right: 15px;
  bottom: 15px;
  max-width: 370px;
  margin-bottom: 0;
  border: none;
  box-shadow: 0 1px 6px rgba(#000, .06),
              0 2px 32px rgba(#000, .16);
  transition: box-shadow 200ms ease;
}

.blotter-content {
  padding: 30px;
  font-size: 12px;
}
