.user-blotter {
  padding: 20px;
  font-size: 13px;
  position: relative;
  h6 {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid $divider-color;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .featured-image {
    margin-bottom: 15px;
    img {
      border-radius: 3px;
    }
  }
  .button {
    font-size: 12px;
    width: 100%;
    text-transform: uppercase;
  }
  .dismiss-blotter {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #999;
    display: none;
    border-radius: 3px;
    background-color: #fff;
    padding: 5px;
    svg {
      width: 10px;
      height: 10px;
      fill: #999;
      &:hover {
        fill: #c0392b;
      }
    }
  }
  &:hover {
    .dismiss-blotter {
      display: block;
    }
  }
}
