.button {
  @extend .btn;
  font-family: $heading-font-family;
  letter-spacing: .05em;
  transition: all .2s ease;
}

.user-cover .button {
  &:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.80);
  }
}

.button--primary {
  background-color: $caribbean;
  color: $white;
  padding: 10px 60px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
  &:hover {
    background: lighten($caribbean, 5);
  }
  &:disabled {
    background: $nobel;
    opacity: 1;
  }
  &.inactive {
    background: $gray!important;
    color: $charcoal;
    &:hover {
      background: lighten($gray, 5);
    }
  }
}

.button--secondary {
  background-color: $nobel;
  color: $white;
  padding: 10px 60px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
  &:hover {
    background: lighten($nobel, 5);
  }
}

.btn-secondary {
  border: darken($alabaster,5);
}

.button--light-outline {
  background-color: rgba(255,255,255,.10);
  border: 1px solid rgba(255,255,255,.20);
  color: rgba(255,255,255,.60);
  padding: 10px 60px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
  &:hover {
    color: $charcoal;
    background: darken($white, 5);
  }
}

.button--dark-outline {
  background-color: transparent;
  border: 1px solid $eggshell;
  color: $charcoal;
  padding: 10px 60px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
  &:hover {
    color: $charcoal;
    border: 1px solid $eggshell;
    background: darken($white, 2);
  }
}

.button--small {
  font-size: 12px;
  padding: 10px 20px;
}

.button--save-edit {
  float: right;
  margin-left: 20px;
  font-size: 12px;
  padding: 10px 15px;
}

.button--twitter {
  background-color: #55acee;
}

.button--facebook {
  background-color: #3b5998;
  color: #fff;
  fill: #fff;
  display: inline-flex;
  align-items: center;
  svg {
    margin-right: 10px;
  }
}

.button--quick-update {
  background: #fff;
  font-size: 12px;
  padding: 12px 10px;
  .progress-count {
    color: $cinnabar;
  }
}
