.image-card {
  background-color: transparent;
  border-style: dashed;
  border-width: 1px;
  border-color: $secondary-cta-color;

  .card-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    svg {
      width: 50px;
      height: 50px;
      fill: $secondary-cta-color;
      margin-bottom: 10px;
    }

    img {
      max-width: 100%;
    }

    p {
      color: $secondary-cta-color;
      text-align: center;
    }
  }
}
