.checklist {
  padding: 20px;
  ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  h4 {
    margin-bottom: 20px;
  }
}

.step {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  &.step--complete {
    text-decoration: line-through;
    color: $secondary-cta-color;
  }
  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.step-status {
  display: inline-block;
  float: left;
  margin-right: 10px;
  svg {
    width: 20px;
  }
}
