.checklist {
  padding: 20px;
  ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  h6 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid $divider-color;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .steps-remaining {
    font-size: 14px;
    margin-bottom: 15px;
    svg {
      width: 100%;
    }
  }
}

.step {
  border-bottom: 1px solid $divider-color;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  &.step--complete {
    text-decoration: line-through;
    color: $secondary-cta-color;
  }
  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.step-status {
  display: inline-block;
  float: left;
  margin-right: 10px;
  svg {
    width: 20px;
  }
}
