.kitsu-forums {
  padding: 0 20px;
  margin: 0;
  li {
    line-height: 15px;
    margin-bottom: 10px;
    a {
      color: #858585;
      font-family: $heading-font-family;
      font-size: 12px;
    }
  }
}
