.kitsu-forums {
  padding: 0 20px;
  margin: 0;
  li {
    &:before {
      color: #ea4c37;
      content:"\2022";
      font-size:1.5em;
      padding-right:.25em;
      position:relative;
      top:.1em;
    }
    a {
      color: #858585;
      font-family: $heading-font-weight;
    }
  }
}
