.lazy-image {
  background-color: $nobel;
  img {
    display: block;
    margin: 0 auto;
    object-fit: fill;
    transition: opacity .4s linear;
    opacity: 0;
  }
  &.is-loaded {
    img {
      opacity: 1;
    }
  }
}
