.ember-tether {
  z-index: 1000;
}
.media-tooltip {
  @media (max-width: 768px) {
    display: none;
    visibility: hidden;
  }
  &.light {
    > div {
      background-color: lighten($secondary-background-color, 4);
    }
  }
  > div {
    background-color: $secondary-background-color;
    color: lighten($secondary-background-color, 60);
    border-radius: 3px;
    padding: .75rem 1rem 1rem;
    position: relative;
    height: 189px;
    width: 282px;
    display: flex;
    flex-direction: column;
    @media (min-width: 1421px) {
      height: 232px;
      width: 341px;
      top: 0;
    }
    @media (max-width: 1420px) {
      height: 232px;
      width: 341px;
    }
    @media (max-width: 1220px) {
      height: 295px;
      width: 208px;
    }
    @media (max-width: 1119px) {
      height: 224px;
      width: 330px;
    }
    @media (max-width: 990px) {
      height: 313px;
      width: 220px;
      top: 0;
    }
    &:before,
    &:after {
      width: 0;
      height: 0;
      content: '';
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
      top: .9rem;
    }
    .media-title {
      font-size: 16px;
      font-weight: 500;
    }
    .media-year {
      opacity: 0.5;
    }
    .media-ratings {
      margin-top: 1px;
      height: 24px;
      &.percent-quarter-1 {
        color: rgba(231, 76, 60,1.0);
      }
      &.percent-quarter-2 {
        color: rgba(230, 126, 34,1.0);
      }
      &.percent-quarter-3 {
        color: rgba(243, 156, 18,1.0);
      }
      &.percent-quarter-4 {
        color: rgba(26, 188, 156,1.0);
      }
    }
    .media-rankings.short {
      font-size: 12px;
      font-weight: 500;
      margin: 5px 0;
    }
    .media-synopsis {
      font-size: 12px;
      height: 100%;
      overflow: hidden;
      background-image: linear-gradient(to bottom,
        lighten($secondary-background-color, 60),
        lighten($secondary-background-color, 60) 75%,
        $secondary-background-color
      );
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}
.media-tooltip.ember-tether-target-attached-right{
  &.light {
    > div {
      &:before {
        border-right: 10px solid lighten($secondary-background-color, 4);
      }
    }
  }
  > div {
    left: 15px;
    &:before {
      left: -10px;
      border-right: 10px solid $secondary-background-color;
    }
  }
}
.media-tooltip.ember-tether-target-attached-left {
  &.light {
    > div {
      &:after {
        border-left: 10px solid lighten($secondary-background-color, 4);
      }
    }
  }
  > div {
    right: 15px;
    &:after {
      right: -10px;
      border-left: 10px solid $secondary-background-color;
    }
    @media (max-width: 990px) {
      left: -15px;
    }
  }
}

.media-tooltip.ember-tether-target-attached-top {
  > div {
    top: initial;
    bottom: 15px;
    &:before {
      top: initial;
      bottom: -15px;
      left: 49%;
      border-right: 10px solid $secondary-background-color;
      transform: rotateZ(270deg);
    }
  }
}

.rating-tether {
  z-index: 10000;
}

.time-spent-tooltip {
  background-color: lighten($secondary-background-color, 4);
  color: lighten($secondary-background-color, 60);
  border-radius: 5px;
  padding: 10px;
  position: relative;
  .attach {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -8px;
    right: 12px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid lighten($secondary-background-color, 4);
  }
}
