.ember-tether {
  z-index: 9999;
}
.media-tooltip {
  @media (max-width: 768px) {
    display: none;
    visibility: hidden;
  }
  > div {
    background-color: $voodoo;
    color: lighten($voodoo, 60);
    border-radius: 3px;
    padding: .75rem 1rem 1rem;
    position: relative;
    height: 189px;
    width: 282px;
    //top: 22px;
    @media (min-width: 1421px) {
      height: 232px;
      width: 341px;
      top: 0;
    }
    @media (max-width: 1420px) {
      height: 232px;
      width: 341px;
    }
    @media (max-width: 1220px) {
      height: 295px;
      width: 208px;
    }
    @media (max-width: 1119px) {
      height: 224px;
      width: 330px;
    }
    @media (max-width: 990px) {
      height: 313px;
      width: 220px;
      top: 0;
      .button--primary {
        padding: 10px;
      }
    }
    &:before,
    &:after {
      width: 0;
      height: 0;
      content: '';
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
      top: .9rem;
    }
    .media-title {
      font-size: 16px;
      font-weight: 500;
    }
    .media-ratings {
      margin: 1px 0 5px;
      height: 24px;
      svg {
        width: 14px;
      }
    }
    .media-synopsis {
      font-size: 12px;
      height: 93px;
      overflow: hidden;
    }
    > div:last-child:not(.media-synopsis) {
      position: absolute;
      bottom: 16px;
      width: calc(100% - 32px);
      button {
        width: 100%;
      }
    }
  }
}
.media-tooltip.ember-tether-target-attached-right{
  > div {
    left: 15px;
    &:before {
      left: -10px;
      border-right: 10px solid $voodoo;
    }
  }
}
.media-tooltip.ember-tether-target-attached-left {
  > div {
    right: 15px;
    &:after {
      right: -10px;
      border-left: 10px solid $voodoo;
    }
    @media (max-width: 990px) {
      left: -15px;
    }
  }
}

.media-tooltip.ember-tether-target-attached-top {
  > div {
    top: initial;
    bottom: 15px;
    &:before {
      top: initial;
      bottom: -15px;
      left: 49%;
      border-right: 10px solid $voodoo;
      transform: rotateZ(270deg);
    }
  }
}
