.tooltip {
  .tooltip-inner {
    background: #383838;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 12px;
    white-space: nowrap;
    text-align: center;
    max-width: 100%;
  }
}
