.user-card {
  padding: 0;
  text-align: center;
  .card-img-top {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  .card-img-avatar {
    width: 70px;
    height: 70px;
    border-radius: 999em;
    border: 2px solid #fff;
    margin-top: -70px;
  }
  button {
    width: 100%;
  }
  a {
    color: $body-text-color;
  }
}
