.user-card {
  padding: 0;
  text-align: center;
  .card-img-avatar {
    width: 70px;
    border-radius: 999em;
    border: 2px solid #fff;
    margin-top: -70px;
  }
  button {
    width: 100%;
  }
  a {
    color: $charcoal;
  }
}
