.user-card {
  padding: 0;
  text-align: center;
  .card-img-top {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  .card-img-avatar {
    width: 70px;
    height: 70px;
    border-radius: 999em;
    border: 2px solid $foreground-background-color;
    margin-top: -70px;
  }
  .card-actions {
    display: flex;
    .user-actions {
      margin: 5px 0 0 10px;
    }
  }
  button {
    width: 100%;
  }
  a {
    color: $body-text-color;
  }
  &.short {
    .card-img-top, .card-block {
      height: 70px;
    }
    .card-img-avatar {
      position: relative;
      margin-top: -70px;
      margin-left: -225px;
      width: 100px;
      height: 100px;
    }
    .card-title {
      position: relative;
      top: -80px;
      left: 15px;
      width: 225px;
      margin-left: auto;
      text-align: left;
      font-size: 20px;
      color: $white;
    }
    .card-actions {
      position: relative;
      top: -75px;
      left: 116px;
    }
    button {
      display: flex;
      justify-content: center;
      width: 50px;
      height: 35px;
      font-size: 12px;
    }
  }
}
