{{lazy-image src=(image item.posterImage "small")}}
<small>{{item.canonicalTitle}}</small>
<span class="rating-container">
  {{library-entry/state
    media=item
    showHeader=false
    createOnly=true
    rateOnly=true
    hideProgress=true
    onCreate=(action onCreate)
    onRemove=(action onRemove)
    onUpdate=(action onUpdate)
  }}
</span>
