{{#bootstrap/bs-modal id=modalId onClose=onClose as |modal|}}
  {{#modal.header}}
    <div class="text-xs-center">
      <h4>Edit Post</h4>
      <small>Unfortunately, we can't allow you to edit your tagged media yet.</small>
    </div>
  {{/modal.header}}

  {{#modal.body}}
    {{stream-feed/create-post
      post=post
      isExpanded=true
      isEditing=true
      unitNumber=unitNumber
      shouldUnit=(not (is-empty unitNumber))
      onCreate=(perform updatePost)
    }}
  {{/modal.body}}
{{/bootstrap/bs-modal}}