{{#bootstrap/bs-modal id=modalId onClose=onClose as |modal|}}
  {{#modal.header}}
    <div class="text-xs-center">
      <h4>{{t "components.stream-feed.edit-post"}}</h4>
      <small>{{t "components.stream-feed.edit-exception"}}</small>
    </div>
  {{/modal.header}}

  {{#modal.body}}
    {{stream-feed/create-post
      post=post
      isExpanded=true
      isEditing=true
      unitNumber=unitNumber
      shouldUnit=(not (is-empty unitNumber))
      onCreate=(perform updatePost)
    }}
  {{/modal.body}}
{{/bootstrap/bs-modal}}
