.character-banner {
  width: 100%;
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: $secondary-background-color;
}

.character-sidebar {
  width: 300px;
}
.character-portrait {
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 4px solid $secondary-background-color;
  }
  img {
    width: 100%;
  }
}

.character-name {
  padding-left: 30px;
  h1 {
    color: #fff;
    margin-top: 135px;
  }
}

.character-bio {
  margin-top: 45px;
  margin-bottom: 40px;
}

.known-for {
  margin-top: 30px;
}

.character-media-list {
  padding: 0;
  list-style: none;
  margin-left: -5px;
  margin-right: -5px;
  li {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 15px;
    img {
      border-radius: 3px;
    }
  }
  a {
    color: #333;
    font-size: 12px;
    font-weight: 700;
  }
}

.roles-table {
  margin-bottom: 50px;
}
table.credits {
  margin: 0;
  margin-top: 20px;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  tbody {
    background-color: #fff;
    border-bottom: none;
  }
  td {
    padding: 0;
  }
  table.credit_group {
    border-collapse: separate;
    border-bottom: 1px solid #dedede;
    padding: 20px 0 20px 0;
    width: 100%;
    tbody td {
      padding: 8px 20px 8px 20px;
    }
    .seperator {
      padding: 0;
      color: #ccc;
      vertical-align: top;
      width: 30px;
    }
  }
  .year {
    width: 30px;
    font-weight: bold;
    vertical-align: top;
  }
  span.poster-wrapper {
    display: block;
    height: 30px;
    overflow: hidden;
    border-radius: 3px;
    padding: 0;
    margin-top: 5px;
  }
  small {
    padding: 0 10px;
    color: #989898;
    font-size: 12px;
  }
  .role-media {
    font-weight: 700;
    color: #464646;
  }
}

.character-facts {
  margin-top: 30px;
  .fact-list {
    padding: 0;
    list-style: none;
    li {
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      font-size: 12px;
      &:last-child {
        border-bottom: none;
      }
      a {
        border: 1px solid #d4d4d4;
        color: #737373;
        padding: 2px 5px;
        border-radius: 3px;
        margin-bottom: 5px;
        display: inline-block;
        &:hover {
          color: #333;
          border-color: #333;
        }
      }
    }
  }
}
