.explore-search {
  @extend .library-search;
  margin-bottom: 40px;
  margin-right: 15px;
  width: auto;

  .explore-search--wrapper {
    @extend .library-search--wrapper;
  }

  .explore-search-info {
    margin-top: 14px;
    font-size: 12px;
  }
}

.explore-page {
  .media {
    margin-right: 15px;
    .media-body {
      top: 1px;
    }
    .button {
      padding: 5px;
    }
  }
  .media-browse {
    margin-bottom: 0px;
    .poster-wrapper {
      padding-right: 10px;
      margin-bottom: 10px;
      @media (max-width: 1220px) {
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
}

.explore-section {
  margin-bottom: 50px;
  .explore-section-more {
    float: right;
    margin-right: 15px;
    font-size: 12px;
  }
}

.explore-sidebar {
  max-width: 300px;
  padding: 0;
  .card {
    padding: 20px;
    @media screen and (max-height: 660px) {
      position: relative;
      top: 0;
    }
  }
  h5 {
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.09);
  }
  .edit-favorite-categories {
    font-size: 12px;
  }
  @media (max-width: 543px) {
    order: -1;
    width: 100%;
    max-width: 100%;
  }
}

.categories-list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 42px;
  font-size: 12px;
  font-weight: 600;
  li {
    min-width: 50%;
    @media (min-width: 433px) and (max-width: 543px) {
      min-width: 33%;
    }
  }
  a {
    color: inherit;
    font-family: inherit;
  }
}

.categories-more {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 12px;
}


.explore-grid-skeleton {
  width: 100%;
  min-height: 208px;
  margin-bottom: 10px;
  .explore-grid-skeleton-break {
    width: 10px;
    height: 100%;
    background-color: $background-color;
    @for $i from 0 to 6 {
      &:nth-child(#{$i}) {
        left: #{(155 * $i) + (10 * ($i - 1))}px;
      }
    }
    &:last-child {
      width: 15px;
    }
  }
}

.category-skeleton {
  min-height: 100px;
  &.large {
    min-height: 360px;
    .category-skeleton-vertical {
      height: 360px;
    }
  }
  width: 100%;
  .category-skeleton-vertical {
    width: 10px;
    height: 100px;
    left: 50%;
  }
  .category-skeleton-horizontal {
    width: 100%;
    height: 10px;
    @for $i from 1 to 19 {
      &:nth-child(#{$i}) {
        top: #{20 * ($i - 1)}px;
      }
    }
  }
}

#category-modal {
  .modal-body {
    padding: 0px;
  }
  .category-modal-parent {
    padding: 10px 15px;
    border-bottom: 1px solid $divider-color;
    span.category-modal-title {
      font-weight: bold;
      font-size: 18px;
    }
  }
  .category-modal-expand-btn {
    cursor: pointer;
    fill: #999;
    float: right;
    width: 26px;
    height: 26px;
    &:hover {
      color: $body-link-color;
    }
  }
  .category-modal-child {
    padding: 10px 15px;
    margin-right: -15px;
    border-left: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;
  }
  .category-modal-skeleton {
    min-height: 45px;
    width: 100%;
    .category-modal-skeleton-item {
      border: 10px solid $background-color;
      border-left-width: 0;
      border-right-width: 0;
      &.padded {
        border-left-width: 10px;
        border-right-width: 10px;
      }
      background-color: transparent;
      width: 100%;
      height: 45px;
      @for $i from 0 to 9 {
        &:nth-child(#{$i}) {
          top: #{35 * ($i - 1)}px;
        }
      }
    }
  }
}
