.explore-page {
  width: 100%;
  h3 {
    margin-bottom: 20px;
  }
}

.explore-more {
  width: 100%;
}

.explore-search {
  width: 768px;
  height: 50px;
  margin-bottom: 68px;
  color: $input-text-color;
  background: $foreground-background-color;
  input {
    width: 100%;
    line-height: 50px;
    height: 50px;
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
    outline: none;
    font-family: $base-font-family;
    font-size: 1.0em;
    box-shadow: none;
    text-indent: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .explore-search--wrapper {
    position: relative;
    width: 100%;
    .icon {
      position: absolute;
      left: 2px;
      top: 8px;
    }
    svg {
      width: 36px;
      height: 36px;
      fill: #BFBFBF;
    }
  }

  .explore-search-info {
    margin-top: 14px;
    font-size: 12px;
  }
}

.explore-content {
  display: inline-block;
  max-width: 790px;
}

.explore-section {
  margin-bottom: 50px;
  .explore-section-more {
    float: right;
    margin-right: 15px;
    font-size: 12px;
  }
}

.explore-grid {
  display: flex;
  flex-wrap: wrap;
}

.explore-poster {
  padding: 0;
  width: 142px;
  margin-right: 15px;
  margin-bottom: 5px;
  .media-poster {
    display: inline-block;
  }
  img {
    width: 100%;
    border-radius: 3px;
  }
}

.category-widget {
  position: sticky;
  float: right;
  width: 350px;
  padding: 20px;
  background: $foreground-background-color;
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  h5 {
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.09);
  }
}

.categories-list {
  display: flex;
  flex-flow: column wrap;
  max-height: 375px;
  margin-bottom: 42px;
  font-size: 12px;
  font-weight: 600;
  a {
    color: inherit;
    font-family: inherit;
  }
}

.categories-more {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 12px;
}
