.group-members-widget {
  .group-member-avatars {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    a { padding: 5px; }
    img {
      border-radius: 999em;
      width: 40px;
      height: 40px;
    }
  }
}

.group-community-rules {
  .row {
    flex-direction: column;

    h2 {
      margin-bottom: 20px;
    }
  }
}
