// User Library
.library-list {
  background: #fff;
  border: 1px solid $eggshell;
  border-radius: 3px;
  margin-top: 30px;
  padding: 0;
  .nav-wrapper {
    @extend .clearfix;
    padding: 15px;
  }
  .menu {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0;
    float: right;
    li {
      border-right: 1px solid #ddd;
      a {
        color: #333;
        font-size: 12px;
        &.active {
          background: #EFEFEF;
        }
      }
      &:last-child {
        border: none;
      }
    }
  }
}

.library-type {
  float: left;
}
.library-status {
  float: right;
  .btn {
    border-color: $eggshell;
    font-size: 12px;
    padding: 10px 15px;
    &:hover {
      background: darken($white, 2);
      border-color: $eggshell;
    }
    &.active {
      background: lighten($eggshell, 3);
      border-color: $eggshell;
    }
  }
}

.search-library {
  .search-input {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
  }
}

.section-head {
  background: lighten($eggshell, 5);
  border-bottom: 1px solid $eggshell;
  color: $charcoal;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 15px;
  &:first-child {
    border-top: 1px solid $eggshell;
  }
  .section-stats {
    float: right;
  }
}

.library-entry {
  @extend .clearfix;
  border-bottom: 1px solid $eggshell;
  &:last-child {
    border-bottom: none;
  }
  .entry-progress, .entry-rating, .entry-type {
    display: inline-block;
  }
  .entry-right {
    text-align: right;
  }
  .entry-progress {
    margin-right: 20px;
    padding-right: 20px;
    height: 25px;
    display: inline-block;
    border-right: 1px solid #ddd;
    font-weight: 600;
    input {
      padding: 1px 0;
      margin-top: -2px;
      width: 46px;
      float: left;
      text-align: center;
      border-radius: 3px;
      border: 1px solid #ddd;
    }
    .sep {
      padding: 0 0 0 10px;
    }
  }
  .entry-rating {
    margin-right: 20px;
    padding-right: 20px;
    text-align: center;
    min-width: 64px;
    display: inline-block;
    height: 25px;
    border-right: 1px solid #ddd;
  }
  .entry-type {
    display: inline-block;
    width: 65px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
  }
}

.entry-wrapper {
  @extend .clearfix;
  padding: 10px 0;
  cursor: pointer;
}
.library-dropdown {
  @extend .clearfix;
  background: lighten($eggshell, 5);
  padding-bottom: 15px;
  .arrow-wrapper {
    padding: 0;
  }
  .drop-arrow {
    position: relative;
    height: 5px;
    margin-bottom: 15px;
    border-top: 1px solid $eggshell;
    &:before, &:after {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:before {
      border-color: rgba(221,221,221,0);
      border-top-color: $eggshell;
      border-width: 11px;
      left: 50%;
      top: -1px;
      z-index: 1;
      margin-left: -16px;
    }
    &:after {
      border-color: rgba(255,255,255,0);
      border-top-color: #fff;
      border-width: 10px;
      left: 50%;
      top: -1px;
      z-index: 2;
      margin-left: -15px;
    }
  }
  .personal-notes {
    border-radius: 3px;
    border: 1px solid #ddd;
    line-height: 33px;
    box-shadow: none;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 10px;
  }
  .drop-thumb {
    max-width: 150px;
    border-radius: 3px;
  }
  .drop-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .genres {
    margin: 0;
    margin-bottom: 5px;
    li {
      display: inline;
      font-size: 0.9em;
      opacity: 0.8;
    }
  }
}

.rating-options {
  float: right;
  font-size: 22px;
  color: #9B9A9A;
  position: relative;
  top: 5px;
  svg {
    width: 20px;
  }
}

.drop-description {
  font-size: 14px;
}

.drop-options {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  .status-select, .dropdown-rating, .rewatch {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  .status-select {
    .button {
      background: #939393;
      color: #fff;
      width: 100%;
      border: none;
      font-weight: 600;
      font-size: 13px;
      padding: 15px 0;
      text-align: center;
    }
  }
  .rewatch {
    border-bottom: none;
    label {
      float: right;
      font-size: 12px;
      line-height: 36px;
    }
  }
}

.dropdown-rating {
  @extend .clearfix;
  .dropdown {
    float: left;
  }
}

.dropdown-rating, .rewatch {
  .button {
    font-size: 12px;
    padding: 10px 25px;
    background: lighten($eggshell, 3);
    border: 1px solid lighten($nobel, 15);
    color: $charcoal;
    &:hover {
      background: $eggshell;
    }
  }
}

.rewatch {
  input {
    width: 30px;
    height: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-weight: 600;
    color: #16A085;width: 30px;
    height: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-weight: 600;
    color: #16A085;
  }
}

.empty-wrapper {
  text-align: center;
  background: lighten($eggshell, 5);
}
.library-section-empty {
  border: 1px dotted #ddd;
  display: inline-block;
  margin: 20px auto;
  border-radius: 3px;
  padding: 10px 30px;
  min-width: 50%;
  span, a {
    font-size: 12px;
  }
  a {
    margin-left: 15px;
  }
}
