// User Library
.library-list {
  background: #fff;
  border: 1px solid $eggshell;
  border-radius: 3px;
  padding: 0;
  margin-bottom: 30px;
  .nav-wrapper {
    @extend .clearfix;
    padding: 15px;
  }
  .menu {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0;
    float: right;
    li {
      border-right: 1px solid #ddd;
      a {
        color: #333;
        font-size: 12px;
        &.active {
          background: #EFEFEF;
        }
      }
      &:last-child {
        border: none;
      }
    }
  }
}

.library-type {
  float: left;
}
.library-status {
  float: right;
  .btn {
    border-color: $eggshell;
    font-size: 12px;
    padding: 10px 15px;
    &:hover {
      background: darken($white, 2);
      border-color: $eggshell;
    }
    &.active {
      background: lighten($eggshell, 3);
      border-color: $eggshell;
    }
  }
}

.search-library {
  .search-input {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
  }
}

.library-sorting {
  @extend .clearfix;
  border-top: 1px solid $eggshell;
  .sorting-icon {
    .sorting-asc {
      svg { transform: rotateX(180deg); }
    }
  }
  .library-sort-left {
    font-size: 12px;
    line-height: 40px;
    float: left;
  }
  .library-sort-right {
    text-align: right;
    font-size: 12px;
    line-height: 40px;
    float: right;
  }
  .library-sort {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    &:hover { color: $cinnabar; }
    > div { display: inline-block; }
    svg {
      width: 14px;
      height: 14px;
      top: 4px;
      position: relative;
    }
  }
  .library-sort-title {
    text-align: left;
  }
  .library-sort-progress {
    padding-right: 55px;
  }
  .library-sort-rating {
    width: 85px;
  }
  .library-sort-type {
    width: 85px;
  }
}

.section-head {
  background: lighten($eggshell, 5);
  border-bottom: 1px solid $eggshell;
  color: $charcoal;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 15px;
  &:first-child {
    border-top: 1px solid $eggshell;
  }
  .section-stats {
    float: right;
  }
}

.library-entry {
  @extend .clearfix;
  border-bottom: 1px solid $eggshell;
  &:last-child {
    border-bottom: none;
  }
  .entry-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .entry-indicators, .entry-progress, .entry-rating, .entry-type {
    display: inline-block;
    @media (max-width: 992px) {
      margin: 0;
      padding: 0;
    }
  }
  .entry-right {
    text-align: right;
    font-size: 12px;
    line-height: 40px;
    @media (max-width: 992px) {
      border-top: 1px solid #eee;
      margin-top: 11px;
    }
  }
  .entry-rating {
    margin-right: 20px;
    padding-right: 20px;
    text-align: center;
    min-width: 64px;
    display: inline-block;
    height: 100%;
    border-right: 1px solid #ddd;
    @media (max-width: 992px) {
      padding-right: 5px;
    }
    .entry-rating-star {
      position: relative;
      top: 4px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  .entry-type {
    display: inline-block;
    width: 65px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
  }
}

.entry-poster {
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 15px;
  border-radius: 3px;
}

.entry-indicators {
  margin-right: 20px;
  position: relative;
  top: 8px;
  .loading {
    width: 24px;
    height: 24px;
  }
}

.entry-indicator-airing-status {
  position: relative;
  top: -8px;
  .tag {
    color: #858585;
    background: #e5e5e5;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px 8px;
  }
}

.entry-progress {
  margin-right: 20px;
  padding-right: 20px;
  height: 100%;
  display: inline-block;
  border-right: 1px solid #ddd;
  font-weight: 600;
  width: 125px;
  text-align: left;
  font-size: 12px;
  input {
    padding: 1px 0;
    width: 45px;
    height: 25px;
    float: left;
    position: relative;
    top: 8px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ddd;
    line-height: 15px;
  }
  .sep {
    padding: 0 0 0 10px;
  }
}

.entry-progress--mini-wrapper {
  border-bottom: 1px solid darken($eggshell, 5);
  padding: {
    top: 10px;
    bottom: 10px;
  }
  font-size: 12px;
  &.border-top {
    border-top: 1px solid darken($eggshell, 5);
    margin-top: 10px;
  }
}

.entry-progress--mini {
  margin: 0;
  padding: 0;
  float: right;
  border: none;
  width: auto;
  input {
    top: -4px;
  }
}

.entry-wrapper {
  @extend .clearfix;
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid $eggshell;
  line-height: 40px;
  transition: .1s ease-in-out;
  @media (max-width: 992px) {
    padding-bottom: 0;
    padding-top: 20px;
  }
  &:hover {
    background: $alabaster;
  }
}

.has-entry {
  .button--primary {
    background: #757575;
  }
}
.library-dropdown {
  @extend .clearfix;
  background: lighten($eggshell, 5);
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  .arrow-wrapper {
    padding: 0;
  }
  .drop-arrow {
    position: relative;
    height: 5px;
    margin-bottom: 15px;
    &:before, &:after {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:before {
      border-color: rgba(221,221,221,0);
      border-top-color: $eggshell;
      border-width: 11px;
      left: 50%;
      top: -1px;
      z-index: 1;
      margin-left: -16px;
    }
    &:after {
      border-color: rgba(255,255,255,0);
      border-top-color: #fff;
      border-width: 10px;
      left: 50%;
      top: -1px;
      z-index: 2;
      margin-left: -15px;
    }
  }
  .personal-notes {
    border-radius: 3px;
    border: 1px solid #ddd;
    line-height: 33px;
    box-shadow: none;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    height: 50px;
    line-height: 16px;
    font-size: 12px;
  }
  .drop-thumb {
    max-width: 100%;
    img {
      border-radius: 3px;
    }
  }
  .drop-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .genres {
    margin: 0;
    margin-bottom: 5px;
    li {
      display: inline;
      font-size: 0.9em;
      opacity: 0.8;
    }
  }
}

.rating-options {
  float: right;
  font-size: 22px;
  color: #9B9A9A;
  position: relative;
  top: 5px;
  svg {
    width: 20px;
  }
}

.drop-description {
  font-size: 14px;
}

.drop-options {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  .status-select, .dropdown-rating, .rewatch {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  .status-select {
    .button {
      background: #939393;
      color: #fff;
      width: 100%;
      border: none;
      font-weight: 600;
      font-size: 13px;
      padding: 15px 0;
      text-align: center;
    }
  }
  .rewatch {
    @extend .clearfix;
    border-bottom: none;
    label {
      float: right;
      font-size: 12px;
      line-height: 36px;
      margin-bottom: 0;
    }
  }
  .rating-label {
    float: left;
    margin-bottom: 0;
    position: relative;
    top: 10px;
  }
}

.dropdown-rating {
  @extend .clearfix;
  .dropdown {
    float: left;
  }
}

.dropdown-rating, .rewatch {
  .button {
    font-size: 12px;
    padding: 10px 25px;
    background: lighten($eggshell, 3);
    border: 1px solid lighten($nobel, 15);
    color: $charcoal;
    &:hover {
      background: $eggshell;
    }
  }
}

.rewatch {
  input {
    width: 30px;
    height: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-weight: 600;
    color: #16A085;width: 30px;
    height: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-weight: 600;
    color: #16A085;
  }
}

.empty-wrapper {
  text-align: center;
  background: lighten($eggshell, 5);
}
.library-section-empty {
  border: 1px dotted #ddd;
  display: inline-block;
  margin: 20px auto;
  border-radius: 3px;
  padding: 10px 30px;
  min-width: 50%;
  span, a {
    font-size: 12px;
  }
  a {
    margin-left: 15px;
  }
}

.star-full, .star-half, .star-variable {
  .star-rating-filled {
    stop-color: $buttercup;
  }
}

.library-occlusion-buffer {
  min-height: 60px;
}

.library-state {
  position: relative;
  margin-top: 20px;
  border: 1px solid darken($eggshell, 5);
  border-radius: 3px;
  padding: 15px;

  .entry-state-header {
    display: flex;
    justify-content: center;
    position: relative;
    top: -24px;
    > span {
      background-color: #fafafa;
      @extend .text-muted;
      font-size: 12px;
    }
  }

  .entry-state-status {
    display: block;
    margin-top: -18px;
  }

  .state-helper {
    display: block;
    font-size: 12px;
    text-align: center;
  }

  .button--secondary {
    padding: 8px;
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    &:hover {
      box-shadow: none;
    }
  }

  .button--muted {
    background-color: lighten($nobel, 10);
    &:hover {
      background-color: $nobel;
    }
  }

  .btn-group {
    display: flex;

    .btn:first-child {
      width: 100%;
      padding-left: 10px;
    }

    .btn, .dropdown-item {
      font-size: 14px;
    }

    .dropdown-toggle {
      font-size: 15px;
    }

    svg {
      position: relative;
      vertical-align: middle;
      margin-right: 10px;
    }

    %vertical-align {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .rating-advanced {
      @extend %vertical-align;
      height: 20px;
      svg {
        fill: $nobel;
      }
    }

    .rating-simple {
      @extend %vertical-align;
      height: 24px;
      .current-rating {
        text-transform: uppercase;
      }
    }

    .rating-sep {
      margin: {
        left: 5px;
        right: 5px;
      };
    }

    .current-rating {
      &.awful {
        color: #DA5E51;
      }
      &.meh {
        color: rgba(230, 126, 34, 1.0);
      }
      &.good {
        color: $caribbean;
      }
      &.amazing {
        color: #3E99D7;
      }
    }
  }
}

.rating-hover-wrapper {
  position: relative;
  margin: 0 auto;
  height: auto;
  min-width: 225px;
  border: 1px solid #ada4a4;
  box-shadow: 0 1px 2px -1px #a29797;
  border-radius: 80px;
  border-top: none;
  border-right: none;
  border-left: none;
  background: #fff;
  padding: 16px;
  &.simple-rating {
    padding: 6px;
  }

  .simple-rating-wrapper {
    position: relative;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    top: 0px;
    transition: top .2s;

    &:hover {
      top: -10px;
    }
  }

  .slider {
    height: 14px;
    width: 100%;
    border-radius: 999em;
  }

  .noUi-connect {
    background-color: #ccc;
    border-radius: 999em;
  }

  .noUi-handle {
    border-radius: 999em;
    background-color: transparent;
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    height: 28px;
    width: 28px;
    left: -14px;
    top: -7px;
    &:active {
      box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    }
    &:before {
      display: block;
      border: 4px solid #fff;
      border-radius: 999em;
      height: 28px;
      width: 28px;
      top: 0;
      left: 0;
      background-color: #E74C3C;
      background-image: linear-gradient(to right, #E74C3C 0%, #F1C40F 50%, #1ABC9C 100%);
    }
  }
  .noUi-handle,
  .noUi-target {
    cursor: pointer;
  }
  .noUi-base,
  .noUi-background {
    left: 0px;
    background-color: #E74C3C;
    background-image: linear-gradient(to right, #E74C3C 0%, #F1C40F 50%, #1ABC9C 100%);
    box-shadow: none;
  }
  .noUi-tooltip {
    background: #383838;
    color: #fff;
    padding: 8px 10px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 12px;
    border: none;
    border-radius: 4px;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      background: transparent;
      border: 6px solid transparent;
      border-top-color: #383838;
      z-index: 1000001;
    }
  }
}
