// User Library
.library-list {
  background: $foreground-background-color;
  border: 1px solid $divider-color;
  border-radius: 3px;
  padding: 0;
  margin-bottom: 30px;
  .nav-wrapper {
    @extend .clearfix;
    padding: 15px;
  }
  .menu {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0;
    float: right;
    li {
      border-right: 1px solid #ddd;
      a {
        color: #333;
        font-size: 12px;
        &.active {
          background: #EFEFEF;
        }
      }
      &:last-child {
        border: none;
      }
    }
  }
  .ember-occlusion-culling:last-child {
    .entry-wrapper {
      border-bottom: none;
    }
  }
}

.library-type {
  float: left;
  button {
    background: $white;
  }
}
.library-status {
  float: right;
  .btn {
    border-color: $divider-color;
    font-size: 12px;
    padding: 10px 15px;
    &:hover {
      background: darken($white, 2);
      border-color: $divider-color;
    }
    &.active {
      background: lighten($divider-color, 3);
      border-color: $divider-color;
      color: $body-text-color;
    }
  }
}

.search-library {
  .search-input {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
  }
}

.library-sorting {
  @extend .clearfix;
  border-top: 1px solid darken($background-color, 4);
  .sorting-icon {
    .sorting-asc {
      svg { transform: rotateX(180deg); }
    }
  }
  .library-sort-left {
    font-size: 12px;
    line-height: 40px;
    float: left;
  }
  .library-sort-right {
    text-align: right;
    font-size: 12px;
    line-height: 40px;
    float: right;
  }
  .library-sort {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    &:hover { color: $body-link-color; }
    > div { display: inline-block; }
    svg {
      width: 14px;
      height: 14px;
      top: 4px;
      position: relative;
    }
  }
  .library-sort-title {
    text-align: left;
  }
  .library-sort-progress {
    padding-right: 55px;
  }
  .library-sort-rating {
    width: 85px;
  }
  .library-sort-type {
    width: 85px;
  }
}

.section-head {
  background: lighten($foreground-background-color, 5);
  border-bottom: 1px solid $divider-color;
  color: $body-text-color;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 15px;
  &:first-child {
    border-top: 1px solid $divider-color;
  }
  .section-stats {
    float: right;
  }
}

.library-entry {
  @extend .clearfix;
  border-bottom: 1px solid $divider-color;
  &:last-child {
    border-bottom: none;
  }
  .entry-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .entry-indicators, .entry-progress, .entry-rating, .entry-type {
    display: inline-block;
    @media (max-width: 992px) {
      margin: 0;
      padding: 0;
    }
  }
  .entry-right {
    text-align: right;
    font-size: 12px;
    line-height: 40px;
    @media (max-width: 992px) {
      border-top: 1px solid #eee;
      margin-top: 11px;
    }
  }
  .entry-rating {
    margin-right: 20px;
    padding-right: 20px;
    text-align: center;
    min-width: 64px;
    display: inline-block;
    height: 100%;
    border-right: 1px solid #ddd;
    @media (max-width: 992px) {
      padding-right: 5px;
    }
    svg {
      vertical-align: middle;
      fill: $secondary-cta-color;
      &.star-svg {
        width: 20px;
        height: 20px;
      }
    }
    span {
      vertical-align: middle;
    }
  }
  .entry-type {
    display: inline-block;
    width: 65px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
  }
}

.entry-poster {
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 15px;
  border-radius: 3px;
}

.entry-indicators {
  margin-right: 20px;
  position: relative;
  top: 8px;
  .loading {
    width: 24px;
    height: 24px;
  }
}

.entry-indicator-airing-status {
  position: relative;
  top: -8px;
  .tag {
    color: #858585;
    background: #e5e5e5;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px 8px;
  }
}

.entry-progress {
  margin-right: 20px;
  padding-right: 20px;
  height: 100%;
  display: inline-block;
  border-right: 1px solid #ddd;
  font-weight: 600;
  width: 125px;
  text-align: left;
  font-size: 12px;
  input {
    color: $input-text-color;
    background: lighten($foreground-background-color, 3);
    border: 1px solid darken($background-color, 5);
    padding: 1px 0;
    width: 45px;
    height: 25px;
    float: left;
    position: relative;
    top: 8px;
    text-align: center;
    border-radius: 3px;
    line-height: 15px;
  }
  .sep {
    padding: 0 0 0 10px;
  }
}

.entry-wrapper {
  @extend .clearfix;
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid $divider-color;
  line-height: 40px;
  transition: .1s ease-in-out;
  @media (max-width: 992px) {
    padding-bottom: 0;
    padding-top: 20px;
  }
  &:hover {
    background: $background-color;
  }
}

.has-entry {
  .button--primary {
    background: #757575;
  }
}
.library-dropdown {
  @extend .clearfix;
  background: darken($foreground-background-color, 5);
  padding-bottom: 15px;
  border-bottom: 1px solid $divider-color;
  .arrow-wrapper {
    padding: 0;
  }
  .drop-arrow {
    position: relative;
    height: 5px;
    margin-bottom: 15px;
  }
  .personal-notes {
    border-radius: 3px;
    line-height: 33px;
    box-shadow: none;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    height: 50px;
    line-height: 16px;
    font-size: 12px;
    color: $input-text-color;
    background: lighten($foreground-background-color, 3);
    border: 1px solid $divider-color;
  }
  .drop-thumb {
    max-width: 100%;
    img {
      border-radius: 3px;
    }
  }
  .drop-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .genres {
    margin: 0;
    margin-bottom: 5px;
    li {
      display: inline;
      font-size: 0.9em;
      opacity: 0.8;
    }
  }
}

.rating-options {
  float: right;
  font-size: 22px;
  color: #9B9A9A;
  position: relative;
  top: 5px;
  svg {
    width: 20px;
  }
}

.drop-description {
  font-size: 14px;
}

.drop-options {
  background: $foreground-background-color;
  border-radius: 3px;
  border: 1px solid $divider-color;
  .status-select, .dropdown-rating, .rewatch {
    border-bottom: 1px solid $divider-color;
    padding: 10px;
  }
  .status-select {
    .entry-state-status {
      margin-top: 0;
    }
    .button:first-child {
      margin-top: 0;
    }
  }
  .rewatch {
    @extend .clearfix;
    border-bottom: none;
    label {
      float: right;
      font-size: 12px;
      line-height: 36px;
      margin-bottom: 0;
    }
    input {
      color: $input-text-color;
      background: lighten($foreground-background-color, 3);
      border: 1px solid darken($background-color, 5);
    }
  }
  .rating-label {
    float: left;
    margin-bottom: 0;
    position: relative;
    top: 10px;
  }
}

.dropdown-rating {
  @extend .clearfix;
  .dropdown {
    float: left;
  }
}

.dropdown-rating, .rewatch {
  .button {
    font-size: 12px;
    padding: 10px 25px;
    background: lighten($divider-color, 3);
    border: 1px solid lighten($secondary-cta-color, 15);
    color: $body-text-color;
    &:hover {
      background: $divider-color;
    }
  }
}

.rewatch {
  input {
    width: 30px;
    height: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-weight: 600;
    color: #16A085;width: 30px;
    height: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-weight: 600;
    color: #16A085;
  }
}

.empty-wrapper {
  text-align: center;
  background: lighten($background-color, 5);
}
.library-section-empty {
  border: 1px dotted #ddd;
  display: inline-block;
  margin: 20px auto;
  border-radius: 3px;
  padding: 10px 30px;
  min-width: 50%;
  span, a {
    font-size: 12px;
  }
  a {
    margin-left: 15px;
  }
}

.library-occlusion-buffer {
  min-height: 60px;
}
