.media-container {
  margin-left: 205px;
  max-width: 800px;
  .media {
    margin-top: 15px;
  }
  .media-left {
    width: 40px;
    margin-right: 10px;
    img {
      border-radius: 999em;
    }
  }
  .media-heading {
    margin-bottom: 5px;
    display: block;
  }
  .comment-body {
    font-size: 15px;
    p {
      margin-bottom: 10px;
    }
  }
}

.community-rating {
  margin-bottom: 25px;
  float: left;
}

.percentage-liked, .average-rating {
  background: #3498DB;
  border: 1px solid #3498DB;
  color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  padding: 5px 15px;
  width: 80px;
  float: left;
  .featured-number {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    font-size: 24px;
    margin-top: -5px;
    margin-bottom: -5px;
    label {
      margin-bottom: 0;
      margin-right: 5px;
    }
  }
  span {
    display: block;
    font-size: 12px;
  }
}
.average-rating {
  width: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #BEDCF0;
  color: #16659A;
  border: 1px solid #3498DB;
  text-align: left;
  svg {
    width: 14px;
    height: 14px;
    position: relative;
    top: -1px;
  }
  .star-full {
    path {
      fill: #16659A;
    }
  }
  .star-half {
    .star-rating-filled {
      stop-color: #16659A;
    }
    .star-rating-base {
      stop-color: rgba(0,0,0,.2);
    }
  }
  .star-empty {
    path {
      fill: rgba(0,0,0,.2);
    }
  }
}

.media-user-rating {
  margin-left: 15px;
  border-radius: 3px;
  margin-left: 15px;
  border-radius: 3px;
  border: none;
  background: none;
  color: $charcoal;
}

.media--meta {
  margin-top: 10px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .rating-content-type, .media--category-tag  {
    display: inline-block;
    border: 1px solid;
    border-radius: 999em;
    font-size: 12px;
  }
  .rating-content-type {
    border-radius: 3px;
    margin-right: 10px;
    opacity: .8;
    span {
      padding: 5px 10px;
      display: inline-block;
      &:first-child {
        border-right: 1px solid;
      }
    }
  }
  .media--category-tag {
    margin-right: 5px;
    opacity: .6;
    transition: all .2s ease-in-out;
    &:hover {
      opacity: 1;
    }
    a {
      color: #fff;
      display: inline-block;
      padding: 5px 10px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .media--secondary-meta {
    margin-top: 10px;
    opacity: .6;
  }
  .media--airing-date, .media--content-length {
    display: inline-block;
    font-size: 12px;
  }
  .media--airing-date {
    margin-right: 30px;
  }
}

// Episode pages
.media--episode-grid {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-left: -5px;
  margin-right: -5px;
  li {
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 15px;
  }
}

.thumbnail-wrapper {
  margin-bottom: 5px;
}
.thumbnail-description {
  font-size: 12px;
  h6 {
    margin-bottom: 0;
  }
}
