.media-container {
  margin-left: 205px;
  max-width: 800px;
  .media {
    margin-top: 15px;
  }
  .media-left {
    width: 40px;
    margin-right: 10px;
    img {
      border-radius: 999em;
    }
  }
  .media-heading {
    margin-bottom: 5px;
    display: block;
  }
  .comment-body {
    font-size: 15px;
    p {
      margin-bottom: 10px;
    }
  }
}
