.media-container {
  margin-left: 205px;
  max-width: 910px;
  .row {
    width: 100%;
  }
  @media (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
    padding-right: 15px;
  }
  @media (max-width: 991px) {
    .col-sm-8 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
  .media {
    margin-top: 15px;
  }
  h5 {
    font-size: 15px;
  }
  .media-left {
    width: 40px;
    margin-right: 10px;
    img {
      border-radius: 999em;
    }
  }
  .media-heading {
    margin-bottom: 5px;
    display: block;
  }
  .comment-body {
    @include word-break();
    font-size: 15px;
    overflow: hidden;
    p {
      @include word-break();
      margin-bottom: 10px;
    }
  }
}

.media--title {
  h3 {
    display: inline;
    margin-right: 5px;
  }
  h5 {
    display: inline;
    position: relative;
    color: $body-secondary-text-color;
    font-size: 17px;
  }
}

.media-rating {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 700;
  .media-match, .media-community-rating {
    color: rgba(26, 188, 156,1.0);
    &.percent-quarter-1 {
      color: rgba(231, 76, 60,1.0);
    }
    &.percent-quarter-2 {
      color: rgba(230, 126, 34,1.0);
    }
    &.percent-quarter-3 {
      color: rgba(243, 156, 18,1.0);
    }
    &.percent-quarter-4 {
      color: rgba(26, 188, 156,1.0);
    }
  }
}

.rating-box {
  background: #fff;
  border: 1px solid #eee;
  margin-top: 10px;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 0;
  svg {
    width: 18px;
    height: 18px;
  }
  .media-favorite {
    padding: 10px;
    display: inline-block;
    height: 38px;
    text-align: center;
  }
}

.media-favorite {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  text-align: center;
  background: rgba(0,0,0,.5);
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 3px 0 2px 0;
  .heart-wrapper {
    width: 15px;
    height: 15px;
    background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjN0U3RTdFIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjY0IDU5NnEwLTgxLTIxLjUtMTQzdC01NS05OC41VDE1MDYgMjk1dC05NC0zMS05OC04LTExMiAyNS41LTExMC41IDY0LTg2LjUgNzItNjAgNjEuNXEtMTggMjItNDkgMjJ0LTQ5LTIycS0yNC0yOC02MC02MS41dC04Ni41LTcyLTExMC41LTY0VDQ3OCAyNTZ0LTk4IDgtOTQgMzEtODEuNSA1OS41LTU1IDk4LjVUMTI4IDU5NnEwIDE2OCAxODcgMzU1bDU4MSA1NjAgNTgwLTU1OXExODgtMTg4IDE4OC0zNTZ6bTEyOCAwcTAgMjIxLTIyOSA0NTBsLTYyMyA2MDBxLTE4IDE4LTQ0IDE4dC00NC0xOGwtNjI0LTYwMnEtMTAtOC0yNy41LTI2VDE0NSA5NTIuNSA3NyA4NTUgMjMuNSA3MzQgMCA1OTZxMC0yMjAgMTI3LTM0NHQzNTEtMTI0cTYyIDAgMTI2LjUgMjEuNXQxMjAgNThUODIwIDI3NnQ3NiA2OHEzNi0zNiA3Ni02OHQ5NS41LTY4LjUgMTIwLTU4VDEzMTQgMTI4cTIyNCAwIDM1MSAxMjR0MTI3IDM0NHoiLz48L3N2Zz4=');
    background-size: cover;
    display: inline-block;
    span {
      fill: #FFF;
    }
  }
  &:hover {
    .heart-wrapper {
      background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRjg3MjcwIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjY0IDU5NnEwLTgxLTIxLjUtMTQzdC01NS05OC41VDE1MDYgMjk1dC05NC0zMS05OC04LTExMiAyNS41LTExMC41IDY0LTg2LjUgNzItNjAgNjEuNXEtMTggMjItNDkgMjJ0LTQ5LTIycS0yNC0yOC02MC02MS41dC04Ni41LTcyLTExMC41LTY0VDQ3OCAyNTZ0LTk4IDgtOTQgMzEtODEuNSA1OS41LTU1IDk4LjVUMTI4IDU5NnEwIDE2OCAxODcgMzU1bDU4MSA1NjAgNTgwLTU1OXExODgtMTg4IDE4OC0zNTZ6bTEyOCAwcTAgMjIxLTIyOSA0NTBsLTYyMyA2MDBxLTE4IDE4LTQ0IDE4dC00NC0xOGwtNjI0LTYwMnEtMTAtOC0yNy41LTI2VDE0NSA5NTIuNSA3NyA4NTUgMjMuNSA3MzQgMCA1OTZxMC0yMjAgMTI3LTM0NHQzNTEtMTI0cTYyIDAgMTI2LjUgMjEuNXQxMjAgNThUODIwIDI3NnQ3NiA2OHEzNi0zNiA3Ni02OHQ5NS41LTY4LjUgMTIwLTU4VDEzMTQgMTI4cTIyNCAwIDM1MSAxMjR0MTI3IDM0NHoiPjwvcGF0aD48L3N2Zz4=');
      background-size: cover;
      display: inline-block;
    }
  }
  &.is-favorite {
    .heart-wrapper {
      @extend .animated;
      @extend .rubberBand;
      background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRjg3MjcwIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik04OTYgMTY2NHEtMjYgMC00NC0xOGwtNjI0LTYwMnEtMTAtOC0yNy41LTI2VDE0NSA5NTIuNSA3NyA4NTUgMjMuNSA3MzQgMCA1OTZxMC0yMjAgMTI3LTM0NHQzNTEtMTI0cTYyIDAgMTI2LjUgMjEuNXQxMjAgNThUODIwIDI3NnQ3NiA2OHEzNi0zNiA3Ni02OHQ5NS41LTY4LjUgMTIwLTU4VDEzMTQgMTI4cTIyNCAwIDM1MSAxMjR0MTI3IDM0NHEwIDIyMS0yMjkgNDUwbC02MjMgNjAwcS0xOCAxOC00NCAxOHoiPjwvcGF0aD48L3N2Zz4=');
      background-size: cover;
      display: inline-block;
      span {
        fill: #F87270;
      }
    }
  }
  @media (max-width: 767px) {
    z-index: 1;
    background-color: $foreground-background-color;
    //margin-top: -16px;
  }
}

.media-user-rating {
  margin-bottom: 15px;
  border-radius: 3px;
  border: none;
  background: none;
  color: $body-text-color;
}

.media--meta {
  margin-top: 10px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .rating-content-type, .media--category-tag  {
    display: inline-block;
    border: 1px solid;
    border-radius: 999em;
    font-size: 12px;
  }
  .rating-content-type {
    border-radius: 3px;
    margin-right: 10px;
    opacity: .8;
    span {
      padding: 5px 10px;
      display: inline-block;
      &:nth-child(2) {
        border-left: 1px solid;
      }
    }
  }
  .media--category-tag {
    margin-right: 5px;
    opacity: .6;
    transition: all .2s ease-in-out;
    &:hover {
      opacity: 1;
    }
    a {
      color: #fff;
      display: inline-block;
      padding: 5px 10px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .media--secondary-meta {
    margin-top: 10px;
    opacity: .6;
  }
  .media--airing-date, .media--content-length {
    display: inline-block;
    font-size: 12px;
  }
  .media--airing-date {
    margin-right: 30px;
  }
}

.media-description p {
  @include word-break();
  white-space: pre-line;
}

.media--main-characters {
  .favorite-item {
    display: inline-block;
    width: 80px;
  }
}

.media--reactions {
  margin-bottom: 20px;
  .reactions-header {
    margin-bottom: 15px;
    h5 {
      display: inline;
    }
    .result-sort-wrapper {
      .dropdown {
        display: inline;
      }
      button {
        color: $body-text-color;
        padding: 0;
        background: transparent;
        font-size: 14px;
        border: none;
      }
    }
    .reaction-button {
      float: right;
      font-weight: 700;
      font-size: 14px;
    }
  }
  .reactions-list {
    padding: 0 15px;
    background: $foreground-background-color;
    border: 1px solid darken($background-color, 5);
    border-radius: 3px;
    div:last-child {
      .reaction {
        border-bottom: none;
      }
    }
    .reactions-more {
      padding: 10px;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      a {
        color: $body-secondary-text-color;
      }
    }
  }
}

.reaction {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid darken($background-color, 5);
  position: relative;
  .more-wrapper {
    position: absolute;
    top: -7px;
    right: 0;
    opacity: 0;
  }
  &:hover {
    .more-wrapper {
      opacity: 1;
    }
  }
  .reaction-votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 4px;
    padding-left: 10px;
    padding-right: 20px;
    min-width: 50px;
    color: $body-secondary-text-color;
    font-weight: 600;
    font-family: inherit;
    svg {
      width: 9px;
      height: 6px;
      margin-bottom: 2px;
      fill: $body-secondary-text-color;
      position: relative;
      left: -1px;
    }
    &:hover, &.upvoted {
      color: $body-text-color;
      svg {
        fill: $body-text-color;
      }
    }
  }
  .reaction-user {
    color: $body-secondary-text-color;
    font-size: 12px;
    font-weight: 600;
    .reaction-user-name {
      color: inherit;
      &:hover {
        color: $body-link-color;
      }
    }
  }
  .reaction-content {
    font-weight: 700;
    a {
      color: inherit;
      word-break: break-word;
      &:hover {
        color: $body-link-color;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
  .reaction-options {
    margin-left: auto;
    margin-right: 10px;
  }
}

.thumbnail-wrapper {
  margin-bottom: 5px;
}
.thumbnail-description {
  font-size: 12px;
  h6 {
    margin-bottom: 0;
  }
}

.media--sidebar {
  padding-right: 0;
  max-width: 310px;
  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    border-left: 0px;
  }
  .is-sticky {
    @media screen and (max-height: 1200px) {
      position: relative;
      top: 0;
    }
  }
}

.media-summary {
  padding: 20px;
  margin-bottom: 15px;
  background: $foreground-background-color;
  border: 1px solid darken($background-color, 5);
  border-radius: 3px;
  .more-link {
    font-size: 12px;
    color: $body-secondary-text-color;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    > strong {
      width: 100px;
      max-width: 35%;
    }
    > span,
    > a {
      max-width: 65%;
      display: inline-flex;
      align-items: center;
    }
  }
  h5 {
    margin-bottom: 10px;
  }
  a {
    color: $body-text-color;
  }
  section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid darken($background-color, 5);
  }
}

@media (max-width: 991px) {
  .media--information {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      min-width: 50%;
      strong {
        max-width: unset;
        width: 70px;
      }
      span {
        align-items: unset;
        max-width: calc(100% - 70px); // subtracting width of strong
      }
    }
  }
}

.media-sidebar {
  .media-poster {
    img {
      width: 195px;
      height: 277px;
    }
  }
  .library-state {
    margin-top: 20px;
  }
}

.media-rankings {
  font-size: 12px;
  font-weight: 500;
  .ranking {
    @media (max-width: 432px) {
      width: 100%;
      display: block;
      text-align: center;
    }
    color: inherit;
    svg {
      width: 12px;
      height: 12px;
      position: relative;
      top: 1px;
      margin-right: 2px;
      fill: #e74c3c;
    }
    &.ranking-rating {
      float: right;
      svg {
        fill: #f39c12;
      }
    }
  }
}
.media-rankings.full {
  border-top: 1px solid darken($background-color,5);
  padding: 15px 0;
  border-bottom: 1px solid darken($background-color,5);
  margin-bottom: 20px;
}

.media-preview {
  position: relative;
  height: 70px;
  overflow: hidden;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 3px;
  img {
    width: 100%;
  }
  .media-preview--overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 100%);
    background-size: auto 200%;
    h3 {
      margin: 0 15px;
      color: $active-link-color;
      font-weight: 500;
    }
    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.media-preview-tablet {
  margin-top: 10px;
}

.media--tags {
  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
}

.media--category-tag a {
  color: $body-text-color;
  background: $foreground-background-color;
  border: 1px solid darken($background-color, 5);
  border-radius: 3px;
  padding: 4px 8px;
  &:hover {
    background: darken($foreground-background-color, 3);
    color: $body-text-color;
  }
}

.media--related {
  margin-bottom: 10px;

  .favorite-media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, calc(25% - .5rem)));
    gap: .5rem;
    
    .favorite-item.col-sm-3, .favorite-item.col-sx-3 {
      width: unset;
      height: unset;
      max-width: unset;
      padding: 0;
      
      img {
        width: unset;
        height: unset;
      }
    }
  }
}

.related--title {
  font-size: 12px;
  font-weight: 500;
  background: $background-color;
  display: inline-block;
  position: relative;
  padding: 0;
  top: -15px;
}

.related--panel {
  display: inline-block;
  margin: 10px 0;
}

.related--wrapper {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid $divider-color;
  padding: 0 10px;
  position: relative;
}

.related--item {
  display: inline-block;
  width: 50px;
  height: 60px;
  margin-bottom: 5px;
  margin-right: 5px;
  &:last-child {
    margin-right: 0px;
  }
  overflow: hidden;
  border-radius: 3px;
}

.related--posters {
  margin-top: -10px;
  text-align: center;
  img {
    width: 50px;
    height: 70px;
  }
}

// character grid

.characters--language--header {
  margin-top: 6px;
  button {
    padding: 3px 5px;
    font-size: 12px;
    background: transparent;
    border: 1px solid #a3a9b7;
    margin-left: 10px;
    color: #a3a9b7;
    &:hover {
      background: rgba(255,255,255,.1);
    }
  }
  svg {
    width: 16px;
    height: 16px;
  }
}

.character-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.character-wrapper {
  @extend .card;
}

.character-image {
  min-height: 175px;
  max-height: 175px;
  min-width: 171px;
  max-width: 175px;
  overflow: hidden;
  &:hover {
    opacity: .8;
  }
  img {
    width: 100%;
    height: 266px;
  }
}

.character-name a {
  font-size: 12px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  display: block;
  color: #333;
}

.media-character {
  display: flex;
  max-width: 173px;
  margin-right: 10px;
  &:nth-child(5n+5) {
    margin-right: 0px;
    @media (max-width: 990px) {
      margin-right: 10px;
    }
  }
}

.character-voice-actors {
  padding: 0 10px;
  margin-bottom: 10px;
}

.va {
  border-radius: 3px;
  height: 25px;
  overflow: hidden;
  font-size: 12px;
  font-family: $base-font-family;
  font-weight: 500;
  line-height: 25px;
  color: #333;
  background: #f2f2f2;
  margin-bottom: 5px;
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
  .lazy-image, img {
    width: 25px;
    height: 38px;
    float: left;
    margin-right: 5px;
  }
}

.media--feed {
  margin-top: 20px;
  max-width: 540px;
  h5 {
    margin-bottom: 20px;
  }
}

.media--franchise-header {
  width: 100%;
}

.media--franchise-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .media--franchise-item {
    width: 170px;
    max-width: 170px;
    margin: 5px;
    margin-bottom: 10px;
    .poster-wrapper {
      position: relative;
      img {
        border-radius: 3px;
      }
      .poster-overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 3px;
        > a {
          display: block;
          width: 100%;
          height: 100%;
        }
        .library-state {
          position: absolute;
          bottom: 0px;
          padding: 10px;
          width: 100%;
          button {
            padding: 8px;
            font-size: 12px;
            width: 100%;
          }
        }
      }
      &:hover {
        .poster-overlay {
          opacity: 1;
          background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 100%);
          background-size: auto 200%;
        }
      }
    }
    .media--franchise-item-meta {
      .media-title {
        font-size: 16px;
        font-weight: bold;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .media-era {
        font-size: 12px;
      }
      .media-type {
        font-weight: bold;
      }
      .media-date {
        color: $body-secondary-text-color;
      }
      .media-info {
        display: block;
        font-size: 12px;
      }
    }
  }
}
