.browse-page {
  padding-top: 0;
  .global-container {
    max-width: 100%;
    min-height: 100vh;
    padding-top: 54px;
    background: linear-gradient(90deg, $voodoo 50%, $alabaster 50%);
    @media (max-width: 768px) {
      background: $alabaster;
      padding-left: 5px;
      padding-right: 15px;
    }
  }
}

.media-browse {
  margin: 0 auto;
  margin-bottom: -54px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  .row {
    position: relative;
  }
  .filter-options {
    background-color: $voodoo;
    border-right: 1px solid darken($voodoo, 10);
    border-left: 1px solid darken($voodoo, 10);
    width: 240px;
    padding: 0;
    bottom: 0;
    user-select: none;
    cursor: default;
    height: calc(100vh - 54px);
    position: fixed;
    top: 54px;

    @media (max-width: 768px) {
      display: none;
    }
    &.scrolled {
    // TODO: Remove functionality
    }
  }
  .filter-wrapper {
    height: 100%;
    padding-top: 20px;
    overflow: auto;
  }

  .media-grid {
    position: relative;
    background: $alabaster;
    @media (max-width: 768px) {
      padding-left: 30px;
    }
    .media-posters {
      min-width: 100%;
      min-height: calc(100vh - 54px);
      padding: 75px 0 75px 280px;
      padding-right: 0;
      overflow-y: auto;
      overflow-x: hidden;
      //height: 100vh;
      @media (max-width: 768px) {
        padding: 75px 0 75px 0;
        margin-left: -5px;
      }
      .row {
        @media (max-width: 768px) {
          margin-left: 0;
        }
        .media-posters-list {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
    .poster-wrapper {
      padding-right: 15px;
      margin-bottom: 15px;
      position: relative;
      img {
        border-radius: 3px;
      }
      @media (min-width: 1421px) {
        width: 20%;
      }
      @media (max-width: 1420px) {
        width: 20%;
      }
      @media (max-width: 1220px) {
        width: 25%;
      }
      @media (max-width: 990px) {
        width: 50%;
      }
      .media-title {
        color: #383D48;
        font-size: 12px;
        font-weight: 600;
      }
    }
    .grid-poster {
      position: relative;
      cursor: pointer;
      .poster-overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 3px;
        > a {
          display: block;
          width: 100%;
          height: 100%;
        }
        .shared-friends {
          position: absolute;
          left: 10px;
          bottom: 10px;
        }
        .friend-avatar img {
          border-radius: 999em;
          width: 30px;
        }
        .friend-count {
          background: rgba(255,255,255,.2);
          color: #fff;
          font-weight: 600;
          width: 30px;
          font-size: 13px;
          height: 30px;
          display: inline-block;
          text-align: center;
          border-radius: 999em;
          line-height: 30px;
          position: relative;
          margin-left: 5px;
          top: 1px;
        }
        .trailer svg {
          border: 2px solid #fff;
          width: 30px;
          height: 30px;
          line-height: 27px;
          text-align: center;
          font-size: 13px;
          color: #fff;
          border-radius: 50%;
          position: absolute;
          bottom: 10px;
          right: 10px;
          opacity: .7;
          path {
            fill: #fff;
          }
        }
      }
      &:hover {
        .poster-overlay {
          opacity: 1;
          background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 100%);
          background-size: auto 200%;
        }
      }
    }
  }

  .media-poster-header {
    // TODO: @wopian search width spans remainder of page
    z-index: 11;
    background: RGBA(250, 250, 250, .98);
    position: fixed;
    top: 54px;
    width: 100%;
    margin-left: 265px;
    @media (min-width: 1200px) {
      max-width: 1140px - 240px - 25px;
    }
    @media (max-width: 1199px) {
      max-width: 940px - 240px - 25px;
    }
    @media (max-width: 990px) {
      max-width: 720px - 240px - 25px;
    }
    @media (max-width: 768px) {
      padding: 0 0 0 10px;
      margin-left: -15px;
      max-width: 576px;
    }
    @media (max-width: 600px) {
      max-width: calc(100vw - 20px);
    }
    .search-media {
      @extend .col-xs;
      position: relative;
      padding-right: 0;
      .filter-icon {
        left: 0;
        top: 6px;
      }
    }
    input {
      width: 40px;
      border: none;
      font-size: 16px;
      width: 100%;
      background: transparent;
      padding-right: 0;
    }

    .filter-container {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      overflow: hidden;
      word-wrap: break-word;
      padding: 15px 0;
      border-bottom: 1px solid $eggshell;
    }

    .active-filter {
      position: relative;
      margin-right: 10px;
      color: $charcoal;
      padding: 5px 10px;
      padding-right: 35px;
      border-radius: 3px;
      border: 1px solid #ddd;
    }
    .tag-remove {
      position: absolute;
      right: 10px;
      top: 7px;
      svg {
        width: 16px;
        fill: #a5a5a5;
      }
      &:hover {
        svg {
          fill: #e74c3c;
        }
      }
    }
  }



  // Filter widgets
  .filter-widget {
    border-bottom: 1px solid darken($voodoo, 10);
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 0;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
  .filter-slider--wrapper {
    padding: 0 11px 0 3px;
  }
  .filter-header {
    @extend .clearfix;
    .filter-title {
      float: left;
      color: #a3a9b7;
      font-size: 12px;
      line-height: 30px;
      font-weight: 600;
    }
    .filter-values {
      float: right;
      color: #a3a9b7;
      background: lighten($voodoo,4);
      font-size: 12px;
      padding: 2px 10px;
      border-radius: 999em;
      position: relative;
      top: 3px;
    }
  }

  .category-filter {
    padding: 0;
    padding-bottom: 15px;
    .filter-header {
      padding: 0 10px;
    }
  }

  .filter-legend {
    @extend .clearfix;
    text-align: center;
    font-size: 12px;
    color: #a3a9b7;
    font-weight: 900;
    svg {
      width: 10px;
      fill: #a3a9b7;
    }
    .low-value {
      float: left;
    }
    .high-value {
      float: right;
    }
  }

  .button {
    margin-bottom: 0;
    background: #3B414B;
    border-radius: 5px;
    margin-top: 20px;
    color: $alabaster;
    font-weight: 600;
    text-align: left;
  }

  .button.dropdown::after {
    border-color: $alabaster transparent transparent;
  }

  .box-select {
    @extend .clearfix;
    margin-top: 20px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      float: left;
      background: #ddd;
      width: 50px;
      height: 45px;
      border-radius: 2px;
      margin-bottom: 5px;
      margin-right: 4px;
      text-align: center;
      background: lighten($voodoo,4);
      &:nth-child(4), &:nth-child(8) {
        margin-right: 0;
      }
      &:hover {
        background: darken($voodoo,4);
      }
      &.active {
        background: $white;
      }
      &.active {
        background: $white;
        &:hover {
          opacity: .8;
        }
        path {
          opacity: 1;
        }
      }
      &:not(.active) {
        path {
          fill: #a3a9b7;
          opacity: .5;
        }
      }
      svg {
        width: 25px;
        height: 26px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .language-select {
    label {
      font-size: 12px;
      color: $alabaster;
    }
    input {
      margin-bottom: 0;
    }
  }

  .rating-select {
    @extend .clearfix;
    margin-top: 20px;
    ul {
      list-style-type: none;
      margin: 0;
    }
    li {
      float: left;
      background: lighten($voodoo,4);
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
      color: #a3a9b7;
      padding: 5px 10px;
      margin-right: 5px;
      border-radius: 2px;
      &.active {
        background: #EDEEEF;
        color: $voodoo;
        &:hover {
          background: #EDEEEF;
        }
      }
      &:hover {
        background: darken($voodoo, 5);
      }
    }
  }

  .category-select {
    @extend .clearfix;
    margin-top: 20px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      position: relative;
      a {
        color: #a3a9b7;
        font-weight: 600;
        display: block;
        padding: 5px 0px;
        padding-left: 10px;
        font-size: 13px;
        font-family: $base-font-family;
      }
      .include-genre, .exclude-genre {
        position: absolute;
        top: 4px;
        right: 10px;
        height: 20px;
        visibility: hidden;
        svg {
          width: 20px;
        }
        &[class*="hint--"]:after {
          box-shadow: none;
        }
      }
      .include-genre svg {
        fill: #2ecc71;
      }
      .exclude-genre svg {
        fill: #ACB4BF;
        &:hover {
          fill: #EF8F79;
        }
      }
      &.active {
        .include-genre {
          @extend .animated;
          @extend .fadeInRight;
          visibility: visible;
        }
        .exclude-genre {
          visibility: hidden;
        }
        a {
          background: darken($voodoo,4);
          &:hover {
            background: darken($voodoo,3);
          }
        }
        &:hover {
          .include-genre { visibility: hidden; }
          .exclude-genre { visibility: visible; }
        }
      }
      &:hover {
        .include-genre {
          visibility: visible;
        }
        a {
          background: lighten($voodoo,4);
          text-decoration: none;
        }
      }
    }
  }
  .slider {
    background: lighten($voodoo,4);
    height: 5px;
    border-radius: 999em;
    margin-bottom: 15px;
  }
  .slider-fill {
    background-color: #2EA291;
    height: 5px;
  }
  .noUi-handle {
    border-radius: 999em;
    background-color: #1ABC9C;
    height: 14px;
    width: 14px;
    left: -10px;
    top: -5px;
    &:after {
      display: block;
      content: '';
      background: lighten($voodoo,4);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -3px;
      margin-top: -3px;
      width: 6px;
      height: 6px;
      border-radius: 999em;
    }
  }
  .noUi-handle-lower {
    left: -11px;
  }
  .noUi-handle,
  .noUi-target {
    cursor: pointer;
  }
  .noUi-base,
  .noUi-background {
    background: lighten($voodoo,4);
    box-shadow: none;
  }
}
.media-trailer {
  padding: 0 !important;
  border-radius: 3px !important;
  .trailer-info {
    padding: 15px;
  }
  .info-header {
    border-bottom: 1px solid #ddd;
  }
  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: inline-block;
    }
  }
}
