.media-container {
  margin-left: 205px;
  max-width: 910px;
  @media (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
    padding-right: 15px;
  }
  @media (max-width: 991px) {
    .col-sm-8 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
  .media {
    margin-top: 15px;
  }
  h5 {
    font-size: 15px;
  }
  .media-left {
    width: 40px;
    margin-right: 10px;
    img {
      border-radius: 999em;
    }
  }
  .media-heading {
    margin-bottom: 5px;
    display: block;
  }
  .comment-body {
    @include word-break();
    font-size: 15px;
    overflow: hidden;
    p {
      margin-bottom: 10px;
    }
  }
}

.percentage-liked, .average-rating {
  color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  padding: 5px 15px;
  width: 80px;
  float: left;
  &.lonely {
    padding: 0;
  }
  .featured-number {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    font-size: 24px;
    margin-top: -5px;
    margin-bottom: -5px;
    label {
      margin-bottom: 0;
      margin-right: 5px;
    }
  }
  span {
    display: block;
    font-size: 12px;
  }
}
.average-rating {
  width: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: left;
  svg {
    width: 14px;
    height: 14px;
    position: relative;
    top: -1px;
  }
}

.rating-bar {
  background: $white;
  border: 1px solid #eee;
  margin-bottom: 15px;
  border-radius: 3px;
}

.community-percentage {
  display: inline-block;
  padding: 5px 10px;
  background: #fafafa;
  border-right: 1px solid #eee;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-weight: 700;
  float: left;
  &.percent-quarter-1 {
    color: rgba(231, 76, 60,1.0);
    background: rgba(231, 76, 60,.08);
  }
  &.percent-quarter-2 {
    color: rgba(230, 126, 34,1.0);
    background: rgba(230, 126, 34,.08)
  }
  &.percent-quarter-3 {
    color: rgba(243, 156, 18,1.0);
    background: rgba(243, 156, 18,.08);
  }
  &.percent-quarter-4 {
    color: rgba(26, 188, 156,1.0);
    background: rgba(26, 188, 156,.05);
  }
}

.average-rating-stars {
  display: inline-block;
  padding: 5px 10px;
  float: left;
  position: relative;
  top: 1px;
  svg {
    width: 15px;
    height: 15px;
  }
}

.ratings-count {
  font-size: 12px;
  color: #949494;
  float: right;
  padding: 8px 15px;
  padding-right: 15px;
  @media (max-width: 500px) {
    width: 100%;
    border-top: 1px solid #eee;
  }
}

.rating-box {
  background: #fff;
  border: 1px solid #eee;
  margin-top: 10px;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 0;
  svg {
    width: 18px;
    height: 18px;
  }
  .user-star-rating, .media-favorite {
    padding: 10px;
    display: inline-block;
    height: 38px;
    text-align: center;
  }
  .media-favorite {
    float: right;
    border-left: 1px solid #eee;
    width: 38px;
    text-align: center;
    .heart-wrapper {
      width: 15px;
      height: 15px;
      background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjN0U3RTdFIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjY0IDU5NnEwLTgxLTIxLjUtMTQzdC01NS05OC41VDE1MDYgMjk1dC05NC0zMS05OC04LTExMiAyNS41LTExMC41IDY0LTg2LjUgNzItNjAgNjEuNXEtMTggMjItNDkgMjJ0LTQ5LTIycS0yNC0yOC02MC02MS41dC04Ni41LTcyLTExMC41LTY0VDQ3OCAyNTZ0LTk4IDgtOTQgMzEtODEuNSA1OS41LTU1IDk4LjVUMTI4IDU5NnEwIDE2OCAxODcgMzU1bDU4MSA1NjAgNTgwLTU1OXExODgtMTg4IDE4OC0zNTZ6bTEyOCAwcTAgMjIxLTIyOSA0NTBsLTYyMyA2MDBxLTE4IDE4LTQ0IDE4dC00NC0xOGwtNjI0LTYwMnEtMTAtOC0yNy41LTI2VDE0NSA5NTIuNSA3NyA4NTUgMjMuNSA3MzQgMCA1OTZxMC0yMjAgMTI3LTM0NHQzNTEtMTI0cTYyIDAgMTI2LjUgMjEuNXQxMjAgNThUODIwIDI3NnQ3NiA2OHEzNi0zNiA3Ni02OHQ5NS41LTY4LjUgMTIwLTU4VDEzMTQgMTI4cTIyNCAwIDM1MSAxMjR0MTI3IDM0NHoiLz48L3N2Zz4=');
      background-size: cover;
      display: inline-block;
    }
    &:hover {
      .heart-wrapper {
        background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRjg3MjcwIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjY0IDU5NnEwLTgxLTIxLjUtMTQzdC01NS05OC41VDE1MDYgMjk1dC05NC0zMS05OC04LTExMiAyNS41LTExMC41IDY0LTg2LjUgNzItNjAgNjEuNXEtMTggMjItNDkgMjJ0LTQ5LTIycS0yNC0yOC02MC02MS41dC04Ni41LTcyLTExMC41LTY0VDQ3OCAyNTZ0LTk4IDgtOTQgMzEtODEuNSA1OS41LTU1IDk4LjVUMTI4IDU5NnEwIDE2OCAxODcgMzU1bDU4MSA1NjAgNTgwLTU1OXExODgtMTg4IDE4OC0zNTZ6bTEyOCAwcTAgMjIxLTIyOSA0NTBsLTYyMyA2MDBxLTE4IDE4LTQ0IDE4dC00NC0xOGwtNjI0LTYwMnEtMTAtOC0yNy41LTI2VDE0NSA5NTIuNSA3NyA4NTUgMjMuNSA3MzQgMCA1OTZxMC0yMjAgMTI3LTM0NHQzNTEtMTI0cTYyIDAgMTI2LjUgMjEuNXQxMjAgNThUODIwIDI3NnQ3NiA2OHEzNi0zNiA3Ni02OHQ5NS41LTY4LjUgMTIwLTU4VDEzMTQgMTI4cTIyNCAwIDM1MSAxMjR0MTI3IDM0NHoiPjwvcGF0aD48L3N2Zz4=');
        background-size: cover;
        display: inline-block;
      }
    }
    &.is-favorite {
      .heart-wrapper {
        @extend .animated;
        @extend .rubberBand;
        background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRjg3MjcwIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik04OTYgMTY2NHEtMjYgMC00NC0xOGwtNjI0LTYwMnEtMTAtOC0yNy41LTI2VDE0NSA5NTIuNSA3NyA4NTUgMjMuNSA3MzQgMCA1OTZxMC0yMjAgMTI3LTM0NHQzNTEtMTI0cTYyIDAgMTI2LjUgMjEuNXQxMjAgNThUODIwIDI3NnQ3NiA2OHEzNi0zNiA3Ni02OHQ5NS41LTY4LjUgMTIwLTU4VDEzMTQgMTI4cTIyNCAwIDM1MSAxMjR0MTI3IDM0NHEwIDIyMS0yMjkgNDUwbC02MjMgNjAwcS0xOCAxOC00NCAxOHoiPjwvcGF0aD48L3N2Zz4=');
        background-size: cover;
        display: inline-block;
        span {
          fill: #F87270;
        }
      }
    }
  }
}

.media-user-rating {
  margin-bottom: 15px;
  border-radius: 3px;
  border: none;
  background: none;
  color: $charcoal;
}

.media--meta {
  margin-top: 10px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .rating-content-type, .media--category-tag  {
    display: inline-block;
    border: 1px solid;
    border-radius: 999em;
    font-size: 12px;
  }
  .rating-content-type {
    border-radius: 3px;
    margin-right: 10px;
    opacity: .8;
    span {
      padding: 5px 10px;
      display: inline-block;
      &:nth-child(2) {
        border-left: 1px solid;
      }
    }
  }
  .media--category-tag {
    margin-right: 5px;
    opacity: .6;
    transition: all .2s ease-in-out;
    &:hover {
      opacity: 1;
    }
    a {
      color: #fff;
      display: inline-block;
      padding: 5px 10px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .media--secondary-meta {
    margin-top: 10px;
    opacity: .6;
  }
  .media--airing-date, .media--content-length {
    display: inline-block;
    font-size: 12px;
  }
  .media--airing-date {
    margin-right: 30px;
  }
}

.media-synopsis p {
  @include word-break();
  white-space: pre-line;
}

.media--main-characters {
  .favorite-media-grid {
    justify-content: center;
    align-items: center;
  }
  .favorite-item {
    display: inline-block;
    width: 80px;
  }
}

// Episode pages
.media--episode-grid {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-left: -5px;
  margin-right: -5px;
  li {
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 164px;
    }
  }
}

.thumbnail-wrapper {
  margin-bottom: 5px;
}
.thumbnail-description {
  font-size: 12px;
  h6 {
    margin-bottom: 0;
  }
}

.media--sidebar {
  padding-right: 0;
  border-left: 1px solid #ddd;
  max-width: 310px;
  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    border-left: 0px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  h5 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  section {
    margin-bottom: 20px;
  }
}

.media-sidebar {
  .media-poster {
    img {
      width: 195px;
      height: 277px;
    }
  }
  .library-state {
    margin-top: 20px;
  }
}

.media-rankings {
  border-top: 1px solid #ddd;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
  .ranking {
    @media (max-width: 767px) {
      width: 100%;
      display: block;
      text-align: center;
    }
    svg {
      width: 12px;
      height: 12px;
      position: relative;
      top: 1px;
      margin-right: 2px;
      fill: #e74c3c;
    }
    &.ranking-rating {
      float: right;
      svg {
        fill: #f39c12;
      }
    }
  }
}

.media-preview {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  .media-preview--overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 100%);
    background-size: auto 200%;
    svg {
      fill: #fff;
      width: 40px;
      height: 40px;
      border-radius: 999em;
      border: 1px solid #fff;
      opacity: .7;
    }
  }
}

.media--tags {
  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
}

.media--category-tag a {
  color: #858585;
  background: #e5e5e5;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 4px 8px;
}

.media--related {
  margin-bottom: 10px;
}

.related--title {
  font-size: 12px;
  font-weight: 500;
  background: $alabaster;
  display: inline-block;
  position: relative;
  padding: 0;
  top: -15px;
}

.related--panel {
  display: inline-block;
  margin: 10px 0;
}

.related--wrapper {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 0 10px;
  position: relative;
}

.related--item {
  display: inline-block;
  width: 50px;
  height: 60px;
  margin-bottom: 5px;
  margin-right: 5px;
  &:last-child {
    margin-right: 0px;
  }
  overflow: hidden;
  border-radius: 3px;
}

.related--posters {
  margin-top: -10px;
  text-align: center;
  img {
    width: 50px;
    height: 70px;
  }
}

// character grid

.characters--language--header {
  margin-top: 6px;
  button {
    padding: 3px 5px;
    font-size: 12px;
    background: transparent;
    border: 1px solid #a3a9b7;
    margin-left: 10px;
    color: #a3a9b7;
    &:hover {
      background: rgba(255,255,255,.1);
    }
  }
  svg {
    width: 16px;
    height: 16px;
  }
}

.character-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.character-wrapper {
  @extend .card;
}

.character-image {
  min-height: 175px;
  max-height: 175px;
  min-width: 171px;
  max-width: 175px;
  overflow: hidden;
  &:hover {
    opacity: .8;
  }
  img {
    width: 100%;
    height: 266px;
  }
}

.character-name a {
  font-size: 12px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  display: block;
  color: #333;
}

.media-character {
  display: flex;
  max-width: 173px;
  margin-right: 10px;
  &:nth-child(5n+5) {
    margin-right: 0px;
    @media (max-width: 990px) {
      margin-right: 10px;
    }
  }
}

.character-voice-actors {
  padding: 0 10px;
  margin-bottom: 10px;
}

.va {
  border-radius: 3px;
  height: 25px;
  overflow: hidden;
  font-size: 12px;
  font-family: $base-font-family;
  font-weight: 500;
  line-height: 25px;
  color: #333;
  background: #f2f2f2;
  margin-bottom: 5px;
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
  .lazy-image, img {
    width: 25px;
    height: 38px;
    float: left;
    margin-right: 5px;
  }
}
