.pro-page {
  .global-container {
    max-width: 100%;
  }
}

.pro-header {
  width: 100%;
  margin-top: -38px;
  margin-bottom: 80px;
  padding: 30px 0 0px;
  height: 300px;
  color: white;
  background-color: #E8784A;
  background-image: linear-gradient(to right, rgba(232,120,74,1) 30%,rgba(234,76,137,0.5) 100%),
                    url("https://media.giphy.com/media/bUDr6ErDnhLz2/giphy.gif");
  background-position: center, right;
  background-size: 100%, 70%;
  background-repeat: no-repeat;
}

.pro-header__text {
  width: 40%;
}

.pro-tiers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.pro-tier {
  @extend .card;

  header {
    position: relative;
    background-color: $header-background-color;
    border-radius: 5px 5px 0 0;

    h3 {
      color: white;
      font-size: 3em;
      line-height: 6rem;
      padding-left: 180px;

      svg {
        position: absolute;
        bottom: 5px;
        left: 10px;
      }
    }
  }
}

.pro-tier__content {
  padding: 30px;

  dt ~ dt {
    border-top: 2px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
  }
}

.pro-tier__buybox {
  background-color: #F7F7F7;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  padding: 20px;
}

.pro-tier__price {
  height: 120px;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-template-areas:
    "amount length"
    "amount cycle";
}

.pro-tier__amount {
  grid-area: amount;
  align-self: center;
  text-align: right;
  font-size: 3rem;
  font-weight: bold;
}

.pro-tier__length {
  grid-area: length;
  align-self: end;
  font-weight: bold;
  font-size: 1.1rem;
}

.pro-tier__cycle {
  grid-area: cycle;
  align-self: start;
}

.logo-rule {
  color: #DDD;
  position: relative;
  text-align: center;
  margin: 40px 0;

  svg {
    fill: currentcolor;
    width: auto;
    height: 50px;
  }
  &::after, &::before {
    content: "";
    position: absolute;
    border-top: 2px solid currentcolor;
    top: calc(50% - 1px);
    width: calc(50% - 30px);
  }
  &::after { right: 0 }
  &::before { left: 0 }
}

.hall-of-fame {
  header { text-align: center }
  h3 { text-transform: uppercase }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: repeat(auto-fit, 1fr);
    list-style: none;
  }
  li {
    @extend .card;

    display: block;
  }
}
