.media-unit--block {
  @extend .card;
  padding: 10px;
  position: relative;
  transition: .2s all;
  .thumbnail-description h6 {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: $body-secondary-text-color;
    .thumb-caption {
      font-weight: 300;
    }
    .unit-number {
      color: $body-text-color;
    }
  }
  .thumbnail-wrapper {
    position: relative;
    .completion-status {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0,0,0,.5);
      color: $white;
      text-align: center;
      font-size: 12px;
      padding: 5px;
      display: none;
      z-index: 1;
    }
  }
  &.complete {
    .completion-status {
      display: block;
    }
    img {
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    }
  }
  &:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  }
}

.media--unit-grid {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-left: -5px;
  margin-right: -5px;
  li {
    display: inline-block;
    padding: 0 5px;
    img {
      width: 100%;
      height: 125px;
      object-fit: cover;
    }
  }
}

.unit-thumbnail {
  padding: 0;
}
.unit-synopsis {
  margin-bottom: 20px;
  border-top: 1px solid $divider-color;
  padding-top: 10px;
  margin-top: 12px;
}

.unit-discussion {
  margin-top: 20px;
}

.episode-list {
  margin-bottom: 13px;
  display: inline-block;
}

.unit-summary {
  .thumbnail-wrapper img {
    border-radius: 3px;
  }
  h6 {
    margin-bottom: 0;
  }
  .unit-date {
    color: $body-secondary-text-color;
  }
  .thumb-caption {
    padding: 5px 0;
  }
}

.unit-meta {
  align-items: center;
  display: flex;
}
