/* stylelint-disable scale-unlimited/declaration-strict-value */

:root[data-theme='dark'] {
  /* Page */
  --page-background: var(--kitsu-purple-5);
  --page-text-color: var(--grey-7);
  --page-link-color: var(--red-4);
  --page-content-background: var(--white);
  --focus-outline-color: var(--blue-4);

  /* Cards */
  --card-background: var(--white);
  --card-border: 1px solid var(--grey-3);
  --card-shadow: 0 2px 6px rgba(0 0 0 5%);

  /* Header */
  --header-primary-background: var(--kitsu-purple-5);
  --header-secondary-background: var(--kitsu-purple-6);
  --header-text-color: var(--grey-2);
  --header-skeleton-background: #00000033;
  --header-search-background: #00000033;
  --header-search-text-color: var(--kitsu-purple-2);
  --header-notifications-background: var(--red-4);
  --header-notifications-text-color: var(--white);

  /* Modals */
  --modal-scrim-background: #000000aa;
  --modal-page-background: var(--kitsu-purple-6);
  --modal-background: var(--grey-2);
  --modal-close-button-color: var(--white);
  --modal-shadow: 0 3px 5px 2px rgba(0 0 0 40%);

  /* Rules */
  --rule-text: var(--kitsu-purple-3);
  --rule-background: var(--kitsu-purple-2);

  /* Dropdowns */
  --dropdown-background: var(--white);
  --dropdown-shadow: 0 2px 16px 2px #00000022;
  --dropdown-text-color: var(--black);
  --dropdown-divider-color: var(--grey-2);
  --dropdown-item-hover-background: var(--grey-1);

  /* Inputs */
  --input-background: var(--white);
  --input-text-color: var(--grey-7);
  --input-border: 1px solid var(--grey-3);
  --input-sidecar-background: var(--grey-2);
  --input-invalid-border: 1px solid var(--red-4);

  /* Buttons */
  --button-primary-background: var(--green-4);
  --button-primary-text-color: var(--white);
  --button-primary-border: none;
  --button-primary-hover-background: var(--green-5);
  --button-primary-hover-text-color: var(--white);
  --button-primary-hover-border: none;
  --button-primary-active-background: var(--green-6);
  --button-primary-active-text-color: var(--white);
  --button-primary-active-border: none;

  --button-inverted-background: var(--white);
  --button-inverted-text-color: var(--kitsu-purple-6);
  --button-inverted-border: none;
  --button-inverted-hover-background: color-mod(white shade(15%));
  --button-inverted-hover-text-color: var(--kitsu-purple-6);
  --button-inverted-hover-border: none;
  --button-inverted-active-background: color-mod(white shade(25%));
  --button-inverted-active-text-color: var(--kitsu-purple-6);
  --button-inverted-active-border: none;

  --button-outline-background: transparent;
  --button-outline-text-color: var(--kitsu-purple-2);
  --button-outline-border: 1px solid var(--kitsu-purple-2);
  --button-outline-hover-background: transparent;
  --button-outline-hover-text-color: var(--kitsu-purple-3);
  --button-outline-hover-border: 1px solid var(--kitsu-purple-3);
  --button-outline-active-background: transparent;
  --button-outline-active-text-color: var(--kitsu-purple-4);
  --button-outline-active-border: 1px solid var(--kitsu-purple-4);

  --button-disabled-background: var(--grey-3);
  --button-disabled-text-color: var(--white);
  --button-disabled-border: none;

  /* Tabs */
  --tab-text-color: var(--grey-2);
  --tab-inactive-opacity: 0.8;
  --tab-active-gradient: linear-gradient(to right, #ed485f 0%, #f27c36 100%);

  /* Alerts */
  --alert-success-background: var(--green-1);
  --alert-success-border: 1px solid var(--green-3);
  --alert-success-text-color: var(--green-6);
  --alert-info-background: var(--grey-2);
  --alert-info-border: 1px solid var(--grey-3);
  --alert-info-text-color: var(--grey-6);
  --alert-warning-background: var(--yellow-1);
  --alert-warning-border: 1px solid var(--yellow-3);
  --alert-warning-text-color: var(--yellow-6);
  --alert-error-background: var(--red-1);
  --alert-error-border: 1px solid var(--red-3);
  --alert-error-text-color: var(--red-6);

  /* Toasts */
  --toast-background: var(--grey-2);
  --toast-border: 1px solid var(--grey-3);
  --toast-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  --toast-close-color: var(--kitsu-purple-3);

  /* Group Box */
  --group-box-border: 1px solid var(--kitsu-purple-2);
  --group-box-title-color: var(--kitsu-purple-3);

  /* Banner Images */
  --banner-image-fade: rgba(0, 0, 0, 0.5);

  /* Section Headers */
  --section-header-text-color: var(--kitsu-purple-3);
  --section-header-link-color: var(--kitsu-purple-2);

  /***** Non-Color Stuff *****/
  --radius-small: 3px;
  --radius-medium: 5px;
  --radius-large: 8px;
}
