/* stylelint-disable scale-unlimited/declaration-strict-value */

:root[data-theme='dark'],
.theme-dark {
  /***** Color Palette *****/
  --red: #da5e51;
  --light-red: #fc755c;
  --orange: #d95e40;
  --yellow: #f0ad4e;
  --green: #16a085;
  --blue: #43abf1;
  --lighter-purple: #a99fa8;
  --light-purple: #796e79;
  --purple: #443443;
  --dark-purple: #402f3f;
  --darker-purple: #332532;
  --white: #ffffff;
  --dark-white: #f7f7f7;
  --grey: #edf0f1;
  --dark-grey: #d3d3d3;
  --darker-grey: #999999;
  --lighter-black: #55595c;
  --light-black: #464646;
  --black: #000000;
  /***** Logical Palette *****/

  /* Page */
  --page-background: var(--darker-purple);
  --page-text-color: var(--light-black);
  --page-link-color: var(--red);
  --page-content-background: var(--white);
  --focus-outline-color: var(--blue);

  /* Cards */
  --card-background: var(--white);
  --card-border: 1px solid var(--grey);
  --card-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  /* Header */
  --header-primary-background: var(--dark-purple);
  --header-secondary-background: var(--darker-purple);
  --header-text-color: var(--grey);
  --header-skeleton-background: #00000033;
  --header-search-background: #00000033;
  --header-search-text-color: var(--lighter-purple);
  --header-notifications-background: var(--red);
  --header-notifications-text-color: var(--white);

  /* Modals */
  --modal-scrim-background: #000000aa;
  --modal-page-background: var(--purple);
  --modal-background: var(--grey);
  --modal-shadow: 0 3px 5px 2px var(--dark-purple);

  /* Rules */
  --rule-text: var(--light-purple);
  --rule-background: var(--lighter-purple);

  /* Dropdowns */
  --dropdown-background: var(--white);
  --dropdown-shadow: 0 2px 16px 2px #00000022;
  --dropdown-text-color: var(--black);
  --dropdown-divider-color: var(--grey);
  --dropdown-item-hover-background: var(--dark-white);

  /* Inputs */
  --input-background: var(--white);
  --input-text-color: var(--light-black);
  --input-border: 1px solid var(--dark-grey);
  --input-sidecar-background: var(--grey);

  /* New Buttons */
  /*can use color-mod to make deviations instead of statically enter them - but this follows the figma project*/
  /* - https://www.figma.com/file/zaPBj1kYY7bZ7NTC3HDnkU/Kitsu-Buttons?node-id=0%3A1 */
  --safe-purple: #ce9fe9;
  --safe-grey: #727272;

  --button-primary-border: 1px solid rgba(255,255,255,0.8);

  --button-outline-text-color: var(--darker-grey);
  --button-outline-border: 1px solid var(--darker-grey);
  --default-outline-background: transparent;

  --button-borderless-text-color: white;
  --button-borderless-border: 1px solid transparent;
  --default-borderless-background: transparent;

  --button-lighten-safe-grey-100: #878787;
  --button-lighten-safe-grey-200: #b9b9b9;
  --button-darken-safe-grey-100: #616161;
  --button-darken-safe-grey-200: #4a4a4a;
  --button-translucent-safe-grey-5: color-mod(var(--safe-grey) a(5%));
  --button-translucent-safe-grey-25: color-mod(var(--safe-grey) a(25%));

  --button-lighten-green-100: #39ae97;
  --button-lighten-green-200: #68c1b0;
  --button-darken-green-100: #138871;
  --button-darken-green-200: #0e6856;
  --button-translucent-green-5: color-mod(var(--green) a(5%));
  --button-translucent-green-25: color-mod(var(--green) a(25%));

  --button-lighten-blue-100: #5fb8f3;
  --button-lighten-blue-200: #85c8f6;
  --button-darken-blue-100: #3991cd;
  --button-darken-blue-200: #2c6f9d;
  --button-translucent-blue-5: color-mod(var(--blue) a(5%));
  --button-translucent-blue-25: color-mod(var(--blue) a(25%));

  --button-lighten-yellow-100: #f2b969;
  --button-lighten-yellow-200: #f5ca8c;
  --button-darken-yellow-100: #cc9342;
  --button-darken-yellow-200: #9c7033;
  --button-translucent-yellow-5: color-mod(var(--yellow) a(5%));
  --button-translucent-yellow-25: color-mod(var(--yellow) a(25%));

  --button-lighten-red-100: #e0766b;
  --button-lighten-red-200: #e7968e;
  --button-darken-red-100: #b95045;
  --button-darken-red-200: #8e3d35;
  --button-translucent-red-5: color-mod(var(--red) a(5%));
  --button-translucent-red-25: color-mod(var(--red) a(25%));

  --button-lighten-safe-purple-100: #9763b5;
  --button-lighten-safe-purple-200: #b088c6;
  --button-darken-safe-purple-100: #713d8f;
  --button-darken-safe-purple-200: #562f6d;

  --button-lighten-d-purple-100: #ce9fe9;
  --button-lighten-d-purple-200: #dfc1f1;

  --button-translucent-safe-purple-5: color-mod(var(--safe-purple) a(5%));
  --button-translucent-safe-purple-25: color-mod(var(--safe-purple) a(25%));

  /* Old Buttons */
  /* --button-primary-background: var(--green);
  --button-primary-text-color: var(--white);
  --button-primary-border: none;
  --button-primary-hover-background: color-mod(var(--green) shade(15%));
  --button-primary-hover-text-color: var(--white);
  --button-primary-hover-border: none;
  --button-primary-active-background: color-mod(var(--green) shade(25%));
  --button-primary-active-text-color: var(--white);
  --button-primary-active-border: none;

  --button-inverted-background: var(--white);
  --button-inverted-text-color: var(--dark-purple);
  --button-inverted-border: none;
  --button-inverted-hover-background: color-mod(var(--white) shade(15%));
  --button-inverted-hover-text-color: var(--dark-purple);
  --button-inverted-hover-border: none;
  --button-inverted-active-background: color-mod(var(--white) shade(25%));
  --button-inverted-active-text-color: var(--dark-purple);
  --button-inverted-active-border: none;

  --button-outline-background: transparent;
  --button-outline-text-color: var(--lighter-purple);
  --button-outline-border: 1px solid var(--lighter-purple);
  --button-outline-hover-background: transparent;
  --button-outline-hover-text-color: var(--light-purple);
  --button-outline-hover-border: 1px solid var(--light-purple);
  --button-outline-active-background: transparent;
  --button-outline-active-text-color: var(--purple);
  --button-outline-active-border: 1px solid var(--purple);
 */
  --button-disabled-background: var(--dark-grey);
  --button-disabled-text-color: var(--white);
  --button-disabled-border: none;

  /* Tabs */
  --tab-text-color: var(--grey);
  --tab-inactive-opacity: 0.8;
  --tab-active-gradient: linear-gradient(to right, #ed485f 0%, #f27c36 100%);

  /***** Non-Color Stuff *****/
  --radius-small: 3px;
  --radius-medium: 5px;
  --radius-large: 8px;
}
