/* stylelint-disable scale-unlimited/declaration-strict-value */

:--theme-dark {
  /* Page */
  --page-background: var(--kitsu-purple-5);
  --page-text-color: var(--grey-1);
  --page-link-color: var(--red-4);
  --page-content-background: var(--white);
  --focus-outline: 3px solid var(--blue-2);

  /* Cards */
  --card-background: var(--white);
  --card-border: 1px solid var(--grey-3);
  --card-shadow: 0 2px 6px rgba(0 0 0 5%);

  /* Header */
  --header-primary-background: var(--kitsu-purple-5);
  --header-secondary-background: var(--kitsu-purple-6);
  --header-text-color: var(--grey-2);
  --header-skeleton-background: #00000033;
  --header-search-background: #00000033;
  --header-search-text-color: var(--kitsu-purple-2);
  --header-notifications-background: var(--red-4);
  --header-notifications-text-color: var(--white);

  /* Modals */
  --modal-scrim-background: #000000aa;
  --modal-page-background: var(--kitsu-purple-6);
  --modal-background: var(--grey-2);
  --modal-close-button-color: var(--white);
  --modal-shadow: 0 3px 5px 2px rgba(0 0 0 40%);

  /* Rules */
  --rule-text: var(--kitsu-purple-3);
  --rule-background: var(--kitsu-purple-2);

  /* Dropdowns */
  --dropdown-background: var(--white);
  --dropdown-shadow: 0 2px 16px 2px #00000022;
  --dropdown-text-color: var(--black);
  --dropdown-divider-color: var(--grey-2);
  --dropdown-item-hover-background: var(--grey-1);

  /* Inputs */
  --input-background: var(--white);
  --input-text-color: var(--grey-7);
  --input-border: 1px solid var(--grey-3);
  --input-sidecar-background: var(--grey-2);
  --input-invalid-border: 1px solid var(--red-4);

  /* Buttons */
  --button-disabled-solid-bg: var(--grey-5);
  --button-disabled-outline-color: var(--grey-2);
  --button-disabled-borderless-fg: var(--grey-2);
  /* Red */
  --button-red-solid-bg: var(--red-4);
  --button-red-solid-hover-bg: var(--red-5);
  --button-red-solid-active-bg: var(--red-6);
  --button-red-outline-color: var(--red-3);
  --button-red-outline-hover-color: var(--red-4);
  --button-red-outline-active-color: var(--red-5);
  --button-red-borderless-fg: var(--red-4);
  --button-red-borderless-hover-fg: var(--red-5);
  --button-red-borderless-hover-bg: var(--red-1);
  --button-red-borderless-active-fg: var(--red-6);
  --button-red-borderless-active-bg: var(--red-2);
  /* Pink */
  --button-pink-solid-bg: var(--pink-4);
  --button-pink-solid-hover-bg: var(--pink-5);
  --button-pink-solid-active-bg: var(--pink-6);
  --button-pink-outline-color: var(--pink-3);
  --button-pink-outline-hover-color: var(--pink-4);
  --button-pink-outline-active-color: var(--pink-5);
  --button-pink-borderless-fg: var(--pink-4);
  --button-pink-borderless-hover-fg: var(--pink-5);
  --button-pink-borderless-hover-bg: var(--pink-1);
  --button-pink-borderless-active-fg: var(--pink-6);
  --button-pink-borderless-active-bg: var(--pink-2);
  /* Yellow */
  --button-yellow-solid-bg: var(--yellow-4);
  --button-yellow-solid-hover-bg: var(--yellow-5);
  --button-yellow-solid-active-bg: var(--yellow-6);
  --button-yellow-outline-color: var(--yellow-3);
  --button-yellow-outline-hover-color: var(--yellow-4);
  --button-yellow-outline-active-color: var(--yellow-5);
  --button-yellow-borderless-fg: var(--yellow-4);
  --button-yellow-borderless-hover-fg: var(--yellow-5);
  --button-yellow-borderless-hover-bg: var(--yellow-1);
  --button-yellow-borderless-active-fg: var(--yellow-6);
  --button-yellow-borderless-active-bg: var(--yellow-2);
  /* Green */
  --button-green-solid-bg: var(--green-4);
  --button-green-solid-hover-bg: var(--green-5);
  --button-green-solid-active-bg: var(--green-6);
  --button-green-outline-color: var(--green-3);
  --button-green-outline-hover-color: var(--green-4);
  --button-green-outline-active-color: var(--green-5);
  --button-green-borderless-fg: var(--green-4);
  --button-green-borderless-hover-fg: var(--green-5);
  --button-green-borderless-hover-bg: var(--green-1);
  --button-green-borderless-active-fg: var(--green-6);
  --button-green-borderless-active-bg: var(--green-2);
  /* Blue */
  --button-blue-solid-bg: var(--blue-4);
  --button-blue-solid-hover-bg: var(--blue-5);
  --button-blue-solid-active-bg: var(--blue-6);
  --button-blue-outline-color: var(--blue-3);
  --button-blue-outline-hover-color: var(--blue-4);
  --button-blue-outline-active-color: var(--blue-5);
  --button-blue-borderless-fg: var(--blue-4);
  --button-blue-borderless-hover-fg: var(--blue-5);
  --button-blue-borderless-hover-bg: var(--blue-1);
  --button-blue-borderless-active-fg: var(--blue-6);
  --button-blue-borderless-active-bg: var(--blue-2);
  /* Purple */
  --button-purple-solid-bg: var(--purple-4);
  --button-purple-solid-hover-bg: var(--purple-5);
  --button-purple-solid-active-bg: var(--purple-6);
  --button-purple-outline-color: var(--purple-3);
  --button-purple-outline-hover-color: var(--purple-4);
  --button-purple-outline-active-color: var(--purple-5);
  --button-purple-borderless-fg: var(--purple-4);
  --button-purple-borderless-hover-fg: var(--purple-5);
  --button-purple-borderless-hover-bg: var(--purple-1);
  --button-purple-borderless-active-fg: var(--purple-6);
  --button-purple-borderless-active-bg: var(--purple-2);
  /* Kitsu Purple */
  --button-kitsu-purple-solid-bg: var(--kitsu-purple-3);
  --button-kitsu-purple-solid-hover-bg: var(--kitsu-purple-4);
  --button-kitsu-purple-solid-active-bg: var(--kitsu-purple-6);
  --button-kitsu-purple-outline-color: var(--kitsu-purple-2);
  --button-kitsu-purple-outline-hover-color: var(--kitsu-purple-3);
  --button-kitsu-purple-outline-active-color: var(--kitsu-purple-5);
  --button-kitsu-purple-borderless-fg: var(--kitsu-purple-2);
  --button-kitsu-purple-borderless-hover-fg: var(--kitsu-purple-3);
  --button-kitsu-purple-borderless-hover-bg: var(--kitsu-purple-1);
  --button-kitsu-purple-borderless-active-fg: var(--kitsu-purple-4);
  --button-kitsu-purple-borderless-active-bg: var(--kitsu-purple-2);
  /* Grey */
  --button-grey-solid-bg: var(--grey-4);
  --button-grey-solid-hover-bg: var(--grey-5);
  --button-grey-solid-active-bg: var(--grey-6);
  --button-grey-outline-color: var(--grey-4);
  --button-grey-outline-hover-color: var(--grey-5);
  --button-grey-outline-active-color: var(--grey-6);
  --button-grey-borderless-fg: var(--grey-4);
  --button-grey-borderless-hover-fg: var(--grey-5);
  --button-grey-borderless-hover-bg: var(--grey-1);
  --button-grey-borderless-active-fg: var(--grey-6);
  --button-grey-borderless-active-bg: var(--grey-2);

  /* Tabs */
  --tab-text-color: var(--grey-2);
  --tab-inactive-opacity: 0.8;
  --tab-active-gradient: linear-gradient(to right, #ed485f 0%, #f27c36 100%);

  /* Alerts */
  --alert-success-background: var(--green-1);
  --alert-success-border: 1px solid var(--green-3);
  --alert-success-text-color: var(--green-6);
  --alert-info-background: var(--grey-2);
  --alert-info-border: 1px solid var(--grey-3);
  --alert-info-text-color: var(--grey-6);
  --alert-warning-background: var(--yellow-1);
  --alert-warning-border: 1px solid var(--yellow-3);
  --alert-warning-text-color: var(--yellow-6);
  --alert-error-background: var(--red-1);
  --alert-error-border: 1px solid var(--red-3);
  --alert-error-text-color: var(--red-6);

  /* Toasts */
  --toast-background: var(--grey-2);
  --toast-border: 1px solid var(--grey-3);
  --toast-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  --toast-close-color: var(--kitsu-purple-3);

  /* Group Box */
  --group-box-border: 1px solid var(--kitsu-purple-2);
  --group-box-title-color: var(--kitsu-purple-3);

  /* Banner Images */
  --banner-image-fade: rgba(0, 0, 0, 0.5);

  /* Section Headers */
  --section-header-text-color: var(--kitsu-purple-3);
  --section-header-link-color: var(--kitsu-purple-2);

  /* Reaction Cards */
  --reaction-byline-color: var(--darker-grey);

  /***** Non-Color Stuff *****/
  --radius-small: 3px;
  --radius-medium: 5px;
  --radius-large: 8px;
}
