/* stylelint-disable scale-unlimited/declaration-strict-value */

html.theme-light {
  /***** Color Palette *****/
  --red: #da5e51;
  --light-red: #fc755c;
  --orange: #d95e40;
  --yellow: #f0ad4e;
  --green: #16a085;
  --blue: #43abf1;
  --lighter-purple: #a99fa8;
  --light-purple: #796e79;
  --purple: #443443;
  --dark-purple: #402f3f;
  --darker-purple: #332532;
  --white: #ffffff;
  --dark-white: #f7f7f7;
  --grey: #edf0f1;
  --dark-grey: #b4b4b4;
  --darker-grey: #999999;
  --lighter-black: #55595c;
  --light-black: #464646;
  --black: #000000;

  /***** Logical Palette *****/

  /* Page */
  --page-background: var(--grey);
  --page-text-color: var(--light-black);
  --page-link-color: var(--red);
  --page-content-background: var(--white);

  /* Header */
  --header-primary-background: var(--dark-purple);
  --header-secondary-background: var(--darker-purple);
  --header-text-color: var(--grey);
  --header-search-background: #00000033;
  --header-search-text-color: var(--lighter-purple);
  --header-notifications-background: var(--red);
  --header-notifications-text-color: var(--white);

  /* Modals */
  --modal-scrim-background: #000000aa;
  --modal-page-background: var(--purple);
  --modal-background: var(--grey);

  /* Inputs */
  --input-background: var(--white);
  --input-text-color: var(--lighter-black);
  --input-sidecar-background: var(--grey);

  /* Buttons */
  --button-primary-background: var(--green);
  --button-primary-text-color: var(--white);
  --button-primary-border: none;

  --button-inverted-background: var(--white);
  --button-inverted-text-color: var(--dark-purple);
  --button-inverted-border: none;

  --button-outline-background: transparent;
  --button-outline-text-color: var(--lighter-purple);
  --button-outline-border: 1px solid var(--lighter-purple);

  --button-disabled-background: var(--dark-grey);
  --button-disabled-text-color: var(--white);
  --button-disabled-border: none;

  /***** Non-Color Stuff *****/
  --radius-medium: 5px;
}
