/* stylelint-disable scale-unlimited/declaration-strict-value */

html.theme-light {
  /* Color Palette */
  --red: #da5e51;
  --light-red: #fc755c;
  --orange: #d95e40;
  --yellow: #f0ad4e;
  --green: #16a085;
  --blue: #43abf1;
  --lighter-purple: #a99fa8;
  --purple: #443443;
  --dark-purple: #402f3f;
  --darker-purple: #332532;
  --white: #ffffff;
  --dark-white: #f7f7f7;
  --grey: #eceeef;
  --dark-grey: #b4b4b4;
  --darker-grey: #999999;
  --lighter-black: #55595c;
  --light-black: #464646;
  --black: #000000;

  /* Logical Palette */
  --page-background: var(--dark-white);
  --page-text-color: var(--light-black);
  --page-link-color: var(--red);
  --page-content-background: var(--white);

  --header-primary-background: var(--dark-purple);
  --header-secondary-background: var(--darker-purple);
  --header-text-color: var(--grey);
  --header-search-background: #0003;
  --header-search-text-color: var(--lighter-purple);
  --header-notifications-background: var(--red);
  --header-notifications-text-color: var(--white);

  --input-background: var(--white);
  --input-text-color: var(--lighter-black);
  --input-sidecar-background: var(--grey);

  --button-primary-background: var(--green);
  --button-secondary-background: var(--dark-grey);

  --menu-background: var(--dark-white);
  --menu-header-background: #efeef1;
  --menu-group-header-background: #faf9fa;
  --menu-group-header-border-top: 1px solid #eeeeee;
  --menu-group-header-border-bottom: 1px solid #eeeeee;
  --menu-results-hover-background: #faf9fa;

  --modal-scrim-background: #000000aa;
  --modal-page-background: var(--purple);
}
