@import url('./themes/index.css');
@import url('./font/index.css');

:root {
  --layer-background: -1000;
  --layer-base: 0;
  --layer-overlay: 1000;
  --layer-modal: 2000;
  --layer-toaster: 3000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--focus-outline-color);
}

body {
  all: unset;
  background-color: var(--page-background);
  color: var(--page-text-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--font-regular);
  font-size: var(--font-me);
  min-height: 100vh;
}

body.scroll-lock {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
