{{#if closeButton}}
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
{{/if}}
<h4 class="modal-title" id={{label}}>{{yield}}</h4>