@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spinner 0.8s infinite linear;
  transform-origin: center;
}

.spinnerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion) {
  .spinner {
    animation-duration: 3s;
  }
}
