<div class="media">
  {{lazy-image src=(image message.user.avatar "small") class="d-flex mr-3"}}
  <div class="media-body">
    <h5 class="mt-0">
      {{message.user.name}}
      <small class="time">
        {{format-date message.createdAt hour="numeric" minute="numeric" timeZone="UTC"}}
      </small>
    </h5>
    {{html-safe message.contentFormatted}}
  </div>
</div>