.modal {
  max-width: 400px;
}

.authForm {
  padding: 12px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socialLoginContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  gap: 10px;
}

.socialLoginButton {
  flex: 1;
  font-size: 32px;
  height: 50px;
}
