{{#if getTopics.isRunning}}
  <!-- Loading State -->
{{else}}
  {{#if topics}}
    <h6 class="panel-heading">Industry News</h6>
    <ul class="kitsu-forums">
      {{#each topics as |topic|}}
        <li>
          <a href={{topic.href}} target="_blank">
            {{topic.title}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <!-- No Topics (Most likely an error with API request) -->
  {{/if}}
{{/if}}
