.cover-page {
  padding-top: 0;
  .global-container {
    max-width: 100%;
  }
  .transparent {
    background: transparent;
    box-shadow: none;
    transition: all 0.5s ease;
    .navbar-nav {
      opacity: 0;
    }
    .logo {
      g {
        fill: #fff;
      }
    }
  }
}

.user-cover {
  height: 400px;
  width: 100%;
  position: relative;
  .cover-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    position: relative;
  }
  .cover-user-info {
    position: absolute;
    width: 100%;
    bottom: 30px;
    z-index: $zIndex--cover-user-info;
  }
  .primary-info {
    float: left;
    height: 100px;
  }
  .cover-avatar {
    float: left;
  }
  .cover-username {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .mini-bio {
    color: #fff;
    font-size: 14px;
    float: left;
    margin-left: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    p {
      margin-bottom: 0;
    }
  }
  .cover-cta {
    .button {
      padding: 8px 40px;
      font-size: 12px;
    }
    &.media-follow {
      margin-top: 10px;
      float: right;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .cover-profiles {
    position: absolute;
    right: 0;
    bottom: 0;
    .about-me-profiles {
      text-align: center;
      .profile-icon {
        display: inline-block;
        position: relative;
        top: 0;
        transition: all .2s ease-in-out;
        &:hover {
          top: -5px;
        }
        svg {
          width: 40px;
          margin-right: 5px;
        }
      }
    }
  }
  .dark-cover-overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    background: #000;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    z-index: $zIndex--dark-cover-overlay;
  }
}

.media-sidebar {
  width: 195px;
  position: absolute;
  img {
    border-radius: 3px;
  }
  .button--primary {
    padding: 10px;
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    &:hover {
      box-shadow: none;
    }
  }
}

.where-to-watch-widget {
  margin-top: 15px;
  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    background: #fff;
    padding: 8px;
    padding-bottom: 3px;
    border-radius: 3px;
    border: 1px solid #eee;
  }
  svg {
    width: auto;
    height: 20px;
  }
}

.media-cover-wrapper {
  width: 100%;
  .mini-bio {
    margin-left: 220px;
  }
  .cover-nav .navbar-nav {
    padding-left: 220px;
  }
}

.navbar-nav {
  .tag {
    background-color: #EFEFEF;
    padding: 5px;
    color: #999999;
    margin-left: 5px;
  }
}
