.cover-page {
  padding-top: 0;
  .global-container {
    max-width: 100%;
  }
  .transparent {
    background: transparent;
    box-shadow: none;
    transition: all 0.5s ease;
    .logo {
      g {
        fill: $white;
      }
    }
    .navbar-toggler {
      color: $white;
    }
    .primary-nav--drop {
      &.in {
        background-color: rgba(255, 255, 255, 0.1);
        a, a:hover {
          color: $white;
          border-bottom: 1px solid rgba(255, 255, 255, 0.14);
          background: none;
        }
        li:last-child {
          a, a:hover {
            border-bottom: none;
          }
        }
      }
      a {
        color: $white;
        &.active,
        &:hover,
        &:focus {
          color: $porcelain !important;
        }
      }
    }
    .navbar-buttons {
      opacity: 1;
      li {
        svg {
          path {
            fill: $white;
          }
        }
      }
      input {
        background: transparent;
      }
      .nav-item {
        .loading--small {
          border-bottom: 3px solid rgba(255, 255, 255, .1);
          border-left: 3px solid rgba(255, 255, 255, .1);
          border-right: 3px solid rgba(255, 255, 255, .1);
          border-top: 3px solid rgba(255, 255, 255, .4);
        }
        a {
          color: $white;
        }
        &.open {
          .notification-drop {
            a {
              color: #939393;
            }
          }
          .user-menu-drop {
            background-color: rgba(255, 255, 255, 0.1);
            a, a:hover {
              color: $white;
              border-bottom: 1px solid rgba(255, 255, 255, 0.14);
              background: none;
              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
    .site-search__input {
      color: #fff;
    }
  }
}

.user-cover {
  height: 400px;
  width: 100%;
  position: relative;
  .cover-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    position: relative;
  }
  .cover-user-info {
    position: absolute;
    width: 100%;
    bottom: 30px;
    z-index: $zIndex--cover-user-info;
  }
  .primary-info {
    float: left;
    height: 100px;
    @media (max-width: 992px) {
      width: 100%;
      float: initial;
      margin-bottom: 15px;
    }
  }
  .cover-avatar {
    float: left;
  }
  .cover-username {
    color: $white;
    font-size: 30px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .mini-bio {
    color: $white;
    font-size: 14px;
    float: left;
    margin-left: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    p {
      margin-bottom: 0;
    }
  }
  .cover-cta {
    .button {
      padding: 8px 40px;
      font-size: 12px;
    }
    &.media-follow {
      margin-top: 10px;
      float: right;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .cover-profiles {
    position: absolute;
    right: 0;
    bottom: 0;
    .about-me-profiles {
      text-align: center;
      max-width: 350px;
      max-height: 110px;
      overflow: hidden;
      &:hover {
        max-height: none;
      }

      .profile-icon {
        display: inline-block;
        position: relative;
        top: 0;
        transition: all .2s ease-in-out;
        &:hover {
          top: -5px;
        }
        svg {
          width: 40px;
          margin-right: 5px;
        }
      }
    }
    @media (max-width: 992px) {
      position: relative;
      .about-me-profiles {
        max-width: 100%;
      }
    }
  }
  .dark-cover-overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
  }
}

.sidebar-container {
  z-index: 301;
}

.media-sidebar {
  width: 195px;
  // Falls back to relative if browser doesn't support `position: sticky`
  position: relative;
  top: -201px;
  float: left;

  &:after {
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
  }

  > div {
    position: relative;
    right: 15px;
  }
  // New stuff above
  img {
    border-radius: 3px;
  }
  .button--primary {
    padding: 10px;
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    &:hover {
      box-shadow: none;
    }
  }
}

// Browser natively supports `position: sticky`
@supports (position: sticky) {
  .media-sidebar {
    position: sticky;
    top: 274px;

    > div {
      top: -201px;
    }
  }
}

.where-to-watch-widget {
  margin-top: 15px;
  li {
    display: inline-block;
    max-width: 23.5%;
  }
  a {
    max-width: 100%;
    display: inline-block;
    background: $white;
    padding: 8px;
    padding-bottom: 3px;
    border-radius: 3px;
    border: 1px solid #eee;
  }
  svg {
    width: auto;
    height: 20px;
  }
}

.media-cover-wrapper {
  width: 100%;
  .mini-bio {
    margin-left: 220px;
  }
  .cover-nav .navbar-nav {
    padding-left: 220px;
  }
}

.navbar-nav {
  .tag {
    background-color: #EFEFEF;
    padding: 5px;
    color: #999999;
    margin-left: 5px;
  }
}
