// Edit favorites
.edit-favorite-content {
  min-height: 180px;
}

.media-sort-search {
  margin-top: 15px;
}

.media-sortable {
  margin-top: 15px;
}

.media-sort-item {
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 50px;
  overflow: hidden;
  cursor: move;
  padding: 3px;
  a:hover {
    text-decoration: none;
  }
  &.is-dragging {
    z-index: 2000;
  }
}

.media-sort-thumb-wrapper {
  display: inline-block;
  height: 42px;
  overflow: hidden;
  border-radius: 2px;
  margin-right: 5px;
}

.media-sort-thumb {
  width: 50px;
  display: inline-block;
}

.media-sort-title {
  width: 75%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  top: -11px;
  font-size: 15px;
}

.media-sort-action {
  position: absolute;
  right: 15px;
  top: 11px;
  a {
    height: 25px;
  }
  svg {
    width: 15px;
    fill: $body-text-color;
    opacity: .3;
    &:hover {
      opacity: 1;
    }
  }
}
