.feed-container {
  width: 100%;
  position: relative;
  &.quick-update-enabled {
    margin-top: 180px;
  }
}

.feed-stream {
}

.stream-item {
  @extend .clearfix;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
  background: $white;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  margin-bottom: 10px;
}

.stream-item-wrapper {
  padding: 20px;
  padding-bottom: 0;
}

.stream-item--title-block {
  @extend .clearfix;
  margin-bottom: 15px;
  .author-avatar {
    float: left;
    margin-right: 15px;
    img {
      border-radius: 999em;
      width: 50px;
      height: 50px;
    }
  }
  .author-info {
    display: inline-block;
    line-height: 20px;
    position: relative;
    top: 7px;
  }
  .author-name, .author-secondary {
    display: block;
  }
  .author-name {
    font-size: 20px;
    font-family: $heading-font-family;
  }
  .author-secondary {
    color: $charcoal;
    opacity: .6;
    font-size: 12px;
    margin-top: 2px;
  }
}

.stream-item-activity {
  @extend .clearfix;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -3px;
  display: inline-block;
  .like-stream-item {
    display: inline-block;
    float: left;
    margin-right: 5px;
    position: relative;
    top: 2px;
    svg {
      width: 23px;
      height: auto;
      fill: $nobel;
      float: left;
    }
    .like-label {
      font-size: 12px;
      font-weight: 700;
      position: absolute;
      top: 4px;
      right: -30px;
      color: $nobel;
    }
    &:hover {
      text-decoration: none;
      svg {
        fill: #ec8661;
      }
    }
  }

  .stream-item-participants {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .stream-like {
    display: inline-block;
    .like-avatar {
      display: inline-block;
      width: 25px;
      height: 25px;
    }
    img {
      width: 100%;
      border-radius: 999em;
    }
  }
  .stream-like-count {
    display: inline-block;
    a {
      width: 25px;
      height: 25px;
      background: $eggshell;
      display: inline-block;
      font-size: 12px;
      border-radius: 999em;
      line-height: 25px;
      text-align: center;
      color: $charcoal;
    }
  }
}

.media-body {
  .stream-item-activity {
    margin: 0;
    svg {
      width: 18px;
    }
  }
  .more-wrapper {
    line-height: 19px;
  }
  .sm-comment-count {
    color: $nobel;
    padding-top: 1px;
    margin-left: 3px;
    display: inline-block;
  }
  .comment-time {
    color: $nobel;
    font-family: $base-font-family;
    margin-left: 5px;
  }
}

.stream-item-options {
  float: right;
  position: relative;
  top: 10px;
  a {
    color: #979797;
    font-size: 12px;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    margin-right: 10px;
  }
  svg {
    fill: #CACACA;
    float: left;
  }
}

.more-wrapper {
  position: relative;
  a {
    margin-right: 0;
    margin-left: 5px;
  }
}

.stream-item-comments {
  background: #FBFBFB;
  border-top: 1px solid #F0F0F0;
  padding: 20px;
  .media-object {
    width: 35px;
    border-radius: 999em;
  }
  .media-heading {
    font-size: 12px;
  }
  .media-body {
    font-size: 12px;
    p {
      margin-bottom: 0;
    }
  }
  .add-comment {
    display: inline-block;
    input {
      border-color: #E8E8E8;
    }
  }
}

.stream-item--media {
  padding: 20px;
  img {
    width: 100%;
    border-radius: 3px;
  }
}

.stream-item--media-timeline {
  padding: 15px 20px 0 0;
}

.stream-onboarding {
  border: 2px dashed rgba(0,0,0,.1);
  border-radius: 3px;
  padding: 15px;
  font-size: 12px;
  margin-bottom: 25px;
}


// aggregate feed items
.aggregate-wrapper {
  margin-top: 15px;
  overflow: auto;
  max-height: 220px;
}

.aggregate-date-block {
  position: relative;
  padding-bottom: 15px;
  .hr {
    position: absolute;
    content: '';
    width: 1px;
    background: #ddd;
    top: 0;
    bottom: 0;
    left: 30px;
  }
}
.aggregate-date {
  width: 60px;
  background: $white;
  position: relative;
  padding-bottom: 5px;
  span {
    font-size: 12px;
    display: block;
    text-align: center;
  }
  .date-heading {
    font-family: $heading-font-family;
    font-weight: 700;
  }
}

.aggregate-items {
  list-style-type: none;
  padding-left: 45px;
  margin-top: 10px;
  margin-bottom: 0;
}

.agg-item {
  @extend .clearfix;
  font-size: 12px;
  margin-bottom: 10px;
  a {
    font-family: $heading-font-family;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.agg-avatar {
  width: 20px;
  display: inline-block;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  img {
    border-radius: 999em;
    width: 100%;
  }
}
