.feed-container {
  width: 100%;
  position: relative;
  &.quick-update-enabled {
    margin-top: 180px;
  }
}

.feed-stream {
}

.stream-item {
  @extend .clearfix;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
  background: $white;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  margin-bottom: 10px;
}

.stream-item-wrapper {
  padding: 20px;
  padding-bottom: 0;
}

.stream-item--title-block {
  @extend .clearfix;
  margin-bottom: 15px;
  .author-avatar {
    float: left;
    margin-right: 15px;
    img {
      border-radius: 999em;
      width: 50px;
      height: 50px;
    }
  }
  .author-info {
    display: inline-block;
    line-height: 20px;
    position: relative;
    top: 7px;
  }
  .author-name, .author-secondary {
    display: block;
  }
  .author-name {
    font-size: 20px;
    font-family: $heading-font-family;
  }
  .author-secondary {
    color: $charcoal;
    opacity: .6;
    font-size: 12px;
    margin-top: 2px;
  }
}

.stream-item-activity {
  @extend .clearfix;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: -3px;
  display: inline-block;
  .like-stream-item {
    display: inline-block;
    float: left;
    margin-right: 5px;
    position: relative;
    top: 2px;
    .heart-wrapper {
      width: 15px;
      height: 15px;
      background: url('data:image/svg+xml;utf8,<svg fill="#7E7E7E" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 596q0-81-21.5-143t-55-98.5T1506 295t-94-31-98-8-112 25.5-110.5 64-86.5 72-60 61.5q-18 22-49 22t-49-22q-24-28-60-61.5t-86.5-72-110.5-64T478 256t-98 8-94 31-81.5 59.5-55 98.5T128 596q0 168 187 355l581 560 580-559q188-188 188-356zm128 0q0 221-229 450l-623 600q-18 18-44 18t-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344z"></path></svg>');
      background-size: cover;
      display: inline-block;
    }
    svg {
      width: 23px;
      height: auto;
      fill: $nobel;
      float: left;
    }
    .like-label {
      font-size: 12px;
      font-weight: 700;
      position: absolute;
      top: 4px;
      right: -30px;
      color: $nobel;
    }
    &:hover {
      text-decoration: none;
      .heart-wrapper {
        background: url('data:image/svg+xml;utf8,<svg fill="#F87270" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 596q0-81-21.5-143t-55-98.5T1506 295t-94-31-98-8-112 25.5-110.5 64-86.5 72-60 61.5q-18 22-49 22t-49-22q-24-28-60-61.5t-86.5-72-110.5-64T478 256t-98 8-94 31-81.5 59.5-55 98.5T128 596q0 168 187 355l581 560 580-559q188-188 188-356zm128 0q0 221-229 450l-623 600q-18 18-44 18t-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344z"></path></svg>');
        background-size: cover;
        display: inline-block;
      }
    }
    &.is-liked {
      .heart-wrapper {
        @extend .animated;
        @extend .rubberBand;
        background: url('data:image/svg+xml;utf8,<svg fill="#F87270" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"></path></svg>');
        background-size: cover;
        display: inline-block;
      }
    }
  }

  .stream-item-participants {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    display: inline-block;
    position: relative;
    top: -1px;
  }
  .stream-like {
    float: left;
    margin-right: -5px;
    .like-avatar {
      display: inline-block;
      width: 20px;
      height: 20px;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 999em;
      border: 1px solid #fff;
      box-sizing: content-box;
    }
    &.new-like {
      @extend .animated;
      @extend .fadeIn;
    }
    &.removed-like {
      @extend .animated;
      @extend .zoomOut;
    }
  }
  .stream-like-count {
    display: inline-block;
    a {
      width: 25px;
      height: 25px;
      background: $eggshell;
      display: inline-block;
      font-size: 12px;
      border-radius: 999em;
      line-height: 25px;
      text-align: center;
      color: $charcoal;
    }
  }
}

.media-body {
  position: relative;
  top: -3px;
  .stream-item-activity {
    margin: 0;
    position: relative;
    top: -2px;
    .heart-wrapper {
      width: 12px;
      height: 12px;
    }
  }
  .more-wrapper {
    line-height: 19px;
  }
  .sm-comment-count {
    color: #7E7E7E;
    position: relative;
    top: -1px;
    font-size: 12px;
    display: inline-block;
  }
  .comment-time {
    color: $nobel;
    font-family: $base-font-family;
    margin-left: 5px;
    margin-right: 5px;
  }
  .like-stream-item {
    &:hover {
      .sm-comment-count {
        color: #F87270;
      }
    }
  }
}

.stream-item-options {
  float: right;
  position: relative;
  top: 10px;
  a {
    color: #979797;
    font-size: 12px;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    margin-right: 10px;
  }
  svg {
    fill: #CACACA;
    float: left;
  }
}

.more-wrapper {
  position: relative;
  a {
    margin-right: 0;
    margin-left: 5px;
  }
}

.stream-item-comments {
  background: #FBFBFB;
  border-top: 1px solid #F0F0F0;
  width: 100%;
  ul {
    margin-bottom: 0;
  }
  li {
    border-bottom: 1px solid #eee;
    padding: 15px 20px 8px 20px;
  }
  .media-object {
    width: 35px;
    height: 35px;
    border-radius: 999em;
  }
  .media-heading {
    font-size: 14px;
    margin-bottom: 0;
    display: inline-block;
  }
  .media-body {
    font-size: 14px;
    .comment-body {
      margin-bottom: 0;
      display: inline;
    }
  }
  .stream-item-activity {
    width: 100%;
  }
}

.add-comment-wrapper {
  padding: 20px;
  .add-comment {
    border-color: #eee;
  }
}

.stream-item--media {
  padding: 20px;
  img {
    width: 100%;
    border-radius: 3px;
  }
}

.stream-item--media-timeline {
  padding: 15px 20px 0 0;
}

.stream-onboarding {
  border: 2px dashed rgba(0,0,0,.1);
  border-radius: 3px;
  padding: 15px;
  font-size: 12px;
  margin-bottom: 25px;
}


// aggregate feed items
.aggregate-wrapper {
  margin-top: 15px;
  overflow: auto;
  max-height: 220px;
}

.aggregate-date-block {
  position: relative;
  padding-bottom: 15px;
  .hr {
    position: absolute;
    content: '';
    width: 1px;
    background: #ddd;
    top: 0;
    bottom: 0;
    left: 30px;
  }
}
.aggregate-date {
  width: 60px;
  background: $white;
  position: relative;
  padding-bottom: 5px;
  span {
    font-size: 12px;
    display: block;
    text-align: center;
  }
  .date-heading {
    font-family: $heading-font-family;
    font-weight: 700;
  }
}

.aggregate-items {
  list-style-type: none;
  padding-left: 45px;
  margin-top: 10px;
  margin-bottom: 0;
}

.agg-item {
  @extend .clearfix;
  font-size: 12px;
  margin-bottom: 10px;
  a {
    font-family: $heading-font-family;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.agg-avatar {
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  img {
    border-radius: 999em;
    width: 100%;
    height: 100%;
  }
}

.stream-add-content {
  @extend .card;
  padding: 15px;
  &.is-expanded {

  }
}

.stream-content-editor {
  min-height: 100px;
  margin-top: 15px;
}

.new-post {
  @extend .animated;
  @extend .fadeIn;
}

.new-comment {
  @extend .animated;
  @extend .fadeIn;
}
