.feed-aside {
  width: 200px;
  padding-left: 15px;
  .panel-heading {
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    @extend .clearfix;
  }
  svg {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;
    fill: $card-background;
  }
  .timeline-link {
    display: block;
    background: rgba(0,0,0,.1);
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 10px;
    color: $text-color;
    &.active {
      background: rgba(0,0,0,.3);
      color: lighten($text-color, 5);
      &:hover {
        background: rgba(0,0,0,.3);
      }
    }
    &:hover {
      background: rgba(0,0,0,.2);
      color: lighten($text-color, 4);
    }
  }
}

.feed-container {
  width: 100%;
  position: relative;
  @media (max-width: 768px) {
    margin: 0;
  }
  &.quick-update-enabled {
    margin-top: 270px;
  }
  &.guest-banner-enabled {
    margin-top: 400px;
    @media (max-width: 600px) {
      margin-top: 300px;
    }
  }
}

.feed-stream {
  padding: 0 20px;
}

.feed-filter {
  .dropdown-menu {
    left: initial;
    right: 0;
  }
}

.feed-actions {
  margin-bottom: 15px;
  margin-top: 30px;
  &.is-hidden {
    margin-top: 0px;
  }
  a {
    font-size: 14px;
    color: #AEAEAE;
    margin-right: 10px;
    text-decoration: none;
    &:hover {
      color: $cinnabar;
    }
    &:focus {
      text-decoration: none;
    }
    &.active {
      padding: 5px 15px;
      color: $charcoal;
      background: transparent;
      border: 1px solid #E8E8E8;
      border-radius: 3px;
    }
  }
  .pull-sm-right {
    float: right;
  }
  button {
    color: $text-color;
    padding: 0;
    background: transparent;
    font-size: 14px;
    &:hover, &:focus {
      color: $white;
      background: transparent;
    }
  }
}

.stream-item {
  @extend .clearfix;
  @extend .card;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  display: flex;
  &.pinned-post {
    box-shadow: none;
    border: 1px dashed #c8c8c8;
  }
}

.pinned-indicator {
  font-size: 12px;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 3px;
  background: #f2faff;
  color: #2980b9;
  svg {
    width: 16px;
    float: left;
    margin-right: 5px;
    fill: #2980b9;
  }
}

.stream-item-wrapper {
  @extend .clearfix;
  padding: 20px;
  padding-bottom: 0;
}

.stream-item--title-block {
  @extend .clearfix;
  margin-bottom: 0;
  padding-bottom: 15px;
  background: $card-background;
  position: relative;
  z-index: $zIndex--stream-item-block;

  .author-avatar {
    float: left;
    margin-right: 15px;
    margin-left: -1px; // offset 1px border
    position: relative;
    transition: all .2s ease-in-out;
    z-index: $zIndex--author-avatar;
    &:hover {
      opacity: .6;
    }
    .lazy-image, img {
      border-radius: 999em;
      width: 50px;
      height: 50px;
    }
  }
  .author-group-avatar {
    @extend .author-avatar;
    img {
      border-radius: 5px;
    }
  }
  .recipient-avatar {
    margin-left: -30px;
    z-index: $zIndex--recipient-avatar;
  }
  .avatar-block {
    &:hover {
      .recipient-avatar {
        margin-left: -15px;
      }
    }
  }
  .author-info {
    display: inline-block;
    line-height: 20px;
    position: relative;
    top: 7px;
  }
  .secondary {
    display: block;
  }
  .author-name {
    display: inline-block;
    font-size: 20px;
    font-family: $heading-font-family;
    color: lighten($text-color,10);
  }
  .secondary-text {
    font-size: 12px;
    margin-top: 2px;
    display: block;
    color: darken($text-color,5);
    .media-tag-synopsis {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

.stream-item-activity {
  @extend .clearfix;
  margin-bottom: 5px;
  float: left;
  .like-stream-item {
    display: inline-block;
    float: left;
    padding: 2px 0 4px 0;
    margin-right: 5px;
    position: relative;
    .heart-wrapper {
      width: 15px;
      height: 15px;
      background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjN0U3RTdFIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjY0IDU5NnEwLTgxLTIxLjUtMTQzdC01NS05OC41VDE1MDYgMjk1dC05NC0zMS05OC04LTExMiAyNS41LTExMC41IDY0LTg2LjUgNzItNjAgNjEuNXEtMTggMjItNDkgMjJ0LTQ5LTIycS0yNC0yOC02MC02MS41dC04Ni41LTcyLTExMC41LTY0VDQ3OCAyNTZ0LTk4IDgtOTQgMzEtODEuNSA1OS41LTU1IDk4LjVUMTI4IDU5NnEwIDE2OCAxODcgMzU1bDU4MSA1NjAgNTgwLTU1OXExODgtMTg4IDE4OC0zNTZ6bTEyOCAwcTAgMjIxLTIyOSA0NTBsLTYyMyA2MDBxLTE4IDE4LTQ0IDE4dC00NC0xOGwtNjI0LTYwMnEtMTAtOC0yNy41LTI2VDE0NSA5NTIuNSA3NyA4NTUgMjMuNSA3MzQgMCA1OTZxMC0yMjAgMTI3LTM0NHQzNTEtMTI0cTYyIDAgMTI2LjUgMjEuNXQxMjAgNThUODIwIDI3NnQ3NiA2OHEzNi0zNiA3Ni02OHQ5NS41LTY4LjUgMTIwLTU4VDEzMTQgMTI4cTIyNCAwIDM1MSAxMjR0MTI3IDM0NHoiLz48L3N2Zz4=');
      background-size: cover;
      display: inline-block;
    }
    svg {
      width: 23px;
      height: auto;
      fill: $nobel;
      float: left;
    }
    .like-label {
      font-size: 12px;
      font-weight: 700;
      position: absolute;
      top: 4px;
      right: -30px;
      color: $nobel;
    }
    &:hover {
      text-decoration: none;
      .heart-wrapper {
        background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRjg3MjcwIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjY0IDU5NnEwLTgxLTIxLjUtMTQzdC01NS05OC41VDE1MDYgMjk1dC05NC0zMS05OC04LTExMiAyNS41LTExMC41IDY0LTg2LjUgNzItNjAgNjEuNXEtMTggMjItNDkgMjJ0LTQ5LTIycS0yNC0yOC02MC02MS41dC04Ni41LTcyLTExMC41LTY0VDQ3OCAyNTZ0LTk4IDgtOTQgMzEtODEuNSA1OS41LTU1IDk4LjVUMTI4IDU5NnEwIDE2OCAxODcgMzU1bDU4MSA1NjAgNTgwLTU1OXExODgtMTg4IDE4OC0zNTZ6bTEyOCAwcTAgMjIxLTIyOSA0NTBsLTYyMyA2MDBxLTE4IDE4LTQ0IDE4dC00NC0xOGwtNjI0LTYwMnEtMTAtOC0yNy41LTI2VDE0NSA5NTIuNSA3NyA4NTUgMjMuNSA3MzQgMCA1OTZxMC0yMjAgMTI3LTM0NHQzNTEtMTI0cTYyIDAgMTI2LjUgMjEuNXQxMjAgNThUODIwIDI3NnQ3NiA2OHEzNi0zNiA3Ni02OHQ5NS41LTY4LjUgMTIwLTU4VDEzMTQgMTI4cTIyNCAwIDM1MSAxMjR0MTI3IDM0NHoiPjwvcGF0aD48L3N2Zz4=');
        background-size: cover;
        display: inline-block;
      }
    }
    &.is-liked {
      .heart-wrapper {
        @extend .animated;
        @extend .rubberBand;
        background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRjg3MjcwIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik04OTYgMTY2NHEtMjYgMC00NC0xOGwtNjI0LTYwMnEtMTAtOC0yNy41LTI2VDE0NSA5NTIuNSA3NyA4NTUgMjMuNSA3MzQgMCA1OTZxMC0yMjAgMTI3LTM0NHQzNTEtMTI0cTYyIDAgMTI2LjUgMjEuNXQxMjAgNThUODIwIDI3NnQ3NiA2OHEzNi0zNiA3Ni02OHQ5NS41LTY4LjUgMTIwLTU4VDEzMTQgMTI4cTIyNCAwIDM1MSAxMjR0MTI3IDM0NHEwIDIyMS0yMjkgNDUwbC02MjMgNjAwcS0xOCAxOC00NCAxOHoiPjwvcGF0aD48L3N2Zz4=');
        background-size: cover;
        display: inline-block;
        span {
          fill: #F87270;
        }
      }
    }
  }

  .stream-item-participants {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    display: inline-block;
    position: relative;
    top: -1px;
  }
  .stream-like {
    float: left;
    margin-right: -5px;
    .like-avatar {
      display: inline-block;
      width: 20px;
      height: 20px;
    }
    .lazy-image {
      position: relative;
      top: 3px;
      width: 20px;
      height: 20px;
      border-radius: 999em;
      border: 1px solid $card-background;
      box-sizing: content-box;
    }
    img {
      width: 20px;
      height: 20px;
      border-radius: 999em;
    }
    &.new-like {
      @extend .animated;
      @extend .fadeIn;
    }
    &.removed-like {
      @extend .animated;
      @extend .zoomOut;
    }
  }
  .stream-like-count {
    position: relative;
    display: inline-block;
    a {
      width: 25px;
      height: 25px;
      background: $eggshell;
      display: inline-block;
      font-size: 12px;
      border-radius: 999em;
      line-height: 25px;
      text-align: center;
      color: $charcoal;
    }
  }
}

.media-body {
  position: relative;
  top: -3px;
  max-width: 100%;
  .stream-item-activity {
    margin: 0;
    position: relative;
    top: -2px;
    .heart-wrapper {
      width: 12px;
      height: 12px;
    }
  }
  .more-wrapper {
    line-height: 19px;
  }
  .sm-comment-count {
    color: #7E7E7E;
    position: relative;
    font-size: 12px;
    display: inline-block;
  }
  .comment-time {
    color: $nobel;
    font-family: $base-font-family;
    margin-left: 5px;
    margin-right: 5px;
  }
  .like-stream-item {
    &:hover {
      .sm-comment-count {
        color: #F87270;
      }
    }
  }
  .comment-actions {
    @extend .clearfix;
    background: #f5f5f5;
    margin-bottom: -30px;
    display: block;
    padding: 5px 15px 5px;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
  }
}

.stream-item-options {
  float: right;
  position: relative;
  top: 0;
  svg {
    fill: #CACACA;
    float: left;
  }
}

.stream-item-options, .stream-comment-options {
  a {
    color: #979797;
    font-size: 12px;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    margin-right: 10px;
  }
}

.more-wrapper {
  position: relative;
  a {
    margin-right: 0;
    margin-left: 5px;
  }
}

.stream-item-comments {
  background: darken($card-background,2);
  border-top: 1px solid darken($card-background,5);
  width: 100%;
  ul {
    margin-bottom: 0;
  }
  li {
    border-bottom: 1px solid darken($card-background,5);
    padding: 10px 20px 0px 20px;
    z-index: $zIndex--stream-comments;
  }
  .media-object, .media-object > img {
    width: 35px;
    height: 35px;
    border-radius: 999em;
  }
  .media-heading {
    font-size: 14px;
    margin-bottom: 0;
    display: inline;
    float: left;
    position: relative;
    top: 3px;
    margin-right: 5px;
    a {
      color: $text-color;
      &:hover {
        color: darken($text-color,10);
      }
    }
  }
  .media-body {
    font-size: 14px;
    .comment-body {
      @include word-break(all);
      margin-bottom: 0;
      display: inline;
      p:last-child {
        margin-bottom: 0;
      }
      p:first-child + .onebox {
        margin-top: 1.5rem;
      }
      textarea {
        display: inline-block;
        margin-top: 1rem;
        overflow: auto;
      }
    }
  }
  .stream-item-activity {
    width: 100%;
  }
  .reply-comment {
    border-color: #eee;
    margin-bottom: 5px;
  }
}

.add-comment-wrapper {
  padding: 10px 20px;
  .add-comment {
    border-color: darken($card-background,5);
  }
  textarea {
    height: 40px;
    color: $input-text-color;
    background: lighten($card-background, 3);
  }
}

.reply-list {
  background: darken($card-background, 5);
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 10px !important;
  li {
    &:last-child {
      border-bottom: none;
    }
  }
}

.reply-comment {
  width: 100%;
  padding: 10px;
  font-size: .9rem;
  margin-top: -5px;
  height: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #eee;
  border-top: none;
}

.stream-error-wrapper {
  background: $alabaster;
  border: 1px dashed #ddd;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  color: #8e8e8e;
  box-shadow: 0px 1px 0px 5px $alabaster;
}

.stream-item--media {
  padding: 15px;
  padding-right: 0;
  img {
    border-radius: 3px;
  }
}

.stream-item--media-timeline {
  padding: 15px 20px 0 15px;
  padding-top: 0;
  margin-top: 15px;
}

.stream-onboarding {
  border: 2px dashed rgba(0,0,0,.1);
  border-radius: 3px;
  padding: 15px;
  font-size: 12px;
  margin-bottom: 25px;
  span {
    color: $cinnabar;
  }
}


// aggregate feed items
.aggregate-wrapper {
  overflow: hidden;
  height: 168px;
  position: relative;
  &.view-all {
    height: auto;
  }
  .hr {
    position: absolute;
    content: '';
    width: 1px;
    background: darken($card-background, 5);
    top: 0;
    bottom: 0;
    left: 30px;
  }
  .button {
    background: $card-background;
    position: relative;
    border: 1px solid darken($card-background, 5);
    font-size: 12px;
    padding: 5px 10px;
    z-index: 1;
    color: $text-color;
    &:hover {
      background: darken($card-background, 3);
    }
  }
}

.aggregate-date-block {
  position: relative;
  padding-bottom: 15px;
  @media (max-width: 768px) {
    min-height: 144px;
  }
}
.aggregate-date {
  width: 60px;
  background: $card-background;
  position: relative;
  padding: 5px 0;
  span {
    font-size: 12px;
    display: block;
    text-align: center;
  }
  .date-heading {
    font-family: $heading-font-family;
    font-weight: 700;
  }
}

.aggregate-items {
  list-style-type: none;
  padding-left: 45px;
  margin-top: 10px;
  margin-bottom: 0;
}

.agg-item {
  @extend .clearfix;
  font-size: 12px;
  margin-bottom: 10px;
  a {
    font-family: $heading-font-family;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.agg-avatar {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  .lazy-image, img {
    border-radius: 999em;
    width: 20px;
    height: 20px;
  }
}

.agg-action {
  a {
    color: $text-color;
    font-weight: 700;
    &:hover {
      color: darken($text-color, 10);
    }
  }
  .rating-container {
    display: inline-block;
    position: relative;
    svg {
      vertical-align: bottom;
      fill: $nobel;
    }
  }
}

.stream-add-content {
  @extend .card;
  &.is-expanded {

  }
}

.add-content-header, .add-content-footer {
  padding: 20px;
}

.add-content-footer {
  .button {
    padding: 10px 30px;
    margin-right: 15px;
  }
}
.tag-media {
  border-top: 1px solid $eggshell;
  border-bottom: 1px solid $eggshell;
  input {
    border-radius: 0;
    border: none;
    padding: 10px 20px;
  }
}

.stream-content-editor {
  min-height: 100px;
  margin-top: 0;
  padding: 0 20px;
  overflow: hidden;
  width: 100%;
  border: none;
}

.stream-content {
  @include word-break();
  overflow: hidden;
  .stream-content-post {
    display: block;
    overflow: hidden;
    max-height: 480px;
    &.full-post {
      max-height: none;
    }
  }
  .view-more {
    margin: { top: 15px; bottom: 15px };
  }

  p {
    overflow: hidden;
  }

  .onebox + .onebox {
    margin-top: 1rem;
  }
}

.comment-actions {
  font-size: 12px;
  padding: 10px 20px 0 20px;
  color: #b4b4b4;
}
.nsfw-gate, .spoiler-gate, .combo-gate {
  a {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-bottom: 15px;
    text-align: center;
    padding: 20px;
    display: block;
    color: darken($nobel, 10);
    transition: 0.3s background ease-in-out;
    position: relative;
    font-weight: 700;
    overflow: hidden;
    small {
      display: block;
    }
    &::after {
      content: "(ಠ_ಠ)";
      position: absolute;
      right: 15px;
      font-size: 42px;
      top: -4px;
      opacity: .3;
      font-family: "Arial";
    }

    .gate--hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: translate3d(0, -100%, 0);
      transition: 0.3s all cubic-bezier(0.5,2,0.5,0.75);
    }
    @media (max-width: 768px) {
      text-align: left;
      .gate--hover {
        align-items: initial;
        padding-left: 20px;
      }
      &::after {
        right: -45px;
      }
    }
    &:hover {
      background: #ffdcd8;
      border: 1px dotted #e74c3c;
      color: #e74c3c;
      &::after {
        content: "(¬‿¬ )";
      }
      .gate--label {
        transform: translateY(60px);
        opacity: 0;
      }
      .gate--hover {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.spoiler-gate {
  a {
    &::after {
      content: "(⊙_⊙)";
    }
    &:hover {
      &::after {
        content: "(◕‿◕)";
      }
    }
  }
}

.combo-gate {
  a {
    &::before {
      content: "(⊙_⊙)";
      position: absolute;
      left: 15px;
      font-size: 42px;
      top: -4px;
      opacity: .3;
      font-family: "Arial";
    }
    &:hover {
      &::before {
        content: "(◕‿◕)";
      }
    }
  }
}

.tag-media {
  li {
    @extend .clearfix;
    border-top: 1px dotted #ddd;
    padding: 15px;
    background: #fafafa;
    line-height: 35px;
    &:hover {
      background: darken(#fafafa, 1);
    }
  }
  .tag {
    float: right;
    background: none;
    color: #787878;
    border: 1px solid #ddd;
    padding: 5px 10px;
  }
  .tag-poster {
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 10px;
    border-radius: 3px;
  }
}

.tagged-media--wrapper {
  @extend .clearfix;
  padding: 0 0 10px 0;
  .author-info {
    margin-left: 10px;
  }
  .stream-item--media {
    padding: 0;
  }
  .tagged-media--remove {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 5px;
    right: 5px;
  }
}

.tag-media {
  .tagged-media--wrapper {
    padding: 20px;
  }
}

.tagged-media {
  position: relative;
  border: 1px solid #eee;
  border-radius: 3px;
  background: #fafafa;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  .stream-item--title-block {
    background: none;
    padding: 0;
  }
}

.full-page-post {
  margin: 0 auto;
}

// Stream review item
.author-header {
  @extend .clearfix;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 5px;
  small {
    font-family: $base-font-family;
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 2px;
    letter-spacing: 1px;
  }
  a {
    font-weight: normal;
  }
}
.stream-review {
  margin-bottom: 10px;
}

.stream-review-wrapper {
  padding: 0 15px;
  padding-top: 0;
  .media {
    display: block;
  }
  .stream-item--media {
    padding-bottom: 5px;
  }
}

.review-avatar {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  .lazy-image, img {
    width: 40px;
    height: 40px;
    border-radius: 999em;
  }
}

.stream-review-content {
  padding: 15px 15px 15px 10px;
}

.stream-review-rating {
  position: relative;
  top: 1px;
  margin-left: 5px;
  svg {
    width: 16px;
    height: 16px;
  }
}

.review-media-progress {
  color: rgba(0,0,0,.4);
  padding: 5px 15px;
  border: 1px dashed #ddd;
  display: inline-block;
  background: #fafafa;
  margin-bottom: 10px;
  margin-top: 3px;
  font-size: 12px;
}

.feed-occlusion-buffer {
  min-height: 300px;
}
