// Linked Profiles
.profile-item {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  svg {
    filter: grayscale(100%);
    opacity: .6;
    transition: filter .9s ease-in;
    &:hover {
      filter: grayscale(50%);
      opacity: .8;
    }
  }
  .fill-mark {
    opacity: 0;
    position: absolute;
    top: -3px;
    right: 0px;
  }
  .active {
    svg {
      @extend .animated;
      @extend .zoomIn;
      filter: grayscale(0%);
      opacity: 1;
    }
  }
  .filled {
    svg {
      filter: grayscale(25%);
    }
    .fill-mark {
      opacity: 1;
      svg {
        opacity: 1;
        width: 15px;
      }
    }
  }
}

.profile-forms {
  margin-top: 30px;
  h6 {
    margin-bottom: 0;
  }
  label {
    padding-top: 0;
    margin-bottom: 0;
  }
  .form-group {
    margin-bottom: 0;
  }
}

.profile-settings {
  margin-top: 15px;
  li {
    @extend .clearfix;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    line-height: 30px;
  }
  .switch {
    float: left;
    margin-right: 15px;
  }
}
