// Yikes! This file needs a lot of cleaning! - Josh
#edit-profile-modal {
  .modal-header, .modal.body {
    padding: 0;
  }
  .modal-body {
    max-height: 405px;
    overflow: auto;
  }
  textarea {
    overflow: auto;
  }
  .alert {
    background: #ddd;
    padding: 5px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
  }
}

.modal-header {
  &.modal-header-navbar {
    border-bottom: none;

    .cover-nav {
      margin-bottom: 0;
    }
  }
}

.modal-content {
  background-color: $alabaster;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.30);
  .label {
    color: $charcoal;
    font-size: 12px;
  }
  input, textarea, select {
    width: 100%;
    border: 1px solid $eggshell;
    padding: 10px;
    border-radius: 3px;
  }
}

.modal-backdrop {
  background-color: rgb(50, 58, 69);
  &.in {
    opacity: .8;
  }
}

.modal-body {
  padding: 15px;
}

.modal-dialog {
  @media (max-width: 544px) {
    margin: 20px;
  }
}

.modal-wrapper {
  padding: 20px;
  padding-top: 5px;
  .form-group:last-child {
    margin-bottom: 0;
  }
  .form-toggle-field {
    margin-top: 0.5rem;
  }
}

.modal-overlay-button {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  color: #fff;
  .overlay-text {
    position: relative;
    display: block;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
  }
  svg {
    fill: $white;
    width: 30px;
    height: 30px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal-cover-photo {
  width: 100%;
  height: 165px;
  background-size: cover;
  position: relative;
}

.modal-avatar-wrapper {
  position: relative;
  display: inline-block;
  .modal-overlay-button {
    border-radius: 999em;
    border: 2px solid $alabaster;
  }
  img {
    border: 2px solid $alabaster;
  }
}

.modal-user-avatar {
  margin-top: -38px;
  margin-left: 15px;
  position: absolute;
  z-index: $zIndex--modal-user-avatar;
}

.edit-heading {
  margin-bottom: 15px;
}

.modal-footer {
  text-align: left;
  border-top: 1px solid $eggshell;
  background: #f5f5f5;
  padding: 20px;
  .link-note {
    float: left;
    font-size: 12px;
    width: 65%;
    margin-bottom: 0;
  }
}

// Onboarding modal-content
#auth-modal {
  .modal-content {
    background: #fff;
  }
  .modal-body {
    padding: 0;
  }
  .modal-wrapper {
    padding: 30px;
  }
  @media (min-width: 544px) {
    .modal-dialog {
        max-width: 530px;
        margin: 30px auto;
    }
  }
}


// modal for media trailers
.trailer-modal {
  .modal-body {
    padding: 0;
  }
  .modal-dialog {
    border-radius: 3px;
    overflow: hidden;
  }
}

.modal--header-title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.review-modal {
  .modal-dialog {
    max-width: 750px;
  }
  img {
    border-radius: 3px;
  }
  textarea {
    max-height: 350px;
    overflow: auto !important;
  }
  h3 {
    margin-bottom: 15px;
  }
  .col-xs-4 {
    max-width: 225px;
    @media (max-width: 544px) {
      display: none;
    }
  }
  .rating-wrapper {
    display: inline-block;
    border: 1px solid #eee;
    padding: 0 10px;
    border-radius: 3px;
    padding-top: 5px;
    h6 {
      float: left;
      font-weight: normal;
      font-size: 12px;
      margin-bottom: 0;
      line-height: 29px;
      margin-right: 10px;
    }
    svg {
      width: 20px;
    }
  }
  .review--cta {
    margin-top: 25px;
  }
}

.ticket-modal {
  .modal-dialog {
    padding: 0;
    margin: 0;
    float: right;
    border-radius: 0;
    height: 100%;
  }
  .modal-content {
    width: 100%;
    float: right;
    height: 100%;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .modal-body {
    height: 100%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .float-right {
    float: right;
  }
  .ticket {
    border-radius: 3px;
    font-size: 14px;
    color: #434651;
    position: relative;
    height: 100%;
    overflow: hidden;

    .ticket-header {
      padding: 20px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom: 1px solid #ddd;
      position: absolute;
      background: #fff;
      width: 100%;
      z-index: 1;
      top: 0;

      img {
        float: left;
        width: 55px;
        border-radius: 999em;
      }

      .ticket-about {
        float: left;
        padding-left: 10px;
      }

      .ticket-with {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
      }

      .ticket-actions {
        a {
          border: 1px solid #ddd;
          border-radius: 5px;
          padding: 5px 8px;
          font-size: 12px;
          color: #616161;
          &:hover {
            background: #fafafa;
          }
        }
        .close-ticket {
          background: $caribbean;
          border: 1px solid $caribbean;
          color: $white;
          margin-right: 5px;
          &:hover {
            background: darken($caribbean, 10);
            border-color: darken($caribbean, 5);
          }
        }
      }

      .fa-star {
        float: right;
        color: #D8DADF;
        font-size: 20px;
        margin-top: 12px;
      }
    }

    .ticket-history {
      padding: 120px 30px 500px;
      background: #f5f5f5;
      border-bottom: 1px solid #ddd;
      overflow-y: scroll;
      height: 100%;

      .message-data {
        margin-bottom: 5px;
        font-size: 12px;
      }

      .message-data-name {
        font-weight: 700;
        a {
          color: $charcoal;
        }
      }
      .message-data-time {
        color: #999;
        padding-left: 6px;
      }

      .message {
        color: $white;
        padding: 18px 20px;
        line-height: 20px;
        font-size: 14px;
        border-radius: 7px;
        margin-bottom: 30px;
        width: 90%;
        position: relative;
      }

      .leader-message {
        background: #86BB71;
      }

      .other-message {
        background: #7fafdc;
      }
      .mod-note {
        background: #f9eab0;
        border: 1px dashed #e2bb7e;
        color: #886c40;
      }

    }

    .ticket-message {
      padding: 30px;
      padding-top: 10px;
      position: absolute;
      width: 100%;
      bottom: 0;
      background: #fff;
      z-index: 1;
      border-top: 1px solid #ddd;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;

      textarea {
        width: 100%;
        border: 1px solid #ddd;
        padding: 10px 20px;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
        resize: none;
      }

      .fa-file-o, .fa-file-image-o {
        font-size: 16px;
        color: gray;
        cursor: pointer;

      }

      .nav {
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
        .nav-link {
          color: #989898;
          padding: 5px;
          margin-right: 10px;
          &.active {
            color: #333;
            font-weight: 700;
            border-bottom: 2px solid #ddd;
          }
        }
      }

      button {
        float: right;
        color: $white;
        font-size: 14px;
        border: none;
        cursor: pointer;
        background: $caribbean;
        border-radius: 3px;
        padding: 5px 10px;

        &:hover {
          color: $white;
          color: darken($caribbean, 7%);
        }
      }
    }
  }
}
