// Yikes! This file needs a lot of cleaning! - Josh
#edit-profile-modal {
  .modal-header, .modal.body {
    padding: 0;
  }
  .modal-body {
    max-height: 405px;
    overflow: auto;
  }
}

.modal-content {
  background-color: $alabaster;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.30);
  .label {
    color: $charcoal;
    font-size: 12px;
  }
  input, textarea, select {
    width: 100%;
    border: 1px solid $eggshell;
    padding: 10px;
    border-radius: 3px;
  }
}

.modal-backdrop {
  background-color: rgb(50, 58, 69);
  &.in {
    opacity: .8;
  }
}

.modal-body {
  padding: 15px;
}

.modal-wrapper {
  padding: 20px;
  padding-top: 5px;
  .form-group:last-child {
    margin-bottom: 0;
  }
}

.modal-overlay-button {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  color: #fff;
  .overlay-text {
    position: relative;
    display: block;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
  }
  svg {
    fill: $white;
    width: 30px;
    height: 30px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal-cover-photo {
  width: 100%;
  height: 165px;
  background-size: cover;
  position: relative;
}

.modal-avatar-wrapper {
  position: relative;
  display: inline-block;
  .modal-overlay-button {
    border-radius: 999em;
    border: 2px solid $alabaster;
  }
  img {
    border: 2px solid $alabaster;
  }
}

.modal-user-avatar {
  margin-top: -38px;
  margin-left: 15px;
  position: absolute;
  z-index: $zIndex--modal-user-avatar;
}

.edit-heading {
  margin-bottom: 18px;
}

.modal-footer {
  text-align: left;
  border-top: 1px solid $eggshell;
  background: #f5f5f5;
  padding: 20px;
  .link-note {
    float: left;
    font-size: 12px;
    width: 65%;
    margin-bottom: 0;
  }
}

// Onboarding modal-content
#auth-modal {
  .modal-content {
    background: #fff;
  }
  .modal-body {
    padding: 0;
  }
  .modal-wrapper {
    padding: 30px;
  }
  @media (min-width: 544px) {
    .modal-dialog {
        max-width: 530px;
        margin: 30px auto;
    }
  }
}


// modal for media trailers
.trailer-modal {
  .modal-header {
    padding: 0;
  }
  .modal-dialog {
    border-radius: 3px;
    overflow: hidden;
  }
  .trailer-info {
    padding: 15px;
    p {
      margin-bottom: 0;
    }
  }
  .info-header {
    border-bottom: 1px solid $eggshell;
    margin-bottom: 15px;
    h4 {
      margin-bottom: 0;
    }
  }
  .type-tags {
    list-style-type: none;
    padding: 0;
    li {
      border: 1px solid #ddd;
      display: inline-block;
      padding: 0px 15px;
      border-radius: 3px;
      font-size: 12px;
    }
  }
}

.modal--header-title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
