.navbar {
  background: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 0.4rem .1rem;
  width: 100%;
  &.primary-nav {
    z-index: $zIndex--primary-nav;
    .row {
      display: inherit;
    }
  }
  .primary-nav--drop {
    @media (max-width: 545px) {
      position: absolute;
      background: #fff;
      width: 160px;
      top: 63px;
      left: 15px;
      border-radius: 3px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      .nav-link {
        font-size: 12px;
        color: #939393;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        &:hover {
          text-decoration: none;
          background-color: lighten($eggshell, 4);
        }
      }
    }
  }
  a {
    color: lighten($charcoal, 30);
    &:hover {
      color: $charcoal;
    }
  }
  .logo {
    width: 80px;
    display: inline-block;
    position: relative;
    top: 3px;
    svg {
      width: 100%;
      height: 25px;
    }
  }
}

.nav-item {
  position: relative;
}

.cover-nav {
  padding: 0;
  margin-bottom: 30px;
  .nav-item {
    border-right: 1px solid $eggshell;
    padding: 10px 20px;
    font-size: 14px;
    &:first-child {
      border-left: 1px solid $eggshell;
    }
    &:hover {
      background: lighten($eggshell, 5);
    }
    &.active {
      &:hover {
        background: $white;
      }
    }
  }
  .nav-item + .nav-item {
    margin-left: 0;
  }
}

.edit-nav {
  padding-left: 105px;
}

.navbar-buttons {
  &.navbar-nav .nav-item + .nav-item {
    margin-left: 10px;
  }
}
.notifications {
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 999em;
  line-height: 18px;
  font-size: 13px;
  position: relative;
  top: 3px;
  border: 1px solid #eee;
  font-family: $heading-font-family;
  &.notifications--present {
    background: linear-gradient(RGBA(237, 72, 95, 1), RGBA(242, 124, 54, 1));
    border: none;
    span {
      color: #fff;
    }
    &:hover {
      opacity: .9;
    }
  }
  svg {
    position: relative;
    top: -5px;
    width: 20px;
    fill: rgba(0,0,0,.44);
  }
}

.site-search {
  position: relative;
  top: -3px;
  height: 32px;
  text-align: right;
  display: inline-block;
}
.site-search__icon {
  position: relative;
  cursor: pointer;
  margin-left: -6px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}
.site-search__icon .icon svg {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  height: 20px;
  width: 20px;
  position: absolute;
  left: -25px;
  top: 12px;
  fill: rgba(0,0,0,.44);
}
.site-search__input {
  border-radius: 20px;
  border: 1px solid $eggshell;
  cursor: pointer;
  height: 32px;
  width: 32px;
  padding-left: 15px;
  text-indent: -9999px;
  color: rgba(0,0,0,.44);
  outline: none;
  transition: width 0.2s cubic-bezier(0, 1.2, 0.4, 1.03);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.active {
    text-indent: 0;
    width: 300px;
    padding-left: 15px;
  }
}

#search-popover {
  z-index: $zIndex-5;
}

.search--drop {
  width: 350px;
  height: 90vh;
  background-color: #fff;
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.search--results {
  padding: 5px 0;
  .media {
    padding: 5px 10px;
    &:hover {
      background: #faf9fa;
    }
  }
}

.search--header {
  background-color: #efeef1;
  padding: 10px;
  margin-bottom: 0px;
}

.search--group-header {
  font-size: 12px;
  padding: 10px;
  background-color: #faf9fa;
  margin-bottom: 0px;
  text-transform: uppercase;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.notification-drop, .user-menu-drop {
  width: 400px;
  right: 0;
  left: initial;
  top: 55px;
  padding: 0;
  overflow: hidden;
  @media (max-width: 460px) {
    right: -30px;
    width: calc(100vw - 30px);
  }
}

.notification-drop {
  header {
    font-size: 12px;
    padding: 5px 10px;
    border-bottom: 1px solid $eggshell;
  }
  .mark-as-read {
    float: right;
  }
}

.notifications-empty {
  text-align: center;
  padding-top: 10px;
}

.user-menu-drop {
  width: 150px;
  .dropdown-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 12px;
  }
}

.dropdown-item {
  cursor: pointer;
}

.notification-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow: auto;
  &.full-size {
    max-height: none;
    margin-bottom: 20px;
  }
  .media-left {
    padding-left: 10px;
    position: relative;
  }
  .media {
    padding: 15px;
    font-size: 12px;
    color: $charcoal;
    font-family: $base-font-family;
    border-bottom: 1px solid $eggshell;
    transition: all .2s ease-in-out;
    background: $alabaster;
    &.new {
      background: $white;
      .media-left:before {
        content: '';
        position: absolute;
        top: 14px;
        left: -5px;
        width: 6px;
        height: 6px;
        background: linear-gradient(RGBA(237,72,95,1),RGBA(242,124,54,1));
        border-radius: 50%;
      }
    }
    &:hover {
      text-decoration: none;
      background-color: lighten($eggshell, 4);
      opacity: 1;
    }
  }
  .media-body {
    top: 0;
  }
  .media-heading {
    margin-bottom: 0;
  }
  .media-secondary {
    margin-top: 0px;
    display: block;
    opacity: .6;
  }
}
