// Linked Profiles
.profile-item {
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
  position: relative;
  svg {
    width: 38px;
    height: 38px;
    filter: grayscale(100%);
    opacity: .6;
    &:hover {
      filter: grayscale(50%);
      opacity: .8;
    }
  }
  .fill-mark {
    opacity: 0;
    position: absolute;
    top: -12px;
    right: -3px;
  }
  .active {
    svg {
      filter: grayscale(0%);
      opacity: 1;
    }
  }
  .filled {
    svg {
      filter: grayscale(25%);
    }
    .fill-mark {
      opacity: 1;
      svg {
        opacity: 1;
        width: 15px;
      }
    }
  }
}

.profile-link-active {
  margin-top: 30px;
  h6 {
    margin-bottom: 0;
  }
  label {
    padding-top: 0;
    margin-bottom: 0;
  }
  .form-group {
    margin-bottom: 0;
  }
}
