.flickity-enabled {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  height: 180px;
  background: #464C5A;
}

.flickity-viewport {
  @extend .container;
  height: 250px;
  margin-top: 15px;
  overflow: visible;
  .flickity-slider {
    width: 100vw;
    transform: translateX(15%);
  }
  .ember-view {
    width: 20%;
    height: 150px;
    border-radius: 3px;
    margin-right: 10px;
    background: #677086;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
