.feed-sidebar {
  background-color: rgba(255,255,255,0);
  position: relative;
  top: 0;
  bottom: 0;
  padding: 0 0 60px 0;
  width: 300px;
  > .sidebar-item:first-child {
    .panel-heading {
      margin-top: 0;
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.sidebar-footer {
  .footer-social {
    display: inline-block;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
  }
  .kitsu-social {
    svg {
      fill: $text-color;
      width: 20px;
    }
    &:first-child {
      svg {
        position: relative;
        top: -2px;
      }
    }
  }
  .footer-links {
    font-size: 12px;
    .site-link {
      margin-right: 5px;
      color: $text-color;
    }
  }
}

.panel-heading {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid darken($alabaster,5);
  margin-top: 30px;
}

.about-me-panel {
  @include word-break();
  font-size: 14px;
  &:first-child .panel-heading {
    margin-top: 0;
  }
  p {
    white-space: pre-line;
  }
}

.about-me-stats {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 12px;
}

.about-stat {
  margin-bottom: 5px;
}

.waifu-wrapper {
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  top: 5px;
}

.stat-icon {
  width: 15px;
  display: inline-block;
  svg {
    width: 10px;
    position: relative;
    path {
      fill: $text-color;
    }
  }
}

.about--location {
  svg {
    position: relative;
    top: 2px;
  }
}

.about--cal {
  top: 1px;
}

.favorite-placeholder {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: $text-color;
}

.panel-btn {
  float: right;
  font-weight: normal;
  line-height: 1;
  color: #333;
  margin-left: 10px;
  border: 1px solid #c5c5c5;
  padding: 4px 5px;
  position: relative;
  top: -2px;
  font-size: 12px;
}

.favorite-series-panel {
  .nav {
    text-align: center;
    .active {
      color: $text-color;
      background: darken($alabaster,4);
      border-color: darken($alabaster,4);
      &:hover {
        background: darken($alabaster,4);
        border-color: darken($alabaster,4);
      }
    }
  }
  .nav-tabs {
    background-color: $alabaster;
    border-bottom: 1px solid darken($alabaster,4);
  }
  a {
    font-size: 12px;
  }
}

.favorite-placeholder {
  padding: 15px 15px 20px 15px;
  margin-top: 20px;
  .button {
    font-size: 12px;
    &:hover {
      color: $white;
    }
  }
}

.favorite-media-grid {
  margin: 15px -2px 0;
  .button {
    width: 100%;
    display: block;
    background: transparent;
    border: 1px solid #ddd;
    color: #333;
    font-size: 12px;
    &:hover {
      color: $white;
    }
  }
}
.favorite-item {
  padding: 0 3px;
  a {
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
  }
  img {
    width: 100%;
  }
}

.favorite-characters-panel {
  .favorite-item a {
    width: 100%;
  }
  .favorite-placeholder {
    margin-top: 10px;
  }
  a {
    font-size: 12px;
  }
}

.favorite-series-panel, .favorite-characters-panel {
  .button--secondary {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    &:hover {
      color: $white;
    }
  }
}
