.feed-sidebar {
  background-color: rgba(255,255,255,0);
  position: absolute;
  top: 0;
  right: -15px;
  bottom: 0;
  padding: 0 0 60px 0;
  @media (max-width: 767px) {
    display: none;
  }
}

.sidebar-footer {
  .footer-social {
    display: inline-block;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
  }
  .kitsu-social {
    svg {
      fill: #909090;
      width: 20px;
    }
    &:first-child {
      svg {
        position: relative;
        top: -2px;
      }
    }
  }
  .footer-links {
    font-size: 12px;
    .site-link {
      margin-right: 5px;
      color: #909090;
    }
  }
}

.panel-heading {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray;
  margin-top: 30px;
}

.about-me-panel {
  @include word-break();
  font-size: 14px;
  &:first-child.panel-heading {
    margin-top: 0;
  }
}

.about-me-stats {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 12px;
}

.about-stat {
  margin-bottom: 5px;
}

.waifu-wrapper {
  width: 20px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  top: 5px;
}

.stat-icon {
  width: 15px;
  display: inline-block;
  svg {
    width: 10px;
    position: relative;
  }
}

.about--location {
  svg {
    position: relative;
    top: 2px;
  }
}

.about--cal {
  top: 1px;
}

.favorite-placeholder {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: $charcoal;
}

.favorite-series-panel {
  .favorite-placeholder {
    padding-top: 10px;
  }
  .nav {
    text-align: center;
    .active {
      color: $nobel;
    }
  }
  a {
    font-size: 12px;
  }
}

.favorite-media-grid {
  margin: 15px -10px 0 -10px;
  .button {
    width: 100%;
    display: block;
    background: transparent;
    border: 1px solid #ddd;
    color: #333;
    font-size: 12px;
  }
}
.favorite-item {
  padding: 0 10px;
  margin-bottom: 20px;
  a {
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
  }
  img {
    width: 100%;
  }
}

.favorite-characters-panel {
  .favorite-item a {
    max-height: 80px;
    width: 100%;
  }
}
