.feed-sidebar {
  background-color: rgba(255,255,255,0);
  position: absolute;
  top: 0;
  right: -15px;
  bottom: 0;
  padding: 0 0 60px 0;
}

.sidebar-footer {
  .footer-social {
    display: inline-block;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
  }
  .kitsu-social {
    svg {
      fill: #909090;
      width: 20px;
    }
    &:first-child {
      svg {
        position: relative;
        top: -2px;
      }
    }
  }
  .footer-links {
    font-size: 12px;
    .site-link {
      margin-right: 5px;
      color: #909090;
    }
  }
}
