.input {
  padding: 4px 16px;
  height: 44px;
  color: var(--input-text-color);
  border: var(--input-border);
  border-radius: var(--radius-medium);
  background-color: var(--input-background);
}

.input::placeholder {
  color: var(--input-text-color);
  opacity: 0.5;
}
