<a class="media col-sm-12" href={{href-to route slug}}>
  <div class="media-left col-sm-2 no-padding-left">
    {{lazy-image src=(image imageUrl "small") imgClass=imageClass}}
  </div>
  <div class="media-body col-sm no-padding-left">
    <p>{{title}}</p>
  </div>
  {{#each tags as |tag|}}
    <span class="tag tag-default">{{t tag}}</span>
  {{/each}}
</a>
