.alert {
  padding: 12px 16px;
  height: 44px;
  border-radius: var(--radius-medium);
}

.alert.success {
  background-color: var(--alert-success-background);
  border: var(--alert-success-border);
  color: var(--alert-success-text-color);
}

.alert.info {
  background-color: var(--alert-info-background);
  border: var(--alert-info-border);
  color: var(--alert-info-text-color);
}

.alert.error {
  background-color: var(--alert-error-background);
  border: var(--alert-error-border);
  color: var(--alert-error-text-color);
}

.alert.warning {
  background-color: var(--alert-warning-background);
  border: var(--alert-warning-border);
  color: var(--alert-warning-text-color);
}
