.chosenMediaContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.8fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "headers headers headers"
    "banner banner banner"
    "post post post";
}

.reactionContainer {

}
