<span class="plug-logo">
  {{svg-jar streamerInfo.logo}}
</span>
<p class="plug-description">
  {{streamerInfo.description}}
</p>
<a href={{streamerInfo.link}} class="plug-cta">
  {{streamerInfo.cta}}
</a>
