.container {
  position: relative;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
}

.background,
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background {
  z-index: var(--layer-background);
}

.overlay {
  z-index: var(--layer-base);
}
