/* Set Up Grid */
.Container {
  all: unset;
  grid-column-gap: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: max-content auto max-content;
  grid-template-areas:
    'logo search session'
    'navigation navigation navigation';
  display: grid;
  align-items: center;
  padding-inline: 15px;
  color: white;

  @media (--medium) {
    & {
      grid-template-columns: max-content auto max-content max-content;
      grid-template-areas: 'logo navigation search session';
      grid-template-rows: 1fr;
    }
  }
}

/* Logo Section */
.Logo {
  grid-area: logo;

  & > img,
  & > svg {
    display: block;
    block-size: 25px;
    inline-size: 85px;
    margin: 8px 0;
  }
}

/* Navigation Section */
.Navigation {
  all: unset;
  grid-area: navigation;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @media (--medium) {
    & {
      justify-content: flex-start;
    }
  }

  & > li {
    all: unset;
    margin-inline-start: 1rem;

    &:first-child {
      margin-inline-start: 0;
    }

    & > a {
      color: inherit;
      opacity: 0.6;
      text-decoration: none;
      transition: opacity 50ms;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/* Search Box */
.SearchBox {
  grid-area: search;
}

/* Circulars */
.circular {
  background-color: var(--header-skeleton-background);
  border-radius: 100px;
  block-size: 25px;
  inline-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificationCount {
  grid-area: notifications;
  background: var(--header-notifications-background);
  color: var(--header-notifications-text-color);
}

.authCta {
  grid-area: auth;
  font-weight: var(--font-regular);

  & > a {
    color: var(--header-text-color);
  }
}
