<h1>Admin Panel</h1>
<div class="w-100">
  <p>Current Deployed Version: {{app-version}}</p>
  <ul>
    <li><a href={{href-to "admin.reports.index"}}>Reports</a></li>
    <li><a href="/api/admin" target="_blank">Rails Admin</a></li>
    <li><a href="/api/sidekiq" target="_blank">Sidekiq</a></li>
  </ul>
</div>

{{! Temp. Site Announcement }}
{{admin/site-announcements}}