<div class="settings--header">
  <div class="container">
    <div class="row">
      <h2>Mod Reports</h2>
      <ul class="settings--navigation">
        {{#link-to "admin.reports.index" tagName="li" class="list-item"}}
          <a href={{href-to "admin.reports.index"}}>Open</a>
        {{/link-to}}
        {{#link-to "admin.reports.closed" tagName="li" class="list-item"}}
          <a href={{href-to "admin.reports.closed"}}>Closed</a>
        {{/link-to}}
      </ul>
    </div>
  </div>
</div>

<div class="container user-reports">
  <div class="row">
    {{outlet}}
  </div>
</div>