<span>{{t "users.library.sorting.label"}}</span>
{{#power-select
  searchEnabled=false
  options=sortingOptions
  selected=sort
  onchange=(action update)
  triggerClass="d-inline-block"
  matchTriggerWidth=false
  as |option|}}
  {{t (concat "users.library.sorting.options." option)}}
{{/power-select}}