<div class="media-grid container">
  <div class="row">

    <div class="poster-wrapper">
      <div class="grid-poster">
        <div class="ember-view">
          <img src="https://media.kitsu.io/anime/poster_images/7442/medium.jpg?1418580054">
          <div class="poster-overlay">
            <a href="/anime/attack-on-titan"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="poster-wrapper">
      <div class="grid-poster">
        <div class="ember-view">
          <img src="https://media.kitsu.io/anime/poster_images/7442/medium.jpg?1418580054">
          <div class="poster-overlay">
            <a href="/anime/attack-on-titan"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="poster-wrapper">
      <div class="grid-poster">
        <div class="ember-view">
          <img src="https://media.kitsu.io/anime/poster_images/7442/medium.jpg?1418580054">
          <div class="poster-overlay">
            <a href="/anime/attack-on-titan"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="poster-wrapper">
      <div class="grid-poster">
        <div class="ember-view">
          <img src="https://media.kitsu.io/anime/poster_images/7442/medium.jpg?1418580054">
          <div class="poster-overlay">
            <a href="/anime/attack-on-titan"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="poster-wrapper">
      <div class="grid-poster">
        <div class="ember-view">
          <img src="https://media.kitsu.io/anime/poster_images/7442/medium.jpg?1418580054">
          <div class="poster-overlay">
            <a href="/anime/attack-on-titan"></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>