<table class="table table-responsive library-list">
  <thead>
    <tr>
      <th class="status"></th>
      <th></th>
      <th class="media-cell">{{t "users.library.list.table-header.title" type=media}}</th>
      <th class="rating-cell">{{t "users.library.list.table-header.rating"}}</th>
      <th class="progress-cell">{{t "users.library.list.table-header.progress"}}</th>
      <th class="edit-entry"></th>
    </tr>
  </thead>
  <tbody>
    {{#each libraryEntries as |libraryEntry|}}
      {{#occlusion-culling rootMargin=(hash bottom=1000) bufferClass="library-occlusion-buffer-list"}}
        {{users/library/library-list/library-entry
          libraryEntry=libraryEntry
          saveEntry=saveEntry
          removeEntry=removeEntry
        }}
      {{/occlusion-culling}}
    {{/each}}
  </tbody>
</table>