<div class="container">
  <div class="row">
    <div class="library-search--wrapper">
      <span class="icon">{{svg-jar "search"}}</span>
      {{one-way-text
        class="library-search-input"
        placeholder=(t "users.library.search" name=user.name)
        update=update
      }}
    </div>
  </div>
</div>