:root {
  /* Font Sizes */
  --font-xxs: 0.7rem;
  --font-xs: 0.75rem;
  --font-sm: 0.85rem;
  --font-me: 0.9rem;
  --font-la: 1rem;
  --font-xl: 1.2rem;

  /* Font Weights */
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;

  /* Font Families */
  --font-family-body: 'Open Sans', sans-serif;
  --font-family-headings: 'Asap', sans-serif;
}
