.container {
  font-size: var(--font-me);
  display: grid;
  grid-template-columns: 2em auto;
  grid-template-rows: 2em;
  align-items: center;
}

.checkbox {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--checkbox-bg);
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  transition-property: background-color, box-shadow;
  /* This makes animating smoother than a border */
  box-shadow: var(--checkbox-border) 0 0 0 1px inset;
  border-radius: 3px;
  height: 1.2em;
  width: 1.2em;
  font-size: 100%;
  justify-self: center;
  outline: var(--focus-outline);
  outline-width: 0;

  /* tick mark */
  &::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    margin: 2px;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}

.checkbox:focus {
  outline: var(--focus-outline);
  outline-offset: 0;
}

.checkbox:checked {
  background-color: var(--checkbox-checked-bg);
  box-shadow: none;

  &::after {
    transform: scale(1);
    /* We use a mask to allow this to be recolored by CSS */
    mask-image: url('app/assets/icons/check.svg');
    background-color: var(--checkbox-checked-fg);
  }
}

.checkbox:indeterminate {
  background-color: var(--checkbox-checked-bg);
  box-shadow: none;

  &::after {
    transform: scale(1);
    /* We use a mask to allow this to be recolored by CSS */
    mask-image: url('app/assets/icons/check-indeterminate.svg');
    background-color: var(--checkbox-checked-fg);
  }
}

.checkbox:disabled {
  opacity: 0.75;
  background-color: var(--checkbox-disabled-bg);
  box-shadow: none;

  &::after {
    background-color: var(--checkbox-disabled-fg);
  }
}
