{{#each ratings as |rating|}}
  <div class="hint--rounded hint--bounce hint--top" aria-label={{t (concat "library-entry.rating." rating.tag)}} {{action "onClick" rating}}>
    {{! @TODO(Ratings): Simple Icons }}
  </div>
{{/each}}