<h5>Alternative Titles</h5>
<ul>
  {{#each-in media.titles as |key value|}}
    <li>
      <strong>{{t (concat "media.routes.show.titles." key)}}:</strong>
      {{value}}
    </li>
  {{/each-in}}
  {{#if media.abbreviatedTitles}}
    <li>
      <strong>{{t "media.routes.show.titles.synonyms"}}:</strong>
      {{join ", " media.abbreviatedTitles}}
    </li>
  {{/if}}
</ul>