<span class="ranking">
  {{svg-jar "heart-filled"}}
  {{t (concat "media.routes.show.ranking.popularity." (model-type media)) rank=media.popularityRank}}
</span>
<span class="ranking">
  {{svg-jar "star"}}
  {{t (concat "media.routes.show.ranking.rating." (model-type media)) rank=media.ratingRank}}
</span>