<div class="rating-bar clearfix">
  <span class="community-percentage {{percentageClass}}">
    {{media.averageRating}}%
  </span>
  <span class="ratings-count">
    {{t "media.show.summary.ratings.total" total=(format-number media.totalRatings)}}
    {{#if media.favoritesCount}}
        - {{t "media.show.summary.ratings.favorites" total=(format-number media.favoritesCount)}}
    {{/if}}
  </span>
</div>