<h5>Franchise</h5>
{{#each-in relationships as |type medias|}}
  <div class="related--panel">
    <div class="related--wrapper">
      <div class="related--title">{{t (concat "media.routes.show.relationships." type)}}:</div>
      <div class="related--posters">
        {{#each medias as |media|}}
          <a href={{href-to (concat (model-type media) ".show") media.slug}} class="related--item">
            {{lazy-image url=(image media.posterImage "small")}}
          </a>
        {{/each}}
      </div>
    </div>
  </div>
{{/each-in}}