{{#if media.popularityRank}}
  <span class="ranking ranking-popularity">
    {{svg-jar "heart-filled"}}
    {{t (concat "media.routes.show.ranking.popularity." media.modelType) rank=media.popularityRank}}
  </span>
{{/if}}

{{#if media.ratingRank}}
  <span class="ranking ranking-rating">
    {{svg-jar "star"}}
    {{t (concat "media.routes.show.ranking.rating." media.modelType) rank=media.ratingRank}}
  </span>
{{/if}}