<h5>Franchise</h5>
{{#each-in relationships as |type medias|}}
  <div class="related--panel">
    <div class="related--wrapper">
      <div class="related--title">{{t (concat "media.routes.show.relationships." type)}}:</div>
      <div class="related--posters">
        {{#each medias as |media|}}
          {{#media-popover class="related--item"
            attachment="bottom middle"
            targetAttachment="top middle"
            media=media
          }}
            <a href={{href-to (concat media.modelType ".show") media.slug}}>
              {{lazy-image src=(image media.posterImage "small")}}
            </a>
          {{/media-popover}}
        {{/each}}
      </div>
    </div>
  </div>
{{/each-in}}