{{#if hasCommunityRatings}}
  <div class="rating-bar clearfix">
    <span class="community-percentage {{percentageClass}}">
      {{decimal-number media.averageRating 2}}
    </span>
    <span class="average-rating-stars">
      {{star-rating media.averageRating anyPercent=true readOnly=true}}
    </span>
    <span class="ratings-count">
      {{totalRatings}} ratings - 23,456 favorites
    </span>
  </div>
{{/if}}