<div class="media-summary">
  {{! Media Information }}
  {{media/media-information media=media}}

  {{! Media Attributes }}
  {{! @TODO }}

  {{! Featured Characters }}
  {{media/featured-characters media=media}}

  {{! Related Media }}
  {{media/media-related media=media}}
</div>

{{! Kitsu Media Summary Sidebar }}
{{#if media.shouldShowAds}}
  {{ad-unit unit="kitsu.media.summary.sidebar"
    targeting=(hash
      section="media"
      media=media.slug)
    sizes=(hash
      mobile=(array (array 300 250) (array 320 100) (array 320 50))
      tablet=(array (array 336 280) (array 300 250)))
  }}
{{/if}}
