<div class="card">
  <div class="card-block">
    <p class="card-text">
      (Example)
      Anyone can create and discover groups. Each group centers around a topic or activity.
      Find new groups that you’re interested in below. For more information, read our announcement.
    </p>
  </div>
</div>

{{#if session.hasUser}}
  {{#link-to "groups.new" tagName="button" class="button button--primary"}}
    Create your Group
  {{/link-to}}
{{/if}}