<div class="group-categories">
  <ul class="group-category-list">
    <li class="group-category-wrapper active">
      <a href="#">
        <span class="group-category-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" enable-background="new 0 0 26 26">
            <path d="M 8 3 C 7.4 3 7 3.4 7 4 L 7 7 L 4 7 C 3.4 7 3 7.4 3 8 L 3 10 C 3 10.6 3.4 11 4 11 L 7 11 L 7 15 L 4 15 C 3.4 15 3 15.4 3 16 L 3 18 C 3 18.6 3.4 19 4 19 L 7 19 L 7 22 C 7 22.6 7.4 23 8 23 L 10 23 C 10.6 23 11 22.6 11 22 L 11 19 L 15 19 L 15 22 C 15 22.6 15.4 23 16 23 L 18 23 C 18.6 23 19 22.6 19 22 L 19 19 L 22 19 C 22.6 19 23 18.6 23 18 L 23 16 C 23 15.4 22.6 15 22 15 L 19 15 L 19 11 L 22 11 C 22.6 11 23 10.6 23 10 L 23 8 C 23 7.4 22.6 7 22 7 L 19 7 L 19 4 C 19 3.4 18.6 3 18 3 L 16 3 C 15.4 3 15 3.4 15 4 L 15 7 L 11 7 L 11 4 C 11 3.4 10.6 3 10 3 L 8 3 z M 11 11 L 15 11 L 15 15 L 11 15 L 11 11 z"></path>
          </svg>
        </span>
        <span class="group-category-title">All</span>
      </a>
    </li>
    <li class="group-category-wrapper">
      <a href="#">
        <span class="group-category-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <path d="M 32.84375 1.96875 A 1.0001 1.0001 0 0 0 32.28125 2.28125 L 28.0625 6.5 L 24.78125 2.375 A 1.0001 1.0001 0 0 0 23.90625 2 A 1.0001 1.0001 0 0 0 23.15625 2.5 L 20.65625 6.65625 L 14.5 3.125 A 1.0001 1.0001 0 0 0 13 4.15625 L 13.78125 8.8125 L 8.15625 8 A 1.0001 1.0001 0 0 0 7.15625 9.5 L 9.59375 13.5625 L 4.5625 16.09375 A 1.0001 1.0001 0 0 0 4.8125 17.96875 L 8.625 18.71875 L 7.0625 22.625 A 1.0001 1.0001 0 0 0 8.5 23.875 L 9 23.59375 L 9 26.09375 L 9 26.1875 C 9.06875 26.875 9.5274658 27.477783 10.125 27.78125 C 9.9557432 27.915519 9.7630068 28.086824 9.59375 28.3125 C 9.09375 29.0125 8.80625 30.1125 8.90625 31.3125 C 9.30625 34.9125 11.6125 36.2 12.3125 36.5 C 12.6125 38.2 13.40625 40.2125 14.90625 42.3125 C 16.40625 44.6125 23.40625 47.90625 24.90625 47.90625 C 26.40625 47.90625 33.40625 44.5125 34.90625 42.3125 C 36.30625 40.2125 37.10625 38.1 37.40625 36.5 C 38.10625 36.2 40.40625 34.9125 40.90625 31.3125 C 41.00625 30.1125 40.6875 29.0125 40.1875 28.3125 C 40.047456 28.125774 39.921294 27.963655 39.78125 27.84375 C 40.429447 27.558229 40.92739 26.913603 41 26.1875 L 41 26.09375 L 41 24.03125 A 1.0001 1.0001 0 0 0 41.9375 22.625 L 40.3125 18.5625 L 44.375 16.9375 A 1.0001 1.0001 0 0 0 44.4375 15.09375 L 39.34375 12.53125 L 41.8125 7.4375 A 1.0001 1.0001 0 0 0 40.625 6.03125 L 34.8125 7.71875 L 34 2.84375 A 1.0001 1.0001 0 0 0 32.84375 1.96875 z M 24.09375 4.71875 L 27.21875 8.625 A 1.0001 1.0001 0 0 0 28.71875 8.71875 L 32.3125 5.125 L 33 9.15625 A 1.0001 1.0001 0 0 0 34.28125 9.96875 L 39 8.59375 L 37.09375 12.5625 A 1.0001 1.0001 0 0 0 37.5625 13.90625 L 41.53125 15.90625 L 38.625 17.0625 A 1.0001 1.0001 0 0 0 38.0625 18.375 L 38.84375 20.3125 L 34.71875 18.25 L 34.40625 18.09375 A 1.0001 1.0001 0 0 0 34.3125 18.03125 C 34.264175 18.010174 34.193934 18.002757 34.125 18 C 34.095703 17.998828 34.066479 18.000073 34.03125 18 A 1.0001 1.0001 0 0 0 34 18 L 15 18 C 14.966667 18 14.93912 17.999537 14.90625 18 C 14.782703 18.00174 14.679634 18.023096 14.59375 18.0625 C 14.565385 18.075514 14.52069 18.07306 14.5 18.09375 L 13.46875 18.71875 L 10 20.6875 L 10.9375 18.375 A 1.0001 1.0001 0 0 0 10.1875 17.03125 L 8.03125 16.59375 L 11.4375 14.90625 A 1.0001 1.0001 0 0 0 11.84375 13.5 L 9.9375 10.3125 L 14.84375 11 A 1.0001 1.0001 0 0 0 16 9.84375 L 15.34375 5.9375 L 20.5 8.875 A 1.0001 1.0001 0 0 0 21.84375 8.5 L 24.09375 4.71875 z M 19 20 L 31 20 C 32.1 20 33 20.9 33 22 L 33 24 C 33 25.1 32.1 26 31 26 L 19 26 C 17.9 26 17 25.1 17 24 L 17 22 C 17 20.9 17.9 20 19 20 z M 12.65625 28 L 37.3125 28 C 37.371737 28.223885 37.477885 28.436538 37.6875 28.59375 C 37.8875 28.69375 38.3 29.00625 38.5 29.40625 C 38.8 29.80625 39.00625 30.29375 38.90625 31.09375 C 38.50625 34.29375 36.3125 34.90625 36.3125 34.90625 C 36.065309 34.968048 35.899283 35.147216 35.78125 35.34375 C 35.332932 35.081527 34.834214 34.871423 34.34375 34.6875 C 33.275342 34.286847 32.25 34.03125 32.25 34.03125 A 1.0001 1.0001 0 0 0 31.84375 34 A 1.0001 1.0001 0 0 0 31.75 35.96875 C 31.75 35.96875 32.724658 36.213153 33.65625 36.5625 C 34.122046 36.737174 34.570383 36.954145 34.84375 37.125 C 34.948182 37.19027 34.996171 37.21872 35.03125 37.25 A 1.0001 1.0001 0 0 0 35.125 37.46875 C 34.914574 38.030894 34.638926 38.631086 34.3125 39.28125 C 33.949989 38.828111 33.511417 38.43825 33.09375 38.125 C 32.258417 37.4985 31.4375 37.09375 31.4375 37.09375 A 1.0001 1.0001 0 0 0 30.875 37 A 1.0001 1.0001 0 0 0 30.5625 38.90625 C 30.5625 38.90625 31.241583 39.2515 31.90625 39.75 C 32.238583 39.99925 32.550011 40.281264 32.75 40.53125 C 32.949989 40.781236 33 40.958333 33 41 A 1.0001 1.0001 0 0 0 33.09375 41.40625 C 32.746288 41.842981 32.244833 42.278525 31.65625 42.71875 C 31.411544 42.249605 31.086617 41.842824 30.78125 41.46875 C 30.234887 40.799456 29.6875 40.28125 29.6875 40.28125 A 1.0001 1.0001 0 0 0 28.75 40 A 1.0001 1.0001 0 0 0 28.3125 41.71875 C 28.3125 41.71875 28.765113 42.163044 29.21875 42.71875 C 29.582908 43.164844 29.808797 43.656697 29.90625 43.84375 C 27.84413 45.056757 25.586859 46 25 46 C 24.411252 46 22.129868 45.073327 20.0625 43.875 C 20.142751 43.728041 20.396283 43.190335 20.78125 42.71875 C 21.234887 42.163044 21.6875 41.71875 21.6875 41.71875 A 1.0001 1.0001 0 0 0 20.8125 40 A 1.0001 1.0001 0 0 0 20.3125 40.28125 C 20.3125 40.28125 19.765113 40.799456 19.21875 41.46875 C 18.905533 41.85244 18.558127 42.264335 18.3125 42.75 C 17.737257 42.327875 17.246556 41.880564 16.90625 41.46875 A 1.0001 1.0001 0 0 0 17 41 C 17 40.95833 17.05001 40.781236 17.25 40.53125 C 17.449989 40.281264 17.761417 39.99925 18.09375 39.75 C 18.758417 39.2515 19.4375 38.90625 19.4375 38.90625 A 1.0030471 1.0030471 0 1 0 18.8125 37 A 1.0001 1.0001 0 0 0 18.5625 37.09375 C 18.5625 37.09375 17.741583 37.4985 16.90625 38.125 C 16.488583 38.43825 16.050011 38.828111 15.6875 39.28125 C 15.664843 39.309571 15.647294 39.345854 15.625 39.375 C 15.28999 38.738819 15.026153 38.146532 14.8125 37.59375 A 1.0001 1.0001 0 0 0 14.96875 37.25 C 15.00383 37.21872 15.05182 37.19027 15.15625 37.125 C 15.429617 36.954145 15.877954 36.737174 16.34375 36.5625 C 17.275342 36.213153 18.25 35.96875 18.25 35.96875 A 1.0083877 1.0083877 0 1 0 17.8125 34 A 1.0001 1.0001 0 0 0 17.75 34.03125 C 17.75 34.03125 16.724658 34.286847 15.65625 34.6875 C 15.143916 34.879625 14.619113 35.095284 14.15625 35.375 C 14.03121 35.194717 13.831952 35.059551 13.59375 35 C 13.59375 35 11.4 34.29375 11 31.09375 C 10.9 30.29375 11.10625 29.80625 11.40625 29.40625 C 11.70625 29.00625 11.9875 28.69375 12.1875 28.59375 C 12.4243 28.47535 12.601131 28.266436 12.65625 28 z M 19.5 29 C 18.671573 29 18 29.671573 18 30.5 C 18 31.328427 18.671573 32 19.5 32 C 20.328427 32 21 31.328427 21 30.5 C 21 29.671573 20.328427 29 19.5 29 z M 30.5 29 C 29.671573 29 29 29.671573 29 30.5 C 29 31.328427 29.671573 32 30.5 32 C 31.328427 32 32 31.328427 32 30.5 C 32 29.671573 31.328427 29 30.5 29 z"></path>
          </svg>
        </span>
        <span class="group-category-title">Anime & Manga</span>
      </a>
    </li>
    <li class="group-category-wrapper">
      <a href="#">
        <span class="group-category-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24">
            <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" d="M 13.5625 2.09375 C 13.428101 2.1063856 13.292949 2.1458156 13.15625 2.1875 L 13.15625 2.125 L 13.03125 2.15625 L 3.4375 4.625 A 1.0001 1.0001 0 0 0 3.34375 4.65625 C 2.4382085 5.0184666 1.8306776 5.9971381 2.03125 7 A 1.0001 1.0001 0 0 0 2.03125 7.0625 L 3.84375 13.84375 A 1.0001 1.0001 0 0 0 3.84375 13.875 C 4.4141872 15.814486 5.9532894 16.997305 7.5 17.6875 C 7.9739492 18.453736 8.5734068 19.131893 9.15625 19.6875 C 10.604024 21.067621 12.125 21.875 12.125 21.875 A 1.0001 1.0001 0 0 0 12.75 22 C 12.75 22 13.189251 21.921965 13.84375 21.75 C 14.498249 21.578035 15.367996 21.312141 16.28125 20.90625 C 16.96619 20.601832 17.707717 20.217335 18.375 19.71875 C 18.597428 19.552555 18.795337 19.37906 19 19.1875 C 19.818653 18.42126 20.469117 17.435401 20.6875 16.1875 L 21.96875 9.1875 A 1.0001 1.0001 0 0 0 22 9.15625 C 22.185902 8.040837 21.434255 7.018101 20.40625 6.8125 A 1.0001 1.0001 0 0 0 20.375 6.8125 L 16.28125 6.0625 L 15.59375 3.59375 C 15.58865 3.568368 15.56848 3.556034 15.5625 3.53125 C 15.432613 2.9927535 15.079103 2.6021604 14.65625 2.34375 C 14.350423 2.1568557 13.965697 2.0558433 13.5625 2.09375 z M 8.875 5.28125 L 8.875 5.3125 C 8.3958196 5.6142257 8.0158121 6.0775639 7.84375 6.59375 A 1.0001 1.0001 0 0 0 7.8125 6.71875 L 7.46875 8.78125 C 7.3775427 8.7809779 7.277599 8.7899752 7.1875 8.8125 C 6.3875 9.0125 6 10.1875 6 10.1875 C 6 10.1875 6.5222723 10.648644 7.125 10.78125 L 6.625 13.71875 C 6.5684328 14.041991 6.5578741 14.347269 6.5625 14.65625 C 6.2192395 14.283004 5.9400706 13.858551 5.78125 13.34375 L 3.96875 6.59375 C 3.9693224 6.59661 3.9680415 6.569033 4.0625 6.53125 L 8.875 5.28125 z M 9.84375 7 C 9.8695454 6.975069 9.8952065 6.9929511 9.9375 7 L 15 7.90625 L 13.5 16 L 10.5 15.5 L 10.59375 15.6875 C 10.986921 16.867012 11.952315 17.780035 13.125 18 L 12.78125 19.90625 C 12.533116 19.764618 11.620499 19.2571 10.53125 18.21875 C 9.4574275 17.195106 8.5893841 15.931721 8.5625 14.625 C 8.5586594 14.438326 8.5608761 14.250351 8.59375 14.0625 L 9.75 7.21875 C 9.7920249 7.0926753 9.8179546 7.024931 9.84375 7 z M 11.59375 10.46875 C 10.885547 10.507031 10.1875 11.1875 10.1875 11.1875 C 10.1875 11.1875 10.7 12.4 11.5 12.5 C 12.3 12.7 13.1875 11.8125 13.1875 11.8125 C 13.1875 11.8125 12.70625 10.6 11.90625 10.5 C 11.80625 10.475 11.694922 10.463281 11.59375 10.46875 z M 17.6875 11.5625 C 17.788672 11.557031 17.9 11.56875 18 11.59375 C 18.733333 11.685417 19.206134 12.675058 19.28125 12.84375 L 19.28125 12.875 L 19.25 12.9375 C 19.116124 13.051095 18.325457 13.685213 17.59375 13.59375 C 16.79375 13.49375 16.3125 12.3125 16.3125 12.3125 C 16.3125 12.3125 16.979297 11.600781 17.6875 11.5625 z" color="#000" overflow="visible" enable-background="accumulate" font-family="Bitstream Vera Sans"></path>
          </svg>
        </span>
        <span class="group-category-title">Creative Arts</span>
      </a>
    </li>
    <li class="group-category-wrapper">
      <a href="#">
        <span class="group-category-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M 5 2 L 5 4 L 4 4 C 2.895 4 2 4.895 2 6 L 2 17 C 2 18.105 2.895 19 4 19 L 11.34375 19 C 11.12175 18.374 11 17.702 11 17 L 4 17 L 4 8 L 16 8 L 16 11.09375 C 16.326 11.03875 16.659 11 17 11 C 17.341 11 17.674 11.03875 18 11.09375 L 18 6 C 18 4.895 17.105 4 16 4 L 15 4 L 15 2 L 13 2 L 13 4 L 7 4 L 7 2 L 5 2 z M 10 9.25 L 9.15625 11.21875 L 7 11.40625 L 8.625 12.84375 L 8.15625 14.9375 L 10 13.8125 L 11.84375 14.9375 L 11.375 12.84375 L 13 11.40625 L 10.84375 11.21875 L 10 9.25 z M 17 12 C 14.239 12 12 14.239 12 17 C 12 19.761 14.239 22 17 22 C 19.761 22 22 19.761 22 17 C 22 14.239 19.761 12 17 12 z M 19.125 14.0625 L 20.53125 15.46875 L 16 20 L 13 17 L 14.40625 15.59375 L 16 17.1875 L 19.125 14.0625 z"></path>
          </svg>
        </span>
        <span class="group-category-title">Events</span>
      </a>
    </li>
    <li class="group-category-wrapper">
      <a href="#">
        <span class="group-category-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <path d="M 37.96875 2.28125 C 37.438818 2.3759277 37.08125 2.7875 36.90625 3.125 L 29.90625 17 C 29.008599 15.795077 27.615969 15 26 15 C 23.97278 15 22.280157 16.255357 21.5 18 C 20.891617 18 20.336589 18.155584 19.78125 18.3125 C 19.054502 17.560448 18.124168 17 17 17 C 16.494388 17 16.056297 17.176384 15.625 17.34375 C 15.111822 17.162274 14.581565 17 14 17 C 11.539961 17 9.5941138 18.838847 9.1875 21.1875 C 6.8388467 21.594114 5 23.539961 5 26 L 3 26 C 2.448 26 2 26.447 2 27 L 2 30.625 C 2 40.533 12.64125 48 19.53125 48 L 30.46875 48 C 37.35875 48 48 40.533 48 30.625 L 48 27 C 48 26.447 47.553 26 47 26 L 45.84375 26 C 45.544299 25.012687 44.827342 24.213844 43.9375 23.6875 C 43.784546 21.823161 42.366266 20.349026 40.53125 20.09375 C 40.246079 19.422948 39.833326 18.835167 39.3125 18.34375 L 46.1875 8.65625 C 46.5355 8.15625 46.745 7.26075 45.625 6.46875 C 44.506 5.67575 43.73525 6.33175 43.40625 6.84375 L 36.9375 17.09375 C 36.633186 17.032395 36.323874 17 36 17 C 34.676285 17 33.544763 17.598925 32.65625 18.4375 C 32.45265 18.360566 32.23723 18.291191 32.03125 18.21875 L 39.84375 4.65625 C 40.14375 4.12625 40.28175 3.21625 39.09375 2.53125 C 38.647875 2.274375 38.286709 2.2244434 37.96875 2.28125 z M 26 17 C 27.453106 17 28.650576 18.01904 28.9375 19.375 L 29.15625 20.4375 L 30.1875 20.125 C 30.479761 20.041857 30.742807 20 31 20 C 31.507029 20 31.995111 20.13469 32.4375 20.375 L 33.15625 20.78125 L 33.6875 20.125 C 34.244498 19.435782 35.056255 19 36 19 C 37.40851 19 38.574982 19.950466 38.90625 21.25 L 39.09375 22.0625 L 39.90625 22 C 40.098024 21.9917 40.123213 22 40 22 C 41.116666 22 42 22.883334 42 24 C 42 23.90799 41.98025 23.95242 41.96875 24.125 L 41.9375 24.875 L 42.65625 25.125 C 43.107937 25.282242 43.480171 25.600856 43.71875 26 L 27 26 C 27 25.447715 26.552285 25 26 25 C 25.447715 25 25 25.447715 25 26 L 7 26 C 7 24.331516 8.3315161 23 10 23 L 11 23 L 11 22 C 11 20.331516 12.331516 19 14 19 C 14.430468 19 14.840269 19.08136 15.21875 19.25 L 15.65625 19.46875 L 16.09375 19.25 C 16.388798 19.096433 16.678667 19 17 19 C 17.710737 19 18.329671 19.352753 18.6875 19.90625 L 19.125 20.59375 L 19.875 20.3125 C 20.383321 20.115278 20.928339 20 21.5 20 C 21.666052 20 21.824021 20.01075 22 20.03125 L 22.875 20.125 L 23.09375 19.28125 C 23.419047 17.971798 24.584554 17 26 17 z M 15 21 C 14.447715 21 14 21.447715 14 22 C 14 22.552285 14.447715 23 15 23 C 15.552285 23 16 22.552285 16 22 C 16 21.447715 15.552285 21 15 21 z M 18 23 C 17.447715 23 17 23.447715 17 24 C 17 24.552285 17.447715 25 18 25 C 18.552285 25 19 24.552285 19 24 C 19 23.447715 18.552285 23 18 23 z M 33 23 C 32.447715 23 32 23.447715 32 24 C 32 24.552285 32.447715 25 33 25 C 33.552285 25 34 24.552285 34 24 C 34 23.447715 33.552285 23 33 23 z"></path>
          </svg>
        </span>
        <span class="group-category-title">Lifestyle</span>
      </a>
    </li>
    <li class="group-category-wrapper">
      <a href="#">
        <span class="group-category-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" d="M 23.90625 -0.03125 A 1.0001 1.0001 0 0 0 23.78125 0 A 1.0001 1.0001 0 0 0 23 1 C 23 1 22.9974 1.7228319 22.53125 2.46875 C 22.065051 3.2146681 21.233333 4 19 4 C 15.777778 4 13.903637 5.1475671 12.96875 6.40625 C 12.033863 7.6649329 12.03125 9 12.03125 9 A 1.0001 1.0001 0 1 0 14.03125 9 C 14.03125 9 14.01189 8.3350671 14.5625 7.59375 C 15.113113 6.8524329 16.222222 6 19 6 C 21.766667 6 23.434949 4.7853319 24.21875 3.53125 C 25.002551 2.2771681 25 1 25 1 A 1.0001 1.0001 0 0 0 23.90625 -0.03125 z M 6.96875 9.09375 C 4.22075 9.09375 0.21875 14.04625 0.21875 20.28125 C 0.21875 22.23625 1.70575 24.9375 3.34375 24.9375 C 6.61975 24.9375 7.24 19.90625 13 19.90625 C 18.76 19.90625 19.38025 24.9375 22.65625 24.9375 C 24.29425 24.9375 25.78125 22.23625 25.78125 20.28125 C 25.78125 14.04625 21.77925 9.09375 19.03125 9.09375 C 16.28325 9.09375 15.748 12.0625 13 12.0625 C 10.252 12.0625 9.71675 9.09375 6.96875 9.09375 z M 18.75 12.75 C 18.832209 12.73316 18.912875 12.75 19 12.75 C 19.697 12.75 20.25 13.301 20.25 14 C 20.25 14.699 19.697 15.25 19 15.25 C 18.303 15.25 17.75 14.698 17.75 14 C 17.75 13.38925 18.174537 12.867879 18.75 12.75 z M 6 13 L 8 13 L 8 15 L 10 15 L 10 17 L 8 17 L 8 19 L 6 19 L 6 17 L 4 17 L 4 15 L 6 15 L 6 13 z M 16.75 14.75 C 16.832346 14.733135 16.912625 14.75 17 14.75 C 17.699 14.75 18.25 15.302 18.25 16 C 18.25 16.698 17.698 17.25 17 17.25 C 16.302 17.25 15.75 16.697 15.75 16 C 15.75 15.390125 16.17358 14.868057 16.75 14.75 z M 20.75 14.75 C 20.832346 14.73316 20.912625 14.75 21 14.75 C 21.699 14.75 22.25 15.302 22.25 16 C 22.25 16.698 21.698 17.25 21 17.25 C 20.302 17.25 19.75 16.698 19.75 16 C 19.75 15.38925 20.17358 14.867879 20.75 14.75 z M 18.75 16.75 C 18.832277 16.733186 18.91275 16.75 19 16.75 C 19.698 16.75 20.25 17.301 20.25 18 C 20.25 18.699 19.697 19.25 19 19.25 C 18.303 19.25 17.75 18.699 17.75 18 C 17.75 17.388375 18.174059 16.867701 18.75 16.75 z" color="#000" overflow="visible" enable-background="accumulate" font-family="Bitstream Vera Sans"></path>
          </svg>
        </span>
        <span class="group-category-title">Gaming</span>
      </a>
    </li>
    <li class="group-category-wrapper">
      <a href="#">
        <span class="group-category-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <path d="M152.7 48.5c-6.8-2.5-14.1-4.1-21.8-4.4-12.7-.6-24.8 2.2-35.4 7.6-.6.3-1.3.6-2 1v36.4c0 .5 0 2.4-.3 4-.7 3.7-2.9 7-6 9.1-2.6 1.8-5.6 2.6-8.8 2.5-.6 0-1.3-.1-1.9-.2-1.6-.3-3.3-.9-3.8-1.1-1.4-.5-21.8-8.4-31.6-12.2-1.2-.5-2.2-.9-3-1.2-11.7 9.9-24 21.7-35.5 35.6-.1.1-.6.7-.7.8-1.5 2.1-1.6 5.1 0 7.4 1.2 1.7 3.1 2.7 5 2.8 1.3.1 2.7-.3 3.9-1.1.1-.1.2-.2.4-.3 12.2-8.8 25.6-15.9 39.8-21.6 1-.5 2.2-.8 3.3-.7 1.6.1 3.1.7 4.3 1.9 2.3 2.3 2.4 6 .5 8.5-.8 1.2-1.5 2.4-2.2 3.6-7.6 12.4-13.7 25.9-18.3 40-.1.4-.2.7-.3 1.1v.1c-.4 1.7-.1 3.5 1 5 1.2 1.7 3.1 2.7 5.1 2.8 1.4.1 2.7-.3 3.9-1.1.5-.4 1-.8 1.4-1.3.1-.2.3-.4.4-.6 5-7.1 10.5-13.8 16.4-20 26.3-28.2 61.2-48.1 100.3-55.9.3-.1.6-.1.9-.1 2.2.1 3.9 2 3.8 4.2-.1 1.9-1.4 3.3-3.2 3.7-36.3 7.7-101.7 50.8-78.8 113.4.4 1 .7 1.6 1.2 2.5 1.2 1.7 3.1 2.7 5 2.8 1.1 0 4.2-.3 6.1-3.7 3.7-7 10.7-14.8 30.9-23.2 56.3-23.3 65.6-56.6 66.6-77.7v-1.2c.9-31.4-18.6-58.8-46.6-69.2zm-56.5 165C91 198 91.5 183 97.6 168.7c11.7 18.9 32.1 20.5 32.1 20.5-20.9 8.7-29.1 17.3-33.5 24.3z"></path><path d="M1.1 50.6c.1.2.3.4.4.5 5.3 7.2 11.3 13.5 17.8 19.1.1.1.2.1.2.2 4.2 3.6 12.2 8.8 18 10.9 0 0 36.1 13.9 38 14.7.7.3 1.7.6 2.2.7 1.6.3 3.3 0 4.8-1s2.4-2.5 2.7-4.1c.1-.6.2-1.6.2-2.3V48.5c.1-6.2-1.9-15.6-3.7-20.8 0-.1-.1-.2-.1-.3-2.8-8.1-6.6-16-11.4-23.5l-.3-.6-.1-.1c-2-2.8-6-3.5-8.9-1.5-.5.3-.8.7-1.2 1.1-.3.4-.5.7-.8 1.1-6.4 9.3-9 20.6-7.3 31.7-3.3 1.7-6.8 4-7.2 4.3-.4.3-3.9 2.7-6.6 5.2-9.7-5.5-21.3-7.2-32.2-4.6-.4.1-.9.2-1.3.3-.5.2-1 .4-1.4.7-2.9 2-3.7 5.9-1.8 8.9v.2zm63.5-40.1c3.4 5.7 6.3 11.6 8.6 17.8-4.6.8-9.1 2-13.5 3.6-.6-7.5 1.1-14.9 4.9-21.4zM31.5 51.3c-3.2 3.5-5.9 7.3-8.3 11.3-4.9-4.3-9.4-9.2-13.5-14.4 7.5-1.3 15-.2 21.8 3.1z"></path>
          </svg>
        </span>
        <span class="group-category-title">Kitsu</span>
      </a>
    </li>
    <li class="group-category-wrapper">
      <a href="#">
        <span class="group-category-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <path d="M46,25c0-3.054-1.736-5.72-4.269-7.067c0.692-2.637,0.017-5.568-2.04-7.625c-1.537-1.537-3.561-2.302-5.587-2.302	c-0.685,0-1.371,0.088-2.038,0.263C30.72,5.736,28.054,4,25,4s-5.72,1.736-7.067,4.269c-0.667-0.175-1.352-0.263-2.038-0.263	c-2.026,0-4.05,0.765-5.587,2.302c-2.057,2.057-2.732,4.987-2.04,7.625C5.736,19.28,4,21.946,4,25s1.736,5.72,4.269,7.067	c-0.692,2.637-0.017,5.568,2.04,7.625c1.537,1.537,3.561,2.302,5.587,2.302c0.686,0,1.371-0.088,2.038-0.263	C19.28,44.264,21.946,46,25,46s5.72-1.736,7.067-4.269c0.667,0.175,1.352,0.263,2.038,0.263c2.026,0,4.05-0.765,5.587-2.302	c2.057-2.057,2.732-4.987,2.04-7.625C44.264,30.72,46,28.054,46,25z M22,32.414l-6.707-6.707l1.414-1.414L22,29.586l11.293-11.293	l1.414,1.414L22,32.414z"></path>
          </svg>
        </span>
        <span class="group-category-title">Partners</span>
      </a>
    </li>
    <li class="group-category-wrapper">
      <a href="#">
        <span class="group-category-icon">
          <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
            <path d="M 17.4375 2.15625 L 11.09375 6.4375 L 7.6875 3.28125 L 6.3125 4.71875 L 8.78125 7 L 4 7 C 2.9 7 2 7.9 2 9 L 2 20 C 2 21.1 2.9 22 4 22 L 20 22 C 21.1 22 22 21.1 22 20 L 22 9 C 22 7.9 21.1 7 20 7 L 13.84375 7 L 18.5625 3.84375 L 17.4375 2.15625 z M 8.25 9 C 8.7695312 8.9867187 9.35 9 10 9 C 15.3 9 16 9 16 14.5 C 16 20 15.2 20 10 20 C 4.8 20 4 19.9 4 14.5 C 4 9.775 4.6132812 9.0929688 8.25 9 z M 19 13 C 19.6 13 20 13.4 20 14 C 20 14.6 19.6 15 19 15 C 18.4 15 18 14.6 18 14 C 18 13.4 18.4 13 19 13 z M 19 17 C 19.6 17 20 17.4 20 18 C 20 18.6 19.6 19 19 19 C 18.4 19 18 18.6 18 18 C 18 17.4 18.4 17 19 17 z"></path>
          </svg>
        </span>
        <span class="group-category-title">Music, Movies & TV</span>
      </a>
    </li>
    <li class="group-category-wrapper">
      <a href="#">
        <span class="group-category-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M20,6l-9,0L9,4H4C2.9,4,2,4.9,2,6v12c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V8C22,6.9,21,6,20,6z M15,16h-1.5l-1-1.7l-1,1.7H10 l1.8-3L10,10h1.5l1,1.7l1-1.7H15l-1.8,3L15,16z M9,16H7.5l-1-1.7l-1,1.7H4l1.8-3L4,10h1.5l1,1.7l1-1.7H9l-1.8,3L9,16z M21,16h-1.5 l-1-1.7l-1,1.7H16l1.8-3L16,10h1.5l1,1.7l1-1.7H21l-1.8,3L21,16z"></path>
          </svg>
        </span>
        <span class="group-category-title">NSFW</span>
      </a>
    </li>
    <li class="group-category-wrapper">
      <a href="#">
        <span class="group-category-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
            <path d="M 5 3 C 3.841 3 3 3.841 3 5 L 3 21 C 3 22.159 3.841 23 5 23 L 21 23 C 22.159 23 23 22.159 23 21 L 23 5 C 23 3.841 22.159 3 21 3 L 5 3 z M 29 3 C 28.477778 3 27.939531 3.1854695 27.5625 3.5625 C 27.185469 3.9395305 27 4.4777778 27 5 L 27 21 C 27 21.522222 27.185469 22.060469 27.5625 22.4375 C 27.939531 22.814531 28.477778 23 29 23 L 45 23 C 45.522222 23 46.060469 22.814531 46.4375 22.4375 C 46.814531 22.060469 47 21.522222 47 21 L 47 5 C 47 4.4777778 46.814531 3.9395305 46.4375 3.5625 C 46.060469 3.1854695 45.522222 3 45 3 L 29 3 z M 29 5 L 45 5 L 45 21 L 29 21 L 29 5 z M 5 27 C 3.841 27 3 27.841 3 29 L 3 45 C 3 46.159 3.841 47 5 47 L 21 47 C 22.159 47 23 46.159 23 45 L 23 29 C 23 27.841 22.159 27 21 27 L 5 27 z M 29 27 C 28.855125 27 28.727666 27.00599 28.59375 27.03125 C 28.449907 27.057049 28.32323 27.101611 28.1875 27.15625 C 28.135236 27.177289 28.081537 27.193408 28.03125 27.21875 C 27.738807 27.367326 27.490442 27.573276 27.3125 27.84375 C 27.308119 27.850502 27.316793 27.868193 27.3125 27.875 C 27.279837 27.926337 27.246633 27.976368 27.21875 28.03125 C 27.193408 28.081537 27.177289 28.135236 27.15625 28.1875 C 27.101611 28.32323 27.057049 28.449907 27.03125 28.59375 C 27.007971 28.723539 27 28.869445 27 29 L 27 34 L 27 40 L 27 45 C 27 45.130555 27.007971 45.276461 27.03125 45.40625 C 27.057049 45.550093 27.101611 45.67677 27.15625 45.8125 C 27.200212 45.921708 27.249716 46.025448 27.3125 46.125 C 27.453885 46.347215 27.624035 46.542952 27.84375 46.6875 C 27.850502 46.691881 27.868193 46.683207 27.875 46.6875 C 27.926337 46.720163 27.976368 46.753367 28.03125 46.78125 C 28.081537 46.806592 28.135236 46.822711 28.1875 46.84375 C 28.32323 46.898389 28.449907 46.942951 28.59375 46.96875 C 28.723539 46.992029 28.869445 47 29 47 L 34 47 L 40 47 L 45 47 C 45.144875 47 45.272334 46.99401 45.40625 46.96875 C 45.550093 46.942951 45.67677 46.898389 45.8125 46.84375 C 45.866332 46.822168 45.917788 46.807141 45.96875 46.78125 C 46.141376 46.694256 46.299415 46.575585 46.4375 46.4375 C 46.53297 46.34203 46.614241 46.240141 46.6875 46.125 C 46.720237 46.073091 46.753639 46.02354 46.78125 45.96875 C 46.807141 45.917788 46.822168 45.866332 46.84375 45.8125 C 46.898389 45.67677 46.942951 45.550093 46.96875 45.40625 C 46.99401 45.272334 47 45.144875 47 45 L 47 40 L 47 34 L 47 29 C 47 28.855125 46.99401 28.727666 46.96875 28.59375 C 46.942951 28.449907 46.898389 28.32323 46.84375 28.1875 C 46.822168 28.133668 46.807141 28.082212 46.78125 28.03125 C 46.750018 27.969275 46.725292 27.901992 46.6875 27.84375 C 46.542952 27.624035 46.347215 27.453885 46.125 27.3125 C 46.073091 27.279763 46.02354 27.246361 45.96875 27.21875 C 45.917788 27.192859 45.866332 27.177832 45.8125 27.15625 C 45.67677 27.101611 45.550093 27.057049 45.40625 27.03125 C 45.272334 27.00599 45.144875 27 45 27 L 40 27 L 34 27 L 29 27 z M 31.5625 29 L 34.4375 29 L 29 34.4375 L 29 31.5625 L 31.5625 29 z M 37.5625 29 L 40.4375 29 L 29 40.4375 L 29 37.5625 L 37.5625 29 z M 43.5625 29 L 45 29 L 45 30.4375 L 30.4375 45 L 29 45 L 29 43.5625 L 43.5625 29 z M 9 31 C 10.104 31 11 31.896 11 33 C 11 34.104 10.104 35 9 35 C 7.896 35 7 34.104 7 33 C 7 31.896 7.896 31 9 31 z M 17 31 C 18.104 31 19 31.896 19 33 C 19 34.104 18.104 35 17 35 C 15.896 35 15 34.104 15 33 C 15 31.896 15.896 31 17 31 z M 45 33.5625 L 45 36.4375 L 36.4375 45 L 33.5625 45 L 45 33.5625 z M 9 39 C 10.104 39 11 39.896 11 41 C 11 42.104 10.104 43 9 43 C 7.896 43 7 42.104 7 41 C 7 39.896 7.896 39 9 39 z M 17 39 C 18.104 39 19 39.896 19 41 C 19 42.104 18.104 43 17 43 C 15.896 43 15 42.104 15 41 C 15 39.896 15.896 39 17 39 z M 45 39.5625 L 45 42.4375 L 42.4375 45 L 39.5625 45 L 45 39.5625 z"></path>
          </svg>
        </span>
        <span class="group-category-title">Misc.</span>
      </a>
    </li>
  </ul>
</div>


<div class="group-result-list">
  <div class="card">
    <div class="group-result-header">
      <span class="result-filter-wrapper">
        <label class="filter-icon">
          <span>
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><title>Oval 95</title><path d="M9.383 10.347c-.987.78-2.233 1.244-3.588 1.244C2.595 11.59 0 8.997 0 5.796 0 2.595 2.595 0 5.795 0c3.2 0 5.796 2.595 5.796 5.795 0 1.355-.464 2.6-1.243 3.588L15 14.036l-.964.964-4.653-4.653zm-3.588-.12c2.448 0 4.432-1.984 4.432-4.432 0-2.447-1.984-4.43-4.432-4.43-2.447 0-4.43 1.983-4.43 4.43 0 2.448 1.983 4.432 4.43 4.432z" fill="#BBB" fill-rule="evenodd"></path>
            </svg>
          </span>
        </label>
        <input type="text" placeholder="Filter Groups">
      </span>

      <span class="result-sort-wrapper">
        <select class="form-control" id="exampleSelect1">
          <option>Recent Activity</option>
          <option>Newest Groups</option>
          <option>Oldest Groups</option>
        </select>
      </span>
    </div>

    <ul class="group-results">
      <li>
        <a class="group-link-wrapper" href="#">
          <div class="group-result-thumb">
            <img src="http://s.hswstatic.com/gif/easy_personal_pizza-100x100.jpg"  height="80" width="80">
          </div>
          <div class="group-result-content">
            <h2 class="group-result-title">
              Pizza Appreciation
            </h2>
            <div class="group-result-description">
              A group for all those who love, respect and partake in the fine art of Pizza.
            </div>
            <div class="group-result-meta">
              <div class="group-result-category">
                <a class="join-button" title="lifestyle" href="#">
                  <div class="button-wrapper">Join Group</div>
                  <!-- @vevix This may say 'Join Group', 'Request Access' or 'Leave Group' depending on Group type and status -->
                </a>
                <a class="category-button" title="lifestyle" href="#">
                  <div class="button-wrapper">Lifestyle</div>
                </a>
              </div>

              <div class="group-result-stats">
                <!-- Group member count -->
                <a class="member-button" title="lifestyle" href="#">
                  <div class="button-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24" enable-background="new 0 0 24 24">
                      <path d="M 12 4 C 9.790861 4 8 5.790861 8 8 C 8 10.209139 9.790861 12 12 12 C 14.209139 12 16 10.209139 16 8 C 16 5.790861 14.209139 4 12 4 z M 12 14 C 5.9 14 4 18 4 18 L 4 20 L 20 20 L 20 18 C 20 18 18.1 14 12 14 z"></path>
                    </svg>
                    567
                  </div>
                </a>
              </div>
            </div>

          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="group-result-secondary">
  <div class="card">
    Anyone can create and discover groups. Each group centers around a topic or activity.
    {{#if session.hasUser}}
      {{#link-to "groups.new" tagName="button" class="button button--primary"}}
        Create your Group
      {{/link-to}}
    {{/if}}
  </div>
</div>

<!-- <div class="card">
  <div class="card-block">
    <p class="card-text">
      (Example)
      Anyone can create and discover groups. Each group centers around a topic or activity.
      Find new groups that you’re interested in below. For more information, read our announcement.
    </p>
  </div>
</div>

{{#if session.hasUser}}
  {{#link-to "groups.new" tagName="button" class="button button-primary"}}
    Create your Group
  {{/link-to}}
{{/if}} -->
