<a href={{href-to (concat media.modelType ".show") media.slug}}>
  {{lazy-image src=(image media.posterImage "small")}}
</a>
{{#if showTooltip}}
  <div>
  {{media-popover
    class="is-top"
    target=(concat "#" elementId)
    attachment="bottom middle"
    targetAttachment="top middle"
    media=media
    onHover=(action (mut isTooltipHovered) true)
    onLeave=(action (mut isTooltipHovered) false)}}
  </div>
{{/if}}