<div class="modal-wrapper">
  <div class="auth-section active">
    <h6 class="auth-section-title">Hang tight! We're importing your data!</h6>
    <p class="auth-section-helper">
      Your {{siteName}} import will continue in the background.
      {{#unless componentData.justImport}}
        You can safely continue setting up your account in the mean time.
      {{/unless}}
      We'll send you a notification when your import has completed!
    </p>
  </div>
  <div class="form-cta">
    {{#if componentData.justImport}}
      <button type="button" class="button button--primary" {{action close}}>
        Finish
      </button>
    {{else}}
      <button type="button" class="button button--primary" {{action "changeComponent" "find-friends"}}>
        Continue
      </button>
    {{/if}}
  </div>
</div>
