<h2>Naruto Characters</h2>
<p>The following is a full list of characters and their english voice actors from the anime Naruto</p>

<section class="character-grid">
  <article class="media-character">
    <div class="character-wrapper">
      <div class="character-image">
        <a href="#">
          <img src="https://cdn.anilist.co/img/dir/character/reg/17.jpg">
        </a>
      </div>
      <div class="character-name">
        <a href="#">Naruto Uzumaki</a>
      </div>
      <div class="character-voice-actors">
        <a href="#" class="va">
          <img src="https://myanimelist.cdn-dena.com/images/voiceactors/3/43050.jpg">
          Takahashi, Hidenori
        </a>
        <a href="#" class="va">
          <img src="https://myanimelist.cdn-dena.com/images/voiceactors/3/43050.jpg">
          Takahashi, Hidenori
        </a>
      </div>
    </div>
  </article>
  <article class="media-character">
    <div class="character-wrapper">
      <div class="character-image">
        <a href="#">
          <img src="https://cdn.anilist.co/img/dir/character/reg/13.jpg">
        </a>
      </div>
      <div class="character-name">
        <a href="#">Sasuke Uchiha</a>
      </div>
      <div class="character-voice-actors">
        <a href="#" class="va">
          <img src="https://myanimelist.cdn-dena.com/images/voiceactors/3/43050.jpg">
          Takahashi, Hidenori
        </a>
      </div>
    </div>
  </article>
  <article class="media-character">
    <div class="character-wrapper">
      <div class="character-image">
        <a href="#">
          <img src="https://cdn.anilist.co/img/dir/character/reg/85.jpg">
        </a>
      </div>
      <div class="character-name">
        <a href="#">Kakashi Hatake</a>
      </div>
      <div class="character-voice-actors">
        <a href="#" class="va">
          <img src="https://myanimelist.cdn-dena.com/images/voiceactors/3/43050.jpg">
          Takahashi, Hidenori
        </a>
      </div>
    </div>
  </article>
  <article class="media-character">
    <div class="character-wrapper">
      <div class="character-image">
        <a href="#">
          <img src="https://cdn.anilist.co/img/dir/character/reg/145.jpg">
        </a>
      </div>
      <div class="character-name">
        <a href="#">Sakura Haruno</a>
      </div>
      <div class="character-voice-actors">
        <a href="#" class="va">
          <a href="#">
            <img src="https://myanimelist.cdn-dena.com/images/voiceactors/3/43050.jpg">
          </a>
          Takahashi, Hidenori
        </a>
      </div>
    </div>
  </article>
  <article class="media-character">
    <div class="character-wrapper">
      <div class="character-image">
        <a href="#">
          <img src="https://myanimelist.cdn-dena.com/images/characters/2/292433.webp">
        </a>
      </div>
      <div class="character-name">
        <a href="#"  href="#">Torune Aburame</a>
      </div>
      <div class="character-voice-actors">
        <a href="#"  class="va">
          <img src="https://myanimelist.cdn-dena.com/images/voiceactors/3/43050.jpg">
          Takahashi, Hidenori
        </a>
      </div>
    </div>
  </article>
</section>
