{{! Ratings }}
<section>
  {{media/media-rating
    entry=entry
    media=media
    update=(route-action "updateEntry" entry "rating")
  }}
</section>

{{! Synopsis }}
<section class="media-synopsis m-b-1">
  <h5>Synopsis</h5>
  <p>{{media.synopsis}}</p>
</section>

{{! Reviews }}
{{#if reviews}}
  <section class="m-b-1">
    <h5>Popular Reviews</h5>
    <ul class="media-list w-100">
      {{#each reviews as |review|}}
        {{stream-feed/items/review review=review media=media hideImage=true}}
      {{/each}}
    </ul>
  </section>
{{/if}}

{{! Feed }}
<section>
  <h5>Community Feed</h5>
  {{stream-feed/list
    streamType="media_aggr"
    streamId=(concat (capitalize (model-type media)) "-" media.id)
    readOnly=(not session.hasUser)
    media=media
  }}
</section>
