{{#if model}}
  <ul class="media-list w-100">
    {{! TODO @Josh - Reviews on the media page `/anime/sword-art-online/reviews` }}
    {{#each model as |review|}}
      <div class="col-xs-12">
        {{stream-feed/items/review review=review}}
      </div>
    {{/each}}
  </ul>

  <div class="text-xs-center w-100">
    {{paginated-resource/infinite
      model=model
      update=(route-action "updateNextPage")
      loadingSize="large"
    }}
  </div>
{{else}}
  <div class="stream-error-wrapper col-sm-12">
    {{t "errors.contentEmpty"}}
  </div>
{{/if}}