{{#if model}}
  <ul class="media-list">
    {{! TODO @Josh - Reviews on the media page `/anime/sword-art-online/reviews` }}
    {{#each model as |review|}}
      <p>TODO - Placeholder</p>
    {{/each}}
  </ul>

  <div class="text-xs-center w-100">
    {{paginated-resource/infinite
      model=model
      update=(route-action "updateNextPage")
      loadingSize="large"
    }}
  </div>
{{else}}
  {{! TODO @Josh -- No reviews for this media }}
  <p>No reviews. [Placeholder]</p>
{{/if}}