@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin word-break() {
  word-wrap: break-word; // Non-standard name for overflow-wrap (Edge)
  overflow-wrap: break-word;
  overflow-y: hidden; // Prevent Zalgo spam
}
