@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin word-break($break: '') {
  @if $break == 'break' {
    word-break: break-all;
  }
  word-wrap: break-word;
  word-break: break-word;
}