.avatar {
  grid-area: avatar;

  & > img {
    display: block;
    border-radius: 100px;
    height: 25px;
    width: 25px;
  }
}

.menu {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100px;
}

.arrow {
  height: 10px;
  width: 10px;
}
.arrow::before {
  content: ' ';
  transform-origin: center center;
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
  position: absolute;
  top: -4px;
  left: 0;
  background-color: #fff;
}
