{{groups/dashboard/overview-stats group=group class="stats-container card-columns"}}

<div class="latest-cards card-columns">
  {{groups/dashboard/latest-tickets group=group}}
  {{groups/dashboard/latest-reports group=group}}
</div>

{{groups/dashboard/audit-log group=group}}