<div class="container">
  <div class="row leader-wrapper">
    {{groups/dashboard/leaders/leader-chat
      group=group
      membership=membership
      class="leader-chat"
    }}

    {{groups/dashboard/leaders/leader-list
      group=group
      class="leader-table-card card"
    }}
  </div>

  <div class="row audit-row">
    {{groups/dashboard/audit-log group=group}}
  </div>
</div>