<div class="container">
  <div class="row leader-wrapper">
    {{! Invites }}
    {{groups/dashboard/members/invite-list group=group class="leader-chat pending-invites"}}

    {{! Bans }}
    {{groups/dashboard/members/ban-list group=group class="leader-table-card card banned-members"}}
  </div>

  <div class="row audit-row member-list">
    <div class="group-audit-log">
      {{groups/dashboard/members/members-list group=group}}
    </div>
  </div>
</div>