<div class="container">
  <div class="row">
    <div class="report-status col-sm-12">
      <select>
        <option>Open reports</option>
        <option>Resolved Reports</option>
        <option>All Reports</option>
      </select>
    </div>

    <div class="report-wrapper col-sm-12 col-md-8">

      <div class="stream-item">
        <div class="stream-item-wrapper col-sm-12">
          <div class="stream-item--title-block">
            <span class="avatar-block">
              <a href="/users/KrimzinZV" class="author-avatar">
                <div id="ember4918" class="lazy-image is-loaded ember-view">
                  <img src="https://media.kitsu.io/users/avatars/59992/medium.gif?1471832369">
                </div>
              </a>
            </span>

            <div class="author-info">
                <a href="/users/KrimzinZV" class="author-name">
                  KrimzinZV
                </a>
                <a href="/posts/8701560">
                  <small class="author-secondary">
                    9 minutes ago
                  </small>
                </a>
              </div>
          </div>

          <div class="stream-content">
            <span class="stream-content-post ">
              <p>Wow, this is some really fucking offensive content.</p>
            </span>
          </div>

          <div class="leader-actions">
            <a href="#" class="report-list-toggle">Show 04 reports</a>
            <ul>
              <li>
                <a href="#" class="action-button">Close Report</a>
              </li>
              <li>
                <a href="#" class="action-button">Remove Content</a>
              </li>
              <li>
                <a href="#" class="action-button">Notify Kitsu</a>
              </li>
              <li>
                <a href="#" class="action-button">View Post</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="stream-item">
        <div class="stream-item-wrapper col-sm-12">
          <div class="stream-item--title-block">
            <span class="avatar-block">
              <a href="/users/KrimzinZV" class="author-avatar">
                <div id="ember4918" class="lazy-image is-loaded ember-view">
                  <img src="https://media.kitsu.io/users/avatars/59992/medium.gif?1471832369">
                </div>
              </a>
            </span>

            <div class="author-info">
                <a href="/users/KrimzinZV" class="author-name">
                  KrimzinZV
                </a>
                <a href="/posts/8701560">
                  <small class="author-secondary">
                    9 minutes ago
                  </small>
                </a>
              </div>
          </div>

          <div class="stream-content">
            <span class="stream-content-post ">
              <p>Wow, this is some really fucking offensive content.</p>
            </span>
          </div>

          <div class="leader-actions">
            <a href="#" class="report-list-toggle ">Hide 04 reports</a>
            <ul class="toggled-reports">
              <li>
                <div class="media">
                  <img src="/images/default_avatar.png">
                  <div class="media-body">
                    <h5 class="mt-0">Teshro</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  </div>
                </div>
              </li>

              <li>
                <div class="media">
                  <img src="/images/default_avatar.png">
                  <div class="media-body">
                    <h5 class="mt-0">Koolturnip</h5>
                    I'm upset by this.
                  </div>
                </div>
              </li>

            </ul>
            <ul>
              <li>
                <a href="#" class="action-button">Close Report</a>
              </li>
              <li>
                <a href="#" class="action-button">Remove Content</a>
              </li>
              <li>
                <a href="#" class="action-button">Notify Kitsu</a>
              </li>
              <li>
                <a href="#" class="action-button">View Post</a>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
