<div class="container">
  <div class="row">
    {{groups/tickets/ticket-list
      group=group
      filter=filter
      query=query
      updateQueryParam=(action "updateQueryParam")
      class="group-create-wrapper ticket-wrapper"}}
  </div>
</div>