{{! header }}
{{application/site-header}}

{{! loading indicator }}
{{! TODO/@Josh -- css/improve :D }}
{{#if routeIsLoading}}
  <div style="position: fixed; top: 0; left: 0; right: 0; height: 2px; z-index: 9001; background: orange;"></div>
{{/if}}

{{! content }}
<div class="container global-container">
  <div class="row global-row">
    {{outlet}}
  </div>
</div>

{{from-elsewhere name="modal"}}