{{! header }}
{{application/site-header}}

{{! loading indicator }}
{{! TODO/@Josh -- css/improve :D }}
{{#if routeIsLoading}}
  <div class="loading-bar"></div>
{{/if}}

{{! content }}
<div class="container global-container">
  <div class="row global-row">
    {{outlet}}
  </div>
</div>

{{from-elsewhere name="modal"}}
{{ember-notify messageStyle="bootstrap" closeAfter=3000}}
