{{! header }}
{{application/site-header}}

{{! loading indicator }}
{{#if routeIsLoading}}
  <div class="loading-bar"></div>
{{/if}}

{{! content }}
<div class="container global-container">
  <div class="row global-row">
    {{outlet}}
  </div>
</div>

{{from-elsewhere name="modal"}}
{{ember-notify messageStyle="bootstrap" closeAfter=3000}}

{{! miniprof -- admin }}
{{#if (has-role "admin")}}
  <script async type="text/javascript" id="mini-profiler" src="/mini-profiler-resources/includes.js?v=12b4b45a3c42e6e15503d7a03810ff33" data-version="12b4b45a3c42e6e15503d7a03810ff33" data-path="/mini-profiler-resources/" data-current-id="redo66j4g1077kto8uh3" data-ids="redo66j4g1077kto8uh3" data-position="left" data-trivial="false" data-children="false" data-max-traces="10" data-controls="false" data-authorized="true" data-toggle-shortcut="Alt+P" data-start-hidden="false" data-collapse-results="true"></script>
{{/if}}