<div class="character-banner"></div>

<div class="character-sidebar">
  <div class="character-portrait">
    <img src="https://myanimelist.cdn-dena.com/images/characters/2/284121.jpg">
  </div>
  <div class="character-facts">
    <h5>Personal Info</h5>
    <ul class="fact-list">
      <li>
        <strong>Official Name:</strong>
        Naruto Uzumaki
      </li>
      <li>
        <strong>Gender:</strong>
        Male
      </li>
      <li>
        <strong>Date of Birth:</strong>
        10.10.????
      </li>
      <li>
        <strong>Age:</strong>
        16
      </li>

      <!-- Tags start -->
      <li>
        <strong>Abilities:</strong>
        <a href="#">Ninjutsu</a>
      </li>
      <li>
        <strong>Acessories:</strong>
        <a href="#">Belt Bag</a>
      </li>
      <li>
        <strong>Age Range:</strong>
        <a href="#">Adolescent</a>
      </li>
      <li>
        <strong>Clothing:</strong>
        <a href="#">Tracksuit</a>
      </li>
      <li>
        <strong>Entity:</strong>
        <a href="#">Human</a>
      </li>
      <li>
        <strong>Fashion Accessories:</strong>
        <a href="#">Headband</a>
      </li>
      <li>
        <strong>Looks:</strong>
        <a href="#">blue eyes</a>
        <a href="#">weird eyes</a>
        <a href="#">blonde hair</a>
        <a href="#">short hair</a>
        <a href="#">scars</a>
        <a href="#">tattoo</a>
      </li>
      <li>
        <strong>Personality:</strong>
        <a href="#">altruistic</a>
        <a href="#">clumsy</a>
        <a href="#">energetic</a>
        <a href="#">impulsive</a>
        <a href="#">insecure</a>
        <a href="#">inspirational</a>
      </li>



    </ul>
  </div>
</div>


<div class="character-name col-sm">
  <h1>Naruto Uzumaki</h1>
  <div class="character-bio">
    <h5>Biography</h5>
    <p>Born in Konohagakure, a ninja village hidden in the leaves, Naruto Uzumaki was destined for greatness. When born, a powerful nine-tailed demon fox attacked his village. With a wave of its tail, the demon fox could raise tsunamis and shatter mountains. In a valiant attempt to save the village from destruction, the Fourth Hokage and leader of the Hidden Leaf Village sealed the demon fox within Naruto's newborn body. This was his final act, for the battle with the fox cost him his life.</p>
  </div>


  <div class="roles-table">
    <h5>Animeography</h5>
    <table class="credits" border="0" cellspacing="0" cellpadding="0" data-role="tooltip">
      <tbody>
        <tr>
          <td>
            <table class="credit_group">

              <tbody>
                <tr>
                  <td class="year">2017</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/4/83369.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Boruto: Naruto Next Generations</a>
                    as
                    <span class="position">Supporting</span>
                    Character
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="credit_group">

              <tbody>
                <tr>
                  <td class="year">2016</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/6/77678.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Boruto: Naruto the Movie - Naruto ga Hokage ni Natta Hi</a>
                    as
                    <span class="position">Main</span>
                    Character
                  </td>
                </tr>

              </tbody>
            </table>
            <table class="credit_group">

              <tbody>
                <tr>
                  <td class="year">2015</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/4/78280.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Boruto: Naruto the Movie</a>
                    as
                    <span class="position">Main</span>
                    Character
                  </td>
                </tr>

              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="roles-table">
    <h5>Mangaography</h5>
    <table class="credits" border="0" cellspacing="0" cellpadding="0" data-role="tooltip">
      <tbody>
        <tr>
          <td>
            <table class="credit_group">

              <tbody>
                <tr>
                  <td class="year">2017</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/4/83369.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Boruto: Naruto Next Generations</a>
                    as
                    <span class="position">Supporting</span>
                    Character
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="credit_group">

              <tbody>
                <tr>
                  <td class="year">2016</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/6/77678.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Boruto: Naruto the Movie - Naruto ga Hokage ni Natta Hi</a>
                    as
                    <span class="position">Main</span>
                    Character
                  </td>
                </tr>

              </tbody>
            </table>
            <table class="credit_group">

              <tbody>
                <tr>
                  <td class="year">2015</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/4/78280.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Boruto: Naruto the Movie</a>
                    as
                    <span class="position">Main</span>
                    Character
                  </td>
                </tr>

              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
