<div class="container">
  <div class="row">
    {{#link-to "feedback.bugs"}}
      {{t "feedback.bugs"}}
    {{/link-to}}

    {{#link-to "feedback.feature-requests"}}
      {{t "feedback.features"}}
    {{/link-to}}

    {{outlet}}
  </div>
</div>