<div class="col-md-10 col-xs-12 centered">
  <!-- {{stream-feed/items/media-reaction reaction=model}} -->
  <div class="row">
    <div class="col-xs-12 col-md">
      <div class="reaction-thumb card">
        <div class="upvotes">
          <a href="#" class="reaction-votes " data-ember-action="" data-ember-action-1835="1835">
            {{svg-jar "upvote"}}
            1
          </a>
        </div>
        <div class="reaction-content">
          <div class="reaction-media-info">
            <a href="#" class="reaction-media-title">Death Note</a>
            <span class="reaction-media-subtype">TV</span> ·
            <span class="reaction-media-year">2006</span>
          </div>
          <p class="reaction-copy">One of the shows that brought me into anime. Entertaining thriller with one of the best battle of the minds of anime.</p>
        </div>
        <div class="poster-image" style="background-image: url('https://media.kitsu.io/anime/poster_images/1376/large.jpg?1457383324')"></div>
        <div class="overlay"></div>
      </div>

      <div class="more-reactions">
        <a href="#">View all <strong>156</strong> of Josh's reactions</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="permalink--author-card">
        <div class="mini-cover" style="background-image: url('https://kitsu.io/images/default_cover-7bda2081d0823731a96bbb20b70f4fcf.png')">
          <div class="author-name">
            <h5>Josh</h5>
          </div>
          <div class="author-follow">
            <button class="button button--primary active">
              <span class="button-label">
                  Follow
                </span>
            </button>
          </div>
        </div>
        <div class="mini-cover--avatar">
          <img src="https://media.kitsu.io/users/avatars/2/large.jpeg?1499021719">
        </div>
      </div>
      <div class="guest-card">
        <p>Josh is using Kitsu to track their progress and share their anime & manga experiences.</p>
        <button class="button button--primary active">
          <span class="button-label">
            Create Account
          </span>
        </button>
      </div>
    </div>
  </div>

</div>
