<div class="col-md-8 col-xs-11 centered">
  <ul class="notification-list full-size">
    {{#each model as |group|}}
      {{application/user-notifications/item tagName="li" class="notification-item" group=group}}
    {{/each}}
  </ul>
</div>
