<div class="character-banner"></div>

<div class="character-sidebar">
  <div class="character-portrait">
    <img src="https://myanimelist.cdn-dena.com/images/voiceactors/1/38773.jpg">
  </div>
  <div class="character-facts">
    <h5>Personal Info</h5>
    <ul class="fact-list">
      <li>
        <strong>Given name:</strong>
        駿
      </li>
      <li>
        <strong>Family name:</strong>
        宮崎
      </li>
      <li>
        <strong>Birthday:</strong>
        Jan 5, 1941
      </li>
      <li>
        <strong>Known Credits:</strong>
        34
      </li>
      <li>
        <strong>Official Site:</strong>
        http://www.ghibli.jp/
      </li>

    </ul>
  </div>
</div>


<div class="character-name col-sm">
  <h1>Hayao Miyazaki</h1>
  <div class="character-bio">
    <h5>Biography</h5>
    <p>Miyazaki, the second of four brothers, was born in the town of Akebono-cho, part of Tokyo's Bunkyō-ku. During World War II, Miyazaki's father Katsuji was director of Miyazaki Airplane, owned by his brother (Hayao Miyazaki's uncle), which made rudders for A6M Zero fighter planes. During this time, Miyazaki drew airplanes and developed a lifelong fascination with aviation, a penchant that later manifested as a recurring theme in his films.</p>
  </div>
  <div class="known-for">
    <h5>Known for</h5>
    <ul class="character-media-list row">
      <li class="col-xs-3">
        <div class="image">
          <a href="#">
            <img class="poster" src="https://media.kitsu.io/anime/poster_images/176/large.jpg?1440954517">
          </a>
        </div>
        <a class="title" href="#">
          Spirited Away
        </a>
      </li>
      <li class="col-xs-3">
        <div class="image">
          <a href="#">
            <img class="poster" src="https://media.kitsu.io/anime/poster_images/176/large.jpg?1440954517">
          </a>
        </div>
        <a class="title" href="#">
          Spirited Away
        </a>
      </li>
      <li class="col-xs-3">
        <div class="image">
          <a href="#">
            <img class="poster" src="https://media.kitsu.io/anime/poster_images/176/large.jpg?1440954517">
          </a>
        </div>
        <a class="title" href="#">
          Spirited Away
        </a>
      </li>
      <li class="col-xs-3">
        <div class="image">
          <a href="#">
            <img class="poster" src="https://media.kitsu.io/anime/poster_images/176/large.jpg?1440954517">
          </a>
        </div>
        <a class="title" href="#">
          Spirited Away
        </a>
      </li>
      <li class="col-xs-3">
        <div class="image">
          <a href="#">
            <img class="poster" src="https://media.kitsu.io/anime/poster_images/176/large.jpg?1440954517">
          </a>
        </div>
        <a class="title" href="#">
          Spirited Away
        </a>
      </li>
      <li class="col-xs-3">
        <div class="image">
          <a href="#">
            <img class="poster" src="https://media.kitsu.io/anime/poster_images/176/large.jpg?1440954517">
          </a>
        </div>
        <a class="title" href="#">
          Spirited Away
        </a>
      </li>
      <li class="col-xs-3">
        <div class="image">
          <a href="#">
            <img class="poster" src="https://media.kitsu.io/anime/poster_images/176/large.jpg?1440954517">
          </a>
        </div>
        <a class="title" href="#">
          Spirited Away
        </a>
      </li>
      <li class="col-xs-3">
        <div class="image">
          <a href="#">
            <img class="poster" src="https://media.kitsu.io/anime/poster_images/176/large.jpg?1440954517">
          </a>
        </div>
        <a class="title" href="#">
          Spirited Away
        </a>
      </li>
    </ul>
  </div>

  <div class="roles-table">
    <h5>Roles</h5>
    <table class="credits" border="0" cellspacing="0" cellpadding="0" data-role="tooltip">
      <tbody>
        <tr>
          <td>
            <table class="credit_group">

              <tbody>
                <tr>
                  <td class="year">2002</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/11/3007.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Mei to Koneko Bus</a>
                    as
                    <a href="#">Totoro</a>
                    <small>supporting</small>
                  </td>
                </tr>

                <tr>
                  <td class="year">2002</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/11/3007.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Mei to Koneko Bus</a>
                    as
                    <a href="#">Grandmother Nekobasu</a>
                    <small>supporting</small>
                  </td>
                </tr>

              </tbody>
            </table>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="roles-table">
    <h5>Anime Staff Positions</h5>
    <table class="credits" border="0" cellspacing="0" cellpadding="0" data-role="tooltip">
      <tbody>
        <tr>
          <td>
            <table class="credit_group">

              <tbody>
                <tr>
                  <td class="year">2013</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/8/52353.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Kaze Tachinu</a>
                    as
                    <span class="position">Original Creator</span>
                  </td>
                </tr>

                <tr>
                  <td class="year">2013</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/8/52353.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Kaze Tachinu</a>
                    as
                    <span class="position">Director</span>
                  </td>
                </tr>

                <tr>
                  <td class="year">2013</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/8/52353.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Kaze Tachinu</a>
                    as
                    <span class="position">Screenplay</span>
                  </td>
                </tr>

              </tbody>
            </table>
            <table class="credit_group">

              <tbody>
                <tr>
                  <td class="year">2011</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/8/32547.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Coquelicot-zaka kara</a>
                    as
                    <span class="position">Planning</span>
                  </td>
                </tr>

                <tr>
                  <td class="year">2011</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/8/32547.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Coquelicot-zaka kara</a>
                    as
                    <span class="position">Screenplay</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="roles-table">
    <h5>Published Manga</h5>
    <table class="credits" border="0" cellspacing="0" cellpadding="0" data-role="tooltip">
      <tbody>
        <tr>
          <td>
            <table class="credit_group">

              <tbody>
                <tr>
                  <td class="year">2013</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/8/52353.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Kaze Tachinu</a>
                    as
                    <span class="position">Original Creator</span>
                  </td>
                </tr>

                <tr>
                  <td class="year">2013</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/8/52353.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Kaze Tachinu</a>
                    as
                    <span class="position">Director</span>
                  </td>
                </tr>

                <tr>
                  <td class="year">2013</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/8/52353.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Kaze Tachinu</a>
                    as
                    <span class="position">Screenplay</span>
                  </td>
                </tr>

              </tbody>
            </table>
            <table class="credit_group">

              <tbody>
                <tr>
                  <td class="year">2011</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/8/32547.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Coquelicot-zaka kara</a>
                    as
                    <span class="position">Planning</span>
                  </td>
                </tr>

                <tr>
                  <td class="year">2011</td>
                  <td class="seperator">
                    <span class="poster-wrapper">
                      <img src="https://myanimelist.cdn-dena.com/images/anime/8/32547.jpg">
                    </span>
                  </td>
                  <td class="role">
                    <a href="#" class="role-media">Coquelicot-zaka kara</a>
                    as
                    <span class="position">Screenplay</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
