<div class="col-md-8 col-xs-11 centered">
  {{stream-feed/items/post post=model isExpanded=true readOnly=(not session.hasUser) commentSort="oldest"
    isPermalinkPage=true
    isModalView=true}}
</div>
