<style>
  .global-container {
    max-width: 100%;
  }
</style>

{{#if session.hasUser}}
  {{! TODO: Session user content }}
{{else}}
  {{! TODO: Componentize into `guest-cta`}}
  <div class="guest-banner">
    <div class="guest-container container">
      <div class="row">
        <div class="guest-cta--wrapper">
          <h1>Meet your next favorite anime or manga.</h1>
          <p>Kitsu is a social platform anime and manga fans. <br> We'll help you find and share more of what you love.</p>
        </div>
        <div class="modal-actions">
          <button title="Connect with Facebook" aria-label="Connect with Facebook" class="button button--facebook" data-ember-action="" data-ember-action-884="884">
            <span class="svgIcon">
              <svg class="svgIcon-use" width="21" height="21" viewBox="0 0 21 21"><path d="M18.26 10.55c0-4.302-3.47-7.79-7.75-7.79-4.28 0-7.75 3.488-7.75 7.79a7.773 7.773 0 0 0 6.535 7.684v-5.49h-1.89v-2.2h1.89v-1.62c0-1.882 1.144-2.907 2.814-2.907.8 0 1.48.06 1.68.087V8.07h-1.15c-.91 0-1.09.435-1.09 1.07v1.405h2.16l-.28 2.2h-1.88v5.515c3.78-.514 6.7-3.766 6.7-7.71"></path></svg>
            </span>
            <span class="button-label button-label--multiLine">
              Login with Facebook
            </span>
          </button>
          <a class="community-btn btn-primary" {{action "joinCommunity"}}>
            Join the Community
          </a>
        </div>
      </div>
    </div>
    <section class="guest-search">
      <div class="container">
        <div class="row">
          <div class="guest-search--wrapper">
            <span class="icon">
              {{svg-jar "search"}}
            </span>
            <input class="guest-search" type="search" placeholder="Search for an anime, manga, user..." id="guest-search">
          </div>
        </div>
      </div>
    </section>
  </div>
{{/if}}

<div class="trending-sections">
  <section class="trending-row">
    <div class="container">
      <div class="row">
        <div class="trending-row--header">
          <h3 class="trending-row--title">Anime Trending this Week</h3>
          <nav class="nav nav-simple">
            <a class="nav-link active" href="#">Anime</a>
            <a class="nav-link" href="#">Manga</a>
          </nav>
        </div>
        {{#em-flickity class="trending-media" cellAlign="left" showSlides=true}}
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
        {{/em-flickity}}
      </div>
    </div>

  </section>

  <section class="trending-row just-reviewed">
    <div class="container">
      <div class="row">
        <div class="trending-row--header">
          <h3 class="trending-row--title">Recently Reviewed Anime</h3>
          <nav class="nav nav-simple">
            <a class="nav-link active" href="#">Anime</a>
            <a class="nav-link" href="#">Manga</a>
          </nav>
        </div>
        {{#em-flickity class="trending-media" showSlides=true}}
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <a href="#" class="review-author">
              <img src="https://media.kitsu.io/users/avatars/2/large.jpeg?1444332940">
            </a>
          </div>

          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <a href="#" class="review-author">
              <img src="https://media.kitsu.io/users/avatars/2/large.jpeg?1444332940">
            </a>
          </div>

          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <a href="#" class="review-author">
              <img src="https://media.kitsu.io/users/avatars/2/large.jpeg?1444332940">
            </a>
          </div>

          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <a href="#" class="review-author">
              <img src="https://media.kitsu.io/users/avatars/2/large.jpeg?1444332940">
            </a>
          </div>

          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <a href="#" class="review-author">
              <img src="https://media.kitsu.io/users/avatars/2/large.jpeg?1444332940">
            </a>
          </div>

          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <a href="#" class="review-author">
              <img src="https://media.kitsu.io/users/avatars/2/large.jpeg?1444332940">
            </a>
          </div>

          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <a href="#" class="review-author">
              <img src="https://media.kitsu.io/users/avatars/2/large.jpeg?1444332940">
            </a>
          </div>

          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <a href="#" class="review-author">
              <img src="https://media.kitsu.io/users/avatars/2/large.jpeg?1444332940">
            </a>
          </div>
        {{/em-flickity}}
      </div>
    </div>
  </section>

  <section class="trending-row just-reviewed">
    <div class="container">
      <div class="row">
        <div class="trending-row--header">
          <h3 class="trending-row--title">Popular Anime Reviews</h3>
          <nav class="nav nav-simple">
            <a class="nav-link active" href="#">Anime</a>
            <a class="nav-link" href="#">Manga</a>
          </nav>
        </div>

        {{#em-flickity class="trending-review-section" cellAlign="center" prevNextButtons="false" showSlides=true}}
          <div class="trending-review">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="review-content">
              <div class="review-header clearfix">
                <h4><a href="#">Attack on Titan</a></h4>
                <div class="attribution-block">
                  <a href="/users/Lukah" class="review-avatar">
                    <img id="ember16730" class="lazy-image ember-view" src="https://media.kitsu.io/users/avatars/5425/small.jpg?1451363108">
                  </a>
                  <a href="/users/Lukah" class="review-author">
                    Lukah
                  </a>
                  <span class="stream-review-rating">
                    <div id="ember16731" class="ember-view has-rating" style="display: inline-block;">
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-0" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-0)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-1" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-1)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-2" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-2)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-3" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-3)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-half">
                        <defs>
                            <linearGradient id="ember16731-star-4" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="50%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-4)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                    </div>
                  </span>
                </div>
              </div>
              <blockquote class="body-text">
  							<a href="#">
                  <p>
                    We have the capacity to be great, but we squander it with ignorance and prejudice. Louise’s need to decipher this alien language is not unlike our own need to simply talk to those who oppose us, and communicate with those we fear… Words have a tangible, important meaning. This film is a reminder that communication offers the best path forward for humanity; a shining light in a world of troubling uncertainty.
                  </p>
                </a>
  						</blockquote>
            </div>
          </div>
          <div class="trending-review">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="review-content">
              <div class="review-header clearfix">
                <h4><a href="#">Attack on Titan</a></h4>
                <div class="attribution-block">
                  <a href="/users/Lukah" class="review-avatar">
                    <img id="ember16730" class="lazy-image ember-view" src="https://media.kitsu.io/users/avatars/5425/small.jpg?1451363108">
                  </a>
                  <a href="/users/Lukah" class="review-author">
                    Lukah
                  </a>
                  <span class="stream-review-rating">
                    <div id="ember16731" class="ember-view has-rating" style="display: inline-block;">
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-0" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-0)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-1" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-1)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-2" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-2)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-3" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-3)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-half">
                        <defs>
                            <linearGradient id="ember16731-star-4" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="50%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-4)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                    </div>
                  </span>
                </div>
              </div>
              <blockquote class="body-text">
  							<a href="#">
                  <p>
                    We have the capacity to be great, but we squander it with ignorance and prejudice. Louise’s need to decipher this alien language is not unlike our own need to simply talk to those who oppose us, and communicate with those we fear… Words have a tangible, important meaning. This film is a reminder that communication offers the best path forward for humanity; a shining light in a world of troubling uncertainty.
                  </p>
                </a>
  						</blockquote>
            </div>
          </div>
          <div class="trending-review">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="review-content">
              <div class="review-header clearfix">
                <h4><a href="#">Attack on Titan</a></h4>
                <div class="attribution-block">
                  <a href="/users/Lukah" class="review-avatar">
                    <img id="ember16730" class="lazy-image ember-view" src="https://media.kitsu.io/users/avatars/5425/small.jpg?1451363108">
                  </a>
                  <a href="/users/Lukah" class="review-author">
                    Lukah
                  </a>
                  <span class="stream-review-rating">
                    <div id="ember16731" class="ember-view has-rating" style="display: inline-block;">
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-0" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-0)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-1" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-1)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-2" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-2)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-full">
                        <defs>
                            <linearGradient id="ember16731-star-3" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="100%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-3)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                      <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" class="star-half">
                        <defs>
                            <linearGradient id="ember16731-star-4" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="50%" stop-color="yellow" class="star-rating-filled"></stop>
                                <stop offset="0%" stop-color="lightgrey" class="star-rating-base"></stop>
                            </linearGradient>
                        </defs>

                        <path fill="url(#ember16731-star-4)" d="M25.326,10.137c-0.117-0.361-0.431-0.625-0.807-0.68l-7.34-1.066l-3.283-6.651 c-0.337-0.683-1.456-0.683-1.793,0L8.82,8.391L1.48,9.457c-0.376,0.055-0.689,0.318-0.807,0.68c-0.117,0.363-0.02,0.76,0.253,1.025 l5.312,5.178l-1.254,7.31c-0.064,0.375,0.09,0.755,0.397,0.978c0.309,0.225,0.717,0.254,1.054,0.076L13,21.252l6.564,3.451 c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.223,0.462-0.603,0.397-0.978l-1.254-7.31 l5.312-5.178C25.346,10.896,25.443,10.5,25.326,10.137z"></path>
                      </svg>
                    </div>
                  </span>
                </div>
              </div>
              <blockquote class="body-text">
  							<a href="#">
                  <p>
                    We have the capacity to be great, but we squander it with ignorance and prejudice. Louise’s need to decipher this alien language is not unlike our own need to simply talk to those who oppose us, and communicate with those we fear… Words have a tangible, important meaning. This film is a reminder that communication offers the best path forward for humanity; a shining light in a world of troubling uncertainty.
                  </p>
                </a>
  						</blockquote>
            </div>
          </div>
        {{/em-flickity}}
      </div>
    </div>
  </section>

  <section class="trending-row seasonal-series">
    <div class="container">
      <div class="row">
        <div class="trending-row--header">
          <h3 class="trending-row--title">Winter Anime of 2017</h3>
          <nav class="nav nav-simple">
            <a class="nav-link active" href="#">Winter 2017</a>
            <a class="nav-link" href="#">Fall 2016</a>
            <a class="nav-link" href="#">Summer 2016</a>
            <a class="nav-link" href="#">Spring 2016</a>
          </nav>
        </div>
        {{#em-flickity class="trending-media" showSlides=true}}
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
        {{/em-flickity}}
      </div>
    </div>
  </section>

  <section class="trending-row annual-trending">
    <div class="container">
      <div class="row">
        <div class="trending-row--header">
          <h3 class="trending-row--title">Highest Rated Anime 2016</h3>
          <nav class="nav nav-simple">
            <a class="nav-link active" href="#">Anime</a>
            <a class="nav-link" href="#">Manga</a>
          </nav>
        </div>
        {{#em-flickity class="trending-media" showSlides=true}}
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
        {{/em-flickity}}
      </div>
    </div>
  </section>

  <section class="trending-row annual-trending">
    <div class="container">
      <div class="row">
        <div class="trending-row--header">
          <h3 class="trending-row--title">Most Popular Anime 2016</h3>
          <nav class="nav nav-simple">
            <a class="nav-link active" href="#">Anime</a>
            <a class="nav-link" href="#">Manga</a>
          </nav>
        </div>
        {{#em-flickity class="trending-media" showSlides=true}}
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
          <div class="trending-cell">
            <a href="#" class="media-poster">
              <img src="https://media.kitsu.io/anime/poster_images/3936/large.jpg?1419000387">
            </a>
            <div class="ellipsis">
              <a href="/anime/fullmetal-alchemist-brotherhood" class="media-title">
                Fullmetal Alchemist: Brotherhood
              </a>
            </div>
          </div>
        {{/em-flickity}}
      </div>
    </div>
  </section>
</div>
