name: automerge
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
    branches:
      - crowdin # automerge translations
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}
jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.11.0"
        if: endsWith(github.ref, "ref/head/crowdin")
        env:
          MERGE_LABELS: ""
          MERGE_METHOD: "squash"
          MERGE_FILTER_AUTHOR: "wopian"
          MERGE_FORKS: false
          MERGE_RETRY_SLEEP: 600000 # 10 minutes in milliseconds
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
